 // Remove Sidebar Image & Shrink Header 
 .side::before {
   content: none;
 }

 #header-bottom-left {
   // top: 100px; 
   top: 40px;
 }

 #header {
   // height: 196px; 
   height: 136px;
 }

 .side {
   margin-top: 200px;
   // margin-top: 140px; 
 }

 .search-page .side {
   // margin-top: 150px; 
   margin-top: 90px;
 }

 .res.comments-page .side,
 .comments-page .side,
 .single-page .side {
   margin-top: 305px;
 }

 .side .titlebox {
   margin-top: 0px;
 }

 #search,
 .submit .morelink,
 .side .titlebox h1.redditname,
 .subscribers,
 .titlebox .fancy-toggle-button,
 .comments-page .side .linkinfo,
 .other-discussions-page .side .linkinfo {
   // margin-top: -80px; 
   margin-top: -140px;
 }

 // End Remove Sidebar Image & Shrink Header 

 // Disable 'get premium banner' - temporary 
 /* .premium-banner {
    display: none;
  } */

 // Fix search results position 
 div#previoussearch>form#search>input,
 div#previoussearch>form#search>label {
   margin-left: 160px;
 }

 .search-page #search {
   margin-bottom: 55px;
   margin-top: 0px;
   position: static;
 }

 // End Fix search results position 