 User Flair Selector*/

 /* Remove Sidebar Image & Shrink Header */
 .side::before {
   content: none;
 }

 #header-bottom-left {
   /* top: 100px; */
   top: 40px;
 }

 #header {
   /* height: 196px; */
   height: 136px;
 }

 .side {
   margin-top: 200px;
   /* margin-top: 140px; */
 }

 .search-page .side {
   /* margin-top: 150px; */
   margin-top: 90px;
 }

 .res.comments-page .side,
 .comments-page .side,
 .single-page .side {
   margin-top: 305px;
 }

 .side .titlebox {
   margin-top: 0px;
 }

 #search,
 .submit .morelink,
 .side .titlebox h1.redditname,
 .subscribers,
 .titlebox .fancy-toggle-button,
 .comments-page .side .linkinfo,
 .other-discussions-page .side .linkinfo {
   /* margin-top: -80px; */
   margin-top: -140px;
 }

 /* End Remove Sidebar Image & Shrink Header */

 /* Disable 'get premium banner' - temporary */
 /* .premium-banner {
    display: none;
  } */

 /* Fix search results position */
 div#previoussearch>form#search>input,
 div#previoussearch>form#search>label {
   margin-left: 160px;
 }

 .search-page #search {
   margin-bottom: 55px;
   margin-top: 0px;
   position: static;
 }

 /* End Fix search results position */

 /* style titlebox h3 links to look like buttons */
 .side .titlebox .md h3 a {
   font-size: 14px;
   border: none;
   letter-spacing: 0;
   font-weight: 400;
   background-color: #f50;
   line-height: 36px;
 }

 /* end h3 a styles */

 /* Sidebar Rules box styling */
 .side ol:nth-of-type(1) {
   border: 1px solid rgba(0, 0, 0, 0.19);
   border-top: none;
   margin-top: -25px;
   padding: 0.5rem 1.5rem 0 1.5rem;
   border-radius: 0 0 3px 3px;
   box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.27);
   font-weight: bold;
 }

 /* End Sidebar Rules box styling */

 /*Custom post-flair formatting*/

 .linkflair-unsolved .linkflairlabel {
   background-color: #ff5500;
 }

 .linkflair-solved .linkflairlabel {
   background-color: #738491;
 }

 .linkflair-discussion .linkflairlabel,
 .linkflair-challenge .linkflairlabel {
   background-color: #007acc;
 }

 .linkflair-protip .linkflairlabel {
   background-color: #e0d400;
 }

 .linkflair-codereview .linkflairlabel {
   background-color: #800080;
 }

 .linkflair-modpost .linkflairlabel {
   background-color: #27b062;
 }

 .linkflair-advertisement .linkflairlabel {
   background-color: #333333;
 }

 .linkflair-showntell .linkflairlabel {
   background-color: #000;
 }

 .side .titlebox .md h3:nth-of-type(1) a:hover,
 .side .titlebox .md h3:nth-of-type(2) a:hover,
 .side .titlebox .md h3:nth-of-type(3) a:hover,
 .side .titlebox .md h3:nth-of-type(4) a:hover,
 .side .titlebox .md h3:nth-of-type(5) a:hover {
   opacity: 0.9;
 }

 /*End Custom post-flair formatting*/

 /* Filter by flair styling */

 .titlebox .md>ul:nth-of-type(1)>li {
   left: -56px;
   position: relative;
 }

 .titlebox blockquote {
   display: block;
   border-left: none;
   z-index: 11;
   background-color: white;
   overflow: hidden;
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
     0 2px 4px -1px rgba(0, 0, 0, 0.2);
   padding: 10px;
   width: 300px;
   border-radius: 4px;
 }

 .titlebox .md>ul:nth-of-type(1)>li>p {
   background-color: #f50;
   color: #ffffff;
   border-radius: 2px;
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
   font-size: 14px !important;
   font-weight: 400;
   text-align: center;
   margin-left: 16px;
   width: 288px;

   line-height: 36px;
   transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
     background 0.2s cubic-bezier(0.4, 0, 0.2, 1),
     color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
 }

 .titlebox .md>ul:nth-of-type(1)>li>p:hover {
   background: #ff874b;
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
     0 2px 4px -1px rgba(0, 0, 0, 0.2);
 }

 .titlebox .md:nth-of-type(1)>ul {
   color: transparent;
 }

 .titlebox .md>ul:nth-of-type(1)>li blockquote {
   position: absolute;
   background-color: white;
   margin-top: -44px;
   visibility: hidden;
   right: 250px;
   opacity: 0;
   transition: opacity 0.25s ease, visibility 0.25s ease;
 }

 .titlebox .md>ul:nth-of-type(1)>li:hover blockquote {
   visibility: visible;
   opacity: 1;
   transition: opacity 0.25s ease, visibility 0.25s ease;
 }

 .titlebox blockquote h3 {
   text-align: center;
 }

 .md>ul>li>blockquote>p>a {
   box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.17);
   color: #ffffff !important;
   border: 1px solid #e0e0e0;
   font-size: 12px;
   line-height: 30px;
   text-align: center;
   display: block;
   margin-top: 6px;
   margin-bottom: 3px;
   width: 284px;
   border-radius: 3px;
   position: relative;
 }

 .md>ul>li>blockquote>p {
   border-radius: 3px;
   width: 284px;
 }

 .md>ul>li>blockquote>p:hover {
   opacity: 0.85;
 }

 .md>ul>li>blockquote>p>a {
   width: 284px;
 }

 .md>ul>li>blockquote>p:nth-child(1) {
   background-color: #f50;
 }

 .md>ul>li>blockquote>p:nth-child(2) {
   background-color: #738491;
 }

 .md>ul>li>blockquote>p:nth-child(3) {
   background-color: #007acc;
 }

 .md>ul>li>blockquote>p:nth-child(4) {
   background-color: #e0d400;
 }

 .md>ul>li>blockquote>p:nth-child(5) {
   background-color: #800080;
 }

 .md>ul>li>blockquote>p:nth-child(6) {
   background-color: #000;
 }

 .md>ul>li>blockquote>p:nth-child(7) {
   background-color: #007acc;
 }

 /* End Filter by flair styling */