@import 'variables';

.toggleButton {
    line-height: 0.8;

    .toggleOn {
        border-radius: 0;
        border: 1px solid getColor('theme', 'primary');
        ;
        background-color: getColor('theme', 'primary');
        ;
        color: $light-text;
        text-transform: capitalize;
    }

    .toggleOff {
        border-radius: 0;
        border: 1px solid #D7D9DC;
        background-color: transparent;
        text-transform: capitalize;
    }
}


body .btn,
body button,
.c-btn-primary,
.wiki-page .wiki-page-content .wiki_button {
    margin: 4px 16px 4px 0;
    padding: 0 16px;
    background: getColor('theme', 'primary');
    border: none;
    border-radius: 2px;
    color: $light-text;
    text-transform: uppercase;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: Lato, Arial, sans-serif;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
button:hover,
.c-btn-primary:hover,
.wiki-page .wiki-page-content .wiki_button {
    color: $light-text;
    background: getColor('theme', 'primary');
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn:active,
button:active,
.c-btn-primary:active,
.wiki-page .wiki-page-content .wiki_button {
    color: $light-text;
    background: #0066b2;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.c-btn-primary {
    &:active {
        margin-top: 4px;
    }
}