@import "images";
@import 'variables';

.commentarea .flair,
.commentarea .side .tagline .flair {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), getImage('clippy');
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35px;
    border-radius: 3px;
    font: normal verdana, arial, helvetica, sans-serif;
    color: getColor('theme', 'primary');
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-shadow: 0px 1px 0px #333333;
    z-index: 1;
}

.commentarea .flair:not(:empty):hover:after,
.commentarea .tagline .flair:not(:empty):hover:after {
    content: "ClippyPoints Awarded:  "attr(title);
    position: absolute;
    left: -1px;
    font-size: 90%;
    line-height: 15px;
    margin-top: -2px;
    padding: 6px 6px;
    text-indent: 0;
    transform: translateY(-50%);
    background-color: getColor('theme', 'primary');
    color: $light-text;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    transition: all 0.25s ease;
    white-space: nowrap;
    text-shadow: none;
    letter-spacing: 0px;
}

.commentarea .thing,
.res .commentarea .thing,
html.res-commentBoxes.res-commentBoxes-rounded .comment {
    position: relative;
}

.comment .child,
.comment .showreplies {
    border-left: 1px solid #edf1f3;
    margin-top: 0;
    margin-left: 20px;
}

.comment {
    .midcol {
        width: 24px;
        margin-right: 0;

        .arrow {
            margin-left: 0;
            margin-bottom: 4px;
        }
    }

    .entry {
        .tagline {
            color: #98abba;
            font: 12px Lato, Arial, sans-serif;
        }
    }

    .expand {
        background: none;
        transition: all 0.15s ease;
        color: #98abba;

        &:hover {
            color: #98abba;
            text-decoration: none;
            background: #edf1f3;
        }
    }

    &.collapsed {
        a {
            &.expand {
                &:after {
                    content: "ah ";
                    position: absolute;
                    display: block;
                    width: calc(100% - 368px);
                    background: rgba(0, 0, 0, 0);
                    left: 16px;
                    margin-top: -34px;
                    height: 50px;
                    border-radius: 2px;
                    color: transparent;
                    transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                }

                &:hover {
                    &:after {
                        background: rgba(0, 0, 0, 0.04);
                    }
                }
            }
        }
    }

    .author {
        color: #292f34;
        margin-right: 0;
        font-weight: 700;

        &:hover {
            color: $link;
            text-decoration: none;
        }
    }

    .score {
        font-size: inherit;
        font-weight: 700;
        color: #738491;

        &:before {
            content: "• ";
            margin: 0 2px;
            vertical-align: middle;
            line-height: 14px;
        }
    }

    .usertext {
        .md {
            color: #292f34;
        }
    }

    &.spam {
        &>.child {
            padding-left: 0;
            margin-left: 16px;
        }
    }

    .flat-list {
        li {
            a {
                color: #98abba;
                font-weight: 400;
                font-size: 10px;

                &:hover {
                    color: $link;
                    text-decoration: none;
                }
            }

            a[onclick*=reply] {
                color: $link;
                font-weight: 700;
                font-size: 11px;
            }
        }
    }
}

.commentarea {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    .infobar {
        line-height: 18px;
        margin: 0 0 16px;

        a {
            color: rgba(0, 0, 0, 0.64);
            font-weight: 700;
        }
    }

    .panestack-title {
        margin: 0;
        border-bottom: 0;
        padding-left: 16px;
        margin-top: 16px;

        .title {
            color: #4D5763;
        }
    }

    .menuarea {
        margin: 0 0 20px;
        padding-left: 16px;

        span {
            &.dropdown-title {
                &.lightdrop {
                    color: #98abba;

                    &:first-letter {
                        text-transform: capitalize;
                    }
                }
            }
        }

        .dropdown {
            &.lightdrop {
                .selected {
                    font-weight: 400;
                }
            }
        }
    }

    &>.usertext {
        background: #FAFAFA;
        margin: 0;
        padding: 16px;
        overflow: visible;
        -ms-flex-order: -1;
        order: -1;

        textarea {
            &:not(:focus) {
                background: getImage('commentboxbg') no-repeat 50% 50%;
            }
        }
    }

    .usertext-edit {
        width: 100%;
        max-width: 504px;

        textarea {
            position: relative;
            z-index: 0;
            width: 100%;
        }

        .md {
            margin: 0 0 16px;
        }
    }

    .sitetable {
        margin: 0;
        box-shadow: none;
    }

    .thing {
        margin: 0 0 16px;
        padding: 8px 16px 8px 0;
    }

    .child {
        .thing {
            box-shadow: none;
            padding: 8px 8px 8px 2px;
            margin: 8px 0 0;
        }
    }

    .comment {
        .midcol {
            margin-top: 2px;
            width: 32px;
            margin-right: 6px;
            overflow: visible;
        }
    }

    .entry {
        padding-left: 40px;
    }
}