@import "images";
@import 'variables';

body {
    overflow-x: hidden;
    background: #eee;
    min-width: 920px;

    &:not(.loggedin) {
        #sr-header-area {
            .width-clip {
                right: 340px;
            }
        }

        #header-bottom-right {
            max-width: 340px;
        }
    }

    .content {
        .sitetable {
            .link {
                .title {
                    a {
                        &:hover {
                            color: $link;
                        }
                    }
                }
            }
        }

        .thing {
            &.spam {
                background-color: #FFE9E6;
            }
        }
    }

    &>.content {
        .link {
            &.compressed {
                .midcol {
                    height: auto;
                    margin: 8px 4px 0 0;
                }
            }
        }
    }

    &.mod-toolbox {
        .tb-action-button {
            height: 22px !important;
            line-height: 0;
        }
    }

    #newlink-with-image-upload {
        .file-upload-button {
            padding-right: 18px;
            line-height: 37px;
        }
    }

    &:not(.subscriber) {
        #siteTable {
            &::before {
                content: "You're not subscribed to r/vba yet! Subscribe now to get help with your vba code!";
                display: block;
                margin-bottom: 15px;
                background-color: getColor('theme', 'primary');
                border: none;
                color: $light-text !important;
                text-align: center;
                text-shadow: 0px 1px 0px #333333;
                letter-spacing: 0px;
                font-weight: bold;
                font-size: 17px;
                font-family: Arial, sans-serif;
                line-height: 37px;
                height: 36px;
                transition: all 0.2s ease;
            }
        }
    }
}


.listing-page {
    .comment {
        margin-left: 0;
        padding: 16px 16px 16px 8px;

        .midcol {
            width: 36px;
            margin-right: 2px;
            margin-top: 4px;
            overflow: visible;
        }

        .parent {
            margin-bottom: 4px;
        }

        .title {
            font-size: 14px;
            margin-left: 8px;
        }
    }
}


.link {
    margin: 0;
    padding: 16px;
    position: relative;

    .midcol {
        width: 32px !important;
        margin: 0 16px 0 0;
        overflow: visible;
        height: 56px;
    }

    .score {
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        margin: 1px -100%;

        &.likes {
            color: #ff6422;
        }

        &.dislikes {
            color: #5c5bd7;
        }
    }

    .entry {
        padding: 0;
        margin: 0;
        max-width: 960px;

        .tagline {
            a {
                color: #292f34;

                &:hover {
                    color: $link;
                    text-decoration: none;
                }

                &.author {
                    margin-right: inherit;
                }
            }

            &:first-letter {
                text-transform: capitalize;
            }

            time {
                cursor: help;
            }
        }

        .buttons {
            li {
                a {
                    &:hover {
                        color: $link;
                        text-decoration: none;
                    }

                    &.comments {
                        color: $link;
                        font-weight: 700 !important;
                        transition: all 0.25s ease-in-out !important;
                    }
                }

                .redditSingleClick {
                    padding: 0 1px;
                    color: #98abba;
                    font: normal 13px Lato, Arial, sans-serif;
                    transition: all 0.15s ease;
                }
            }
        }

        li {
            .comments {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .title {
        margin: 0;
        font: 13.5pt Lato, Arial, sans-serif;
        transition: all 0.15s ease;
        overflow: visible;
    }

    .domain {
        visibility: hidden;

        a {
            visibility: visible;
            position: relative;
            top: -1px;
            color: #98abba;
            transition: all 0.15s ease;

            &:hover {
                color: $link;
                text-decoration: none;
            }
        }
    }

    &.self {
        .expando-gate {
            border-radius: 2px;
        }
    }

    .usertext {
        .md {
            margin-top: 12px;
            margin-bottom: -12px;
            padding-top: 12px;
            padding-left: 0;
            background-color: transparent;
            border: 0 solid;
            border-top: 1px solid #edf1f3;
            border-radius: 0;
            color: #292f34;
        }
    }

    .flat-list {
        padding: 0;
        margin-top: 3px;
    }

    &.last-clicked {
        background: rgba(0, 0, 0, 0.04);
        border: none;
    }

    &.promotedlink {
        &.promoted {
            background-color: #EFF7FF;
            padding: 16px 0;

            .thumbnail {
                height: auto;

                img {
                    max-height: none;
                    max-width: none;
                    min-width: 0;
                    min-height: 0;
                    transform: none;
                }
            }
        }
    }

    &.compressed {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        .score {
            margin: 0 3px 0 0;
        }

        .entry {
            padding: 9px 32px 9px 0;
        }

        .title {
            margin: 0;
        }
    }

    .flair {
        font-size: 12px;
    }
}

.pinnable-content {
    &.pinned {
        .link {
            display: flex;

            .midcol {
                align-self: center;
            }

            .entry {
                display: flex;
                max-width: initial;
            }
        }

        .top-matter {
            order: 1;
            width: initial;
            align-self: center;
        }

        .expando {
            margin: 0 20px 0 0;
        }

        .invisible-when-pinned {
            display: none;
        }
    }
}

.pinnable-content.pinned .midcol,
.pinnable-content.pinned .top-matter,
.pinnable-content.pinned .reddit-video-player-root {
    position: initial;
}

#newlink-with-image-upload {
    #new-link-video-preview {
        box-shadow: none !important;
    }
}

body>.content .link .rank,
.rank-spacer {
    display: none;
}

.thing.link.stickied a.title,
.thing.link.stickied li a,
.thing.link.stickied .entry li .comments {
    color: $mod-green !important;
}

.thing {
    &.link {
        &.stickied {
            .expando-button {
                &:hover {
                    background-color: $mod-green !important;
                    border-color: $mod-green !important;
                }
            }
        }
    }

    .arrow {
        &.archived {
            pointer-events: none;

            &.up {
                opacity: 0.1;
            }

            &.down {
                opacity: 0.2;
            }
        }
    }
}

.stickied.comment>.entry a,
.stickied.comment .tagline .stickied-tagline {
    color: $mod-green;
}

.content {
    .spacer {
        margin: 0;
    }

    &>.menuarea {
        margin: 0;
        padding: 0 20px;
        border: none;
        color: #738491;
        overflow: visible;
        line-height: 36px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }

    .infobar {
        margin: 0 0 16px;
        padding: 8px 16px;
        line-height: 26px;
        border: none;
        background-color: $selected;
        color: $light-text;
        border-radius: 2px;

        &:first-letter {
            text-transform: capitalize;
        }

        &.welcome {
            line-height: inherit;
            height: 86px;

            h1 {
                color: #4d5763;
            }
        }
    }

    &.submit {
        .info-notice {
            background: #edf1f3;
            padding: 16px;
            border: none;
            margin-bottom: 0;
        }
    }
}

.organic-listing {
    background: getColor('theme', 'background') !important;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    border: none;
    border-radius: 2px 2px 0 0;

    .help {
        margin-bottom: 20px;
        margin-right: 16px;
        color: #98abba;
    }

    .sponsored-tagline {
        margin-bottom: 20px;
        margin-right: 16px;
        color: #98abba;
    }
}

.organic-listing .link,
.organic-listing .link.compressed,
.organic-listing .link.promotedlink {
    padding: 16px;
    background: #E1F5FE;
}

.unvotable-message {
    border: 0 solid;
    color: #738491;

    &:first-letter {
        text-transform: capitalize;
    }
}