@import 'variables';

.pretty-button {
    background-image: none;
    border: none;
    color: $light-text;
    line-height: 16px;
    transition: background-color 0.25s ease;
    border-radius: 0;
    text-transform: uppercase;

    &.negative {
        background: #fb797e;

        &:hover {
            background: #EF5350;
        }

        &.pressed {
            background: #B71C1C;
        }
    }

    &.neutral {
        background: #BDBDBD;
        color: #212121;

        &:hover {
            background: #E0E0E0;
        }

        &.pressed {
            background: #9E9E9E;
        }
    }

    &.positive {
        background: #4CAF50;

        &:hover {
            background: #43A047;
        }

        &.pressed {
            background: #1B5E20;
        }
    }
}


a.pretty-button.positive.pressed,
a.pretty-button.neutral.pressed,
a.pretty-button.negative.pressed {
    background-image: none;
}

.big-mod-buttons {
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: top;
    margin-top: -1px;

    a {
        margin: 0;
    }
}