@import 'variables';

.side {
    margin: 282px 16px 108px 0;
    padding: 0;
    background: none;
    width: 320px;
    margin-top: 200px;

    .spacer {
        margin: 0 0 16px;
    }

    &:before {
        height: 192px;
        background: getImage('sidebarimg');
        content: "";
        display: block;
        position: absolute;
        top: 100px;
        width: 320px;
        z-index: 1;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .titlebox {
        margin-top: 0px;

        h1 {
            &.redditname {
                margin-bottom: 6px;
                position: absolute;
                top: 308px;
                z-index: 100;
                font-family: Lato, Arial, sans-serif;

                &:before {
                    content: " ";
                    position: absolute;
                    display: block;
                    width: 320px;
                    z-index: -1;
                    height: 76px;
                    margin-top: -16px;
                    margin-left: -16px;
                    background: $light-text;
                    border-radius: 0 0 2px 2px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                    background-color: #eb3c00;
                }

                a {
                    color: #333;
                    display: block;
                    height: 22px;
                    width: 176px;
                    background-image: getImage('title');
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    text-indent: -9999px;
                }
            }
        }

        .md {
            h1 {
                line-height: 18px;
                margin: 0.5em 0 0 !important;
            }

            h2 {
                margin: 16px 0 2px;
            }

            h3 {
                a {
                    padding: 0 16px;
                    width: 100%;
                    border-radius: 2px;
                    background: $selected;
                    font: 12px/42px Lato, Arial, sans-serif;
                    color: $light-text;
                    display: block;
                    margin: 1.5em 0;
                    text-align: center;
                    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                    font-size: 14px;
                    border: none;
                    letter-spacing: 0;
                    font-weight: 400;
                    background-color: getColor('theme', 'primary');
                    line-height: 36px;

                    &:hover {
                        background: #158be2;
                        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
                    }

                    &:active {
                        background: #0066b2;
                        box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }

            h4 {
                a {
                    padding: 0 16px;
                    background: getColor('theme', 'background');
                    border-radius: 2px;
                    color: $link;
                    font-weight: 700;
                    display: block;
                    margin: 1.5em 0;
                    font-size: 12px;
                    line-height: 42px;
                    text-align: center;
                    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }

            &>ul {
                &>li {
                    &>blockquote {
                        &>p {
                            border-radius: 3px;
                            width: 284px;

                            &>a {
                                box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.17);
                                color: $light-text !important;
                                border: 1px solid #E0E0E0;
                                font-size: 12px;
                                line-height: 30px;
                                text-align: center;
                                display: block;
                                margin-top: 6px;
                                margin-bottom: 3px;
                                width: 284px;
                                border-radius: 3px;
                                position: relative;
                                width: 284px;
                            }

                            &:hover {
                                opacity: 0.85;
                            }

                            &:nth-child(1) {
                                background-color: getColor('linkflair', 'unsolved');
                            }

                            &:nth-child(2) {
                                background-color: getColor('linkflair', 'solved');
                            }

                            &:nth-child(3) {
                                background-color: getColor('linkflair', 'discussion');
                            }

                            &:nth-child(4) {
                                background-color: getColor('linkflair', 'protip');
                            }

                            &:nth-child(5) {
                                background-color: getColor('linkflair', 'codereview');
                            }

                            &:nth-child(6) {
                                background-color: getColor('linkflair', 'advertisement');
                            }

                            // challenge same as discussion
                            &:nth-child(7) {
                                background-color: getColor('linkflair', 'discussion');
                            }
                        }
                    }
                }
            }
        }

        h4 {
            a {
                &:hover {
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
                }

                &:active {
                    background: #f4f6f7;
                    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }

    #moderation_tools {
        .title {
            h1 {
                text-transform: capitalize;
                color: #4D5763;
            }

            .collapse-button {
                color: #4D5763;
                vertical-align: middle;
                text-align: center;
                border-radius: 1px;
                border: 1px solid #d8d8d8;
            }
        }
    }

    .sidecontentbox {
        .content {
            border: none;
            padding: 8px 0;
        }
    }

    .flair {
        &:before {
            margin-left: 0;
        }
    }

    &::before {
        content: none;
    }

    ol {
        &:nth-of-type(1) {
            border: 1px solid rgba(0, 0, 0, 0.19);
            border-top: none;
            margin-top: -25px;
            padding: 0.5rem 1.5rem 0 1.5rem;
            border-radius: 0 0 3px 3px;
            box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.27);
            font-weight: bold;
        }
    }
}

.titlebox .users-online,
.titlebox .number {
    cursor: text;
}



#search {
    position: absolute;
    top: 384px;
    z-index: 1;
    width: 320px;

    input[type=text] {
        padding: 0 42px 0 16px;
        border: 0 solid;
        border-radius: 2px;
        width: 320px;
        height: 42px;
        line-height: 41px;
        background: getColor('theme', 'background');
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    input[type=text]:hover {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    input[type=text]:focus {
        border-radius: 2px 2px 0 0;

        &:hover {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24) !important;
        }
    }

    input[type=text]:-moz-placeholder {
        font-size: 14px;
        text-transform: capitalize;
        top: 1px;
        position: relative;
        color: #B3B3B3;
    }

    input[type=text]::-webkit-input-placeholder {
        font-size: 14px;
        text-transform: capitalize;
        top: 1px;
        position: relative;
        color: #B3B3B3;
    }

    input[type=text]:-ms-input-placeholder {
        font-size: 14px;
        text-transform: capitalize;
        top: 1px;
        position: relative;
        color: #B3B3B3;
    }

    input[type=text]::-moz-placeholder {
        color: #B3B3B3;
    }

    input[type=submit] {
        height: 32px;
        width: 32px;
        margin-left: -38px;
        background: getImage('spritesheet') -64px -97px no-repeat;
        border: none !important;
        border-radius: 16px;
        transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    input[type=submit]:hover {
        background: rgba(158, 158, 158, 0.2) getImage('spritesheet') -64px -97px no-repeat;
    }

    #searchexpando {
        background: #edf1f3;
        border: none;
        border-radius: 0 0 2px 2px;
        margin: 0;
        padding: 4px;
        height: 154px;
        line-height: 50px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

        label {
            padding: 21px 8px 17px;
            cursor: pointer;
            transition: all 0.1s ease;

            &:active {
                background: rgba(0, 0, 0, 0.06);
            }
        }

        p {
            display: none !important;
        }
    }
}

@media screen and (max-width: 1085px) {
    .search-page #search {
        left: 350px;
    }
}


.morelink {
    background: getColor('theme', 'primary');
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    text-align: center;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover {
    //     background: #158be2;
    // }

    // &:active {
    //     background: #0066b2;
    //     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    // }

    a {
        color: $light-text;
        font-weight: 400;
        letter-spacing: 0;
    }

    .nub {
        display: none;
    }
}

.sidebox {
    &.submit {
        &.submit-text {
            .morelink {
                margin-left: 168px;
            }
        }
    }

    &.create {
        .morelink {
            a {
                font-size: 14px;
                color: $link;
            }
        }
    }

    .spacer {
        display: none;
    }
}

.submit-text {
    .morelink {
        a {
            &:before {
                font-size: 14px;
                content: "Submit Text";
            }
        }
    }
}

.submit-link {
    .morelink {
        a {
            &:before {
                font-size: 14px;
                content: "Submit Link";
            }
        }

        &:after {
            left: 168px;
        }
    }
}

.submit-text .morelink:before,
.submit-link .morelink:after {
    content: "N/A";
    position: absolute;
    left: -168px;
    top: 0;
    width: 152px;
    color: rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.08);
    font-weight: 400;
    z-index: -1;
}

.disabled {
    .morelink {
        box-shadow: none !important;
        background: rgba(0, 0, 0, 0.08);
        width: 320px;

        a {
            color: rgba(0, 0, 0, 0.32);
            font-size: 14px;
        }
    }
}

.submit {
    &.mod-override {
        .morelink {
            a {
                &:after {
                    position: relative;
                    margin: 10px 10px 10px 0;
                    float: right;
                    margin-left: -16px;
                }
            }

            &:hover {
                a {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .morelink {
        position: absolute;
        top: 442px;
        font-size: 0;
        width: 152px;
    }
}


.login-form-side {
    border: none;
    border-bottom: 1px solid #edf1f3;
    padding-bottom: 8px;

    input[type=text] {
        margin-left: 0;
        margin-right: 16px;
    }

    button {
        &.btn {
            margin-right: -3px;
        }
    }
}

.login-form-side input[type=text],
.login-form-side input[type=password] {
    width: 136px;
    margin: 0;
}

.side .md .-blocks,
.side .md .-lists,
.side .md pre,
.side .md blockquote,
.side .md table,
.side .md p,
.side .md ul,
.side .md ol {
    color: #292f34;
    font: 13px/1.45 Lato, Arial, sans-serif;
}

.comments-page .side,
.other-discussions-page .side {
    margin-top: 400px;
}

.comments-page .side .linkinfo,
.other-discussions-page .side .linkinfo {
    position: absolute;
    top: 494px;
    padding: 16px;
    width: 320px;
    height: 98px;
    background: getColor('theme', 'background');
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
    border: none;
}

.comments-page .side .linkinfo .date,
.other-discussions-page .side .linkinfo .date {
    color: #98abba;
}

.comments-page .side .linkinfo .date:first-letter,
.other-discussions-page .side .linkinfo .date:first-letter {
    text-transform: capitalize;
}

.comments-page .side .linkinfo .score,
.other-discussions-page .side .linkinfo .score {
    color: #292f34;
    margin-top: 8px;
}

.linkinfo .score .number,
.linkinfo .views .view-count,
.other-discussions-page .linkinfo .score .number,
.other-discussions-page .linkinfo .views .view-count {
    font-size: 14px;
}

.linkinfo .score .word,
.linkinfo .views .unit {
    font-size: 14px;
}

.comments-page .side .linkinfo .shortlink,
.other-discussions-page .side .linkinfo .shortlink {
    font-size: 90%;
    margin-top: -2px;
    visibility: hidden;
}

.comments-page .side .linkinfo .shortlink input,
.other-discussions-page .side .linkinfo .shortlink input {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0 0 2px 2px;
    margin: 0 -16px;
    padding: 10px 16px;
    visibility: visible;
    width: 320px;
}


.res.comments-page .side,
.comments-page .side,
.single-page .side {
    margin-top: 305px;
}

#search,
.submit .morelink,
.side .titlebox h1.redditname,
.subscribers,
.titlebox .fancy-toggle-button,
.comments-page .side .linkinfo,
.other-discussions-page .side .linkinfo {
    margin-top: -140px;
}

.side .titlebox .md h3:nth-of-type(1) a:hover,
.side .titlebox .md h3:nth-of-type(2) a:hover,
.side .titlebox .md h3:nth-of-type(3) a:hover,
.side .titlebox .md h3:nth-of-type(4) a:hover,
.side .titlebox .md h3:nth-of-type(5) a:hover {
    opacity: 0.9;
}