@import 'images';
@import 'variables';

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a {
    color: $link;
    transition: color 0.15s ease;

    &.random {
        &.choice {
            padding-top: 2px;
            position: relative;
            display: inline-block;
            margin-top: -2px;
        }
    }

}

::-moz-selection {
    background: $selected;
    text-shadow: none;
    color: $light-text;
}

::selection {
    background: $selected;
    text-shadow: none;
    color: $light-text;
}

:focus {
    outline: none !important;
}

body .content .text,
body .content textarea,
body .content input[type=text],
body .content input[type=password],
.side .spacer input,
body .content input[type=url] {
    background: getColor('theme', 'background');
    border: 1px solid #c3cfd6;
    color: #738491;
    box-shadow: none;
    transition: border-color 0.15s ease, color 0.15s ease;
    padding: 6px 12px;
}

body .content .text:hover,
body .content textarea:hover,
body .content input[type=text]:hover,
body .content input[type=password]:hover,
.side .spacer input:hover,
body .content input[type=url]:hover {
    border-color: #738491;
}

body .content .text:focus,
body .content textarea:focus,
body .content input[type=text]:focus,
body .content input[type=password]:focus,
.side .spacer input:active,
body .content input[type=url]:focus {
    border-color: $link;
    color: #292f34;
}

.commentarea .panestack-title,
.commentarea .menuarea {
    z-index: 0;
}



body[class]>.content,
body.listing-page[class]>.content {
    margin: 16px 352px 64px 16px;
    padding: 0;
}

.arrow {
    margin: 0;
    background-image: getImage('spritesheet') !important;
    width: 32px;
    border-radius: 2px;
    transition: background-color 0.25s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.up {
        height: 20px;
        background-position: 0 -80px;
        transition: background-color 0.25s ease;
    }

    &.upmod {
        height: 20px;
        background-position: -32px -80px;
        position: relative;

        &:focus {
            &:after {
                position: absolute;
                left: 2px;
                bottom: -3px;
                width: 28px;
                height: 28px;
                opacity: 1;
                z-index: 100;
                content: " ";
                background: $orange-red;
                border-radius: 28px;
                animation: upvote 0.35s ease-out forwards;
                -webkit-animation: upvote 0.35s ease-out forwards;
            }
        }
    }

    &.down {
        height: 20px;
        background-position: -64px -80px;
        transition: background-color 0.25s ease;

        &:after {
            display: block;
            visibility: hidden;
            position: absolute;
            z-index: 1000;
            margin: -6px 0 0 32px;
            padding: 12px;
            background: rgba(79, 77, 192, 0);
            border-radius: 2px;
            color: rgba(255, 255, 255, 0);
            content: "For content that does not contribute to any discussion.";
            text-align: center;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 13px;
            transition: all 0.25s ease;
            pointer-events: none;
            content: "For content that does not contribute to any discussion.";
        }

        &:hover {
            &:after {
                visibility: visible;
                background: rgba(79, 77, 192, 0.9);
                color: $light-text;
                margin-left: 48px;
            }
        }
    }

    &.downmod {
        height: 20px;
        background-position: 0 -100px;
    }
}

.thumbnail {
    width: 80px;
    height: 56px;
    margin: 0 16px 0 0;

    img {
        min-height: 56px;
        min-width: 80px;
        max-width: none;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    &.default {
        background: #d2dbe0 getImage('spritesheet') -152px -48px;
    }

    &.self {
        background: #d2dbe0 getImage('spritesheet') -96px -48px;
    }

    &.image {
        background: #d2dbe0 getImage('spritesheet') -208px -48px;
    }

    &.nsfw {
        background: #e85881 getImage('spritesheet') -96px -104px;
    }

    &.spoiler {
        background: #F44336 getImage('spritesheet') -208px -148px;
    }
}

.thumbnail.default,
.thumbnail.self,
.thumbnail.nsfw,
.thumbnail.image,
.thumbnail.spoiler,
.thumbnail[data-href-url*="reddit.com"] {
    width: 56px;
    height: 56px;
    margin: 0 28px 0 12px;
    border-radius: 28px;
    background: $link getImage('spritesheet') -152px -104px;

    img {
        display: none;
    }
}


.stickied {
    .thumbnail {
        background-color: #2db747;
    }
}

.thing .title.loggedin.click,
.thing .title.click,
.thing .title.loggedin,
.thing .title {
    color: $link;
}

.content .thing .title:visited,
.content .thing.visited .title {
    color: #738491;
}

.thing .title.loggedin.click:visited,
.thing .title.click:visited {
    color: $link;
}

.approval-checkmark,
.oc-tag {
    cursor: default;
    margin-left: 4px;
}

.expando-button,
.expando-button.image,
.expando-button.video-muted {
    position: relative;
    top: -1px;
    margin: 2px 6px 2px 0 !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    background-color: transparent;
    background-image: getImage('spritesheet') !important;
    background-size: 264px 264px !important;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}

.expando-button {
    &:hover {
        background-color: $selected;
        border-color: $selected;
    }

    &.video {
        &.collapsed {
            background-position: -64px -48px !important;

            &:hover {
                background-position: -80px -48px !important;
            }
        }

        &.expanded {
            background-position: -32px -48px !important;

            &:hover {
                background-position: -48px -48px !important;
            }
        }
    }

    &.image {
        &.collapsedExpando {
            background-position: -32px -64px !important;

            &:hover {
                background-position: -48px -64px !important;
            }
        }

        &.expanded {
            background-position: -32px -48px !important;

            &:hover {
                background-position: -48px -48px !important;
            }
        }

        &.gallery {
            &.collapsedExpando {
                background-position: 0 -64px !important;

                &:hover {
                    background-position: -16px -64px !important;
                }
            }

            &.expanded {
                background-position: -32px -48px !important;

                &:hover {
                    background-position: -48px -48px !important;
                }
            }
        }
    }

    &.video-muted {
        &.collapsed {
            background-position: -64px -64px !important;

            &:hover {
                background-position: -80px -64px !important;
            }
        }

        &.expanded {
            background-position: -32px -48px !important;

            &:hover {
                background-position: -48px -48px !important;
            }
        }
    }
}

.expando-button.selftext.collapsed,
.expando-button.crosspost.collapsed {
    background-position: 0 -48px !important;
}

.expando-button.selftext.collapsed:hover,
.expando-button.crosspost.collapsed:hover {
    background-position: -16px -48px !important;
}

.expando-button.selftext.expanded,
.expando-button.crosspost.expanded {
    background-position: -32px -48px !important;
}

.expando-button.selftext.expanded:hover,
.expando-button.crosspost.expanded:hover {
    background-position: -48px -48px !important;
}

.expando-gate {
    .expando-gate__show-once {
        padding: 0 16px;
    }

    &.expando-gate--interstitial {
        background-color: #424242;
    }

    &.expando-gate--overlay {
        border-radius: 2px;
        background-color: rgba(66, 66, 66, 0.54);
    }
}

.entry {
    .tagline {
        margin-top: 3px;
        color: #98abba;
        font: 12px Lato, Arial, sans-serif;
    }

    .buttons {
        li {
            line-height: normal;

            &.reported-stamp {
                background-color: transparent;
                border: none !important;
                text-transform: uppercase;
                color: #F44336;
            }
        }
    }
}

.tagline {
    .userattrs {
        font-size: 0;

        &>* {
            cursor: help;
            display: inline-block;
            color: $light-text !important;
            line-height: 13px;
            padding: 0 3px;
            border-radius: 2px;
            font-size: 10px;
            font-weight: 700;
            margin-left: 4px;
        }

        &> :hover {
            text-decoration: none;
        }

        .moderator {
            background: $mod-green;
        }

        .admin {
            background: #F44336;
        }

        .submitter {
            background: $link;
        }

        .friend {
            background: #ff4500;
        }
    }

    .stickied-tagline {
        color: #b3b3b3;
        cursor: help;
    }
}

.RESUserTagImage {
    vertical-align: top;
    height: 10px;
    width: 16px;
    background-image: getImage('spritesheet');
    background-position: -32px -101px;
    opacity: 0.25;
    margin-left: 2px;
    transition: opacity 0.15s ease;
    margin-top: 2px;

    &::after {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}

.entry .buttons li a,
.entry .buttons li {
    padding: 0 1px;
    color: #98abba;
    font-weight: 400;
    font: 13px Lato, Arial, sans-serif;
    transition: all 0.15s ease;
}

.entry .buttons li.nsfw-stamp,
.entry .buttons li.spoiler-stamp {
    padding: 0;
    border-radius: 0;
    border: none !important;
}

.nsfw-stamp,
.spoiler-stamp {
    padding: 0;
    border-radius: 0;
    border: 0;
}

.nsfw-stamp acronym,
.spoiler-stamp,
.res-nightmode .spoiler-stamp {
    position: relative;
    top: -1px;
    padding: 2px 3px;
    background: #ea4876;
    border-radius: 0;
    color: $light-text;
    cursor: help;
}

.post-sharing {
    .c-close {
        padding: 15px;
    }
}

.post-sharing,
.subreddit-report-form {
    border: none;
    margin: 15px 5px 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.gold-payment {
    .close-button {
        box-shadow: none;
        margin: 11px -9px 6px 8px;
    }
}

.action-form {
    position: fixed;
    top: 35%;
    left: 40%;
    margin: 0;
    padding: 24px;
    background: getColor('theme', 'background');
    z-index: 100;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;

    .reason-prompt {
        font-size: 16px;
        color: #4D5763;
        padding-bottom: 8px;
        display: block;

        &:first-letter {
            text-transform: capitalize;
        }

        li {
            padding: 4px 4px 4px 0;
            display: block;
        }
    }

    li {
        label {
            padding: 4px 4px 4px 0;
            cursor: pointer;
            display: block;
            color: #4D5763;
            text-transform: capitalize;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    input[name=other_reason] {
        padding: 8px;
    }
}

.side .titlebox .tagline a.flairselectbtn,
.leavemoderator a {
    background: #FAFAFA;
    border-radius: 2px;
    color: #738491;
    font: bold 11px Lato, Arial, sans-serif;
    padding: 2px 8px;
    position: absolute;
    right: 32px;
    text-transform: capitalize;
    transition: opacity 0.09s ease-in-out;
}

.side .titlebox .tagline a.flairselectbtn:hover,
.leavemoderator a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.titlebox {
    .tagline {
        font-size: 0;
        margin: 0;

        &:after {
            content: "";
            height: 2px;
            background: #f2f2f2;
            display: block;
            margin-top: 16px;
        }
    }

    span {
        &.subscribers {
            position: absolute;
            z-index: 100;
            color: #333;
            font-size: 12px;
            top: 336px;
        }
    }

    .users-online {
        display: inline;

        &:before {
            display: none;
        }

        .number {
            font-style: italic;

            &:before {
                content: "";
                width: 16px;
                height: 9px;
                display: inline-block;
                margin-right: 8px;
                background: getImage('spritesheet') -64px -36px;
            }

            &:after {
                content: " currently online";
                content: " currently online";
            }
        }
    }

    .word {
        display: none;
    }

    .fancy-toggle-button {
        margin: 0;
        position: absolute;
        margin-left: 208px;
        top: 314px;
        z-index: 100;

        .active {
            display: block;
            border: none;
            height: 32px;
            border-radius: 2px;
            line-height: 30px;
            background-image: none !important;
            padding: 0 12px;
            text-transform: capitalize;
            box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
            transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), padding 0.2s ease, margin 0.2s ease;

            &:hover {
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
            }

            &:active {
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }

            &.add {
                background: $mod-green;
                color: $light-text;

                &:hover {
                    background: #36bb6f;
                }

                &:active {
                    background: #189b51;
                    padding-left: 24px;
                    margin-left: -13px;
                    text-align: center;
                }
            }

            &.remove {
                background: rgba(0, 0, 0, 0.24);
                color: $light-text;
                margin-left: -14px;
                box-shadow: none;

                &:hover {
                    background: rgba(0, 0, 0, 0.32);
                }

                &:active {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    .bottom {
        padding-top: 10px;
        border-color: rgba(0, 0, 0, 0.14);
    }

    &:before {
        content: "Subreddit Info";
        display: block;
        color: #292f34;
        font: 18px/24px Lato, Arial, sans-serif;
        margin: 8px 0;
    }

    form {
        &.flairtoggle {
            line-height: 2;
        }

        &.toggle {
            &.sr_style_toggle {
                padding-bottom: 0;
                display: block;
                background-color: transparent;

                label {
                    position: relative;
                    top: -3px;
                }
            }
        }
    }

    .md {
        &>ul {
            &:nth-of-type(1) {
                &>li {
                    left: -56px;
                    position: relative;

                    &>p {
                        background-color: getColor('theme', 'primary');
                        color: $light-text;
                        border-radius: 2px;
                        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
                        font-size: 14px !important;
                        font-weight: 400;
                        text-align: center;
                        margin-left: 16px;
                        width: 288px;
                        line-height: 36px;
                        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                        &:hover {
                            background: #ff874b;
                            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
                        }
                    }

                    blockquote {
                        position: absolute;
                        background-color: white;
                        margin-top: -44px;
                        visibility: hidden;
                        right: 250px;
                        opacity: 0;
                        transition: opacity 0.25s ease, visibility 0.25s ease;
                    }

                    &:hover {
                        blockquote {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.25s ease, visibility 0.25s ease;
                        }
                    }
                }
            }
        }

        &:nth-of-type(1) {
            &>ul {
                color: transparent;
            }
        }
    }

    blockquote {
        display: block;
        border-left: none;
        z-index: 11;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        padding: 10px;
        width: 300px;
        border-radius: 4px;

        h3 {
            text-align: center;
        }
    }
}



.buttons {
    &>.pretty-button {
        border-radius: 3px;
    }
}

ul {
    &.report-reasons {
        border-radius: 2px;
        background: #FAFAFA;
        border: none;
        padding: 8px;
        font-size: 12px;
        margin-top: 4px;
    }

    &.image-preview-list {
        margin: 16px 0 0;

        li {
            width: 33.33%;
        }
    }
}

b {
    padding-left: 5px;
}


div {
    &.commentarea {
        div {
            &.RES-keyNav-activeElement {
                .md {
                    background-color: transparent !important;
                }
            }
        }
    }

    &.titlebox {
        span {
            &.word {
                display: none;
            }

            &.number {
                &:after {
                    content: " readers";
                    content: " Developers";
                }
            }
        }
    }
}

.userTagLink.hasTag,
#userTaggerPreview {
    font-size: 11px !important;
    border-radius: 0 !important;
    border: 0 solid !important;
    margin-top: 0 !important;
    margin-left: 4px !important;
}


.livePreview {
    .md {
        padding: 8px 12px;
    }
}


#userTaggerToolTip input[type=text],
#userTaggerToolTip select {
    line-height: 22px;
    padding-left: 4px;
    border: 1px solid #E5E5E5 !important;
}

#userTaggerToolTip {
    input[type=submit] {
        bottom: 10px !important;
    }
}

.dropdown {
    &.lightdrop {
        .selected {
            display: inline-block;
            color: #9E9E9E;
            text-decoration: none;
            cursor: pointer;
            padding: 0 4px;
            background: 0;
            z-index: 2;

            &:after {
                content: " ▼";
            }

            &:hover {
                color: #4F8EF7;
            }
        }
    }
}

.drop-choices {
    &.lightdrop {
        border: none;
        z-index: 1;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        margin: -22px -20px 0;
        padding: 32px 0 8px;
        min-width: 156px;

        &:before {
            display: block;
            content: "";
            border-bottom: 1px solid rgba(0, 0, 0, 0.14);
        }
    }

    a {
        &.choice {
            padding: 8px 24px;
            transition: all 0.1s ease;
            color: getColor('dark-theme', 'background');

            &:hover {
                background-color: #eee;
            }
        }
    }
}

.guider {
    border: none;
    box-shadow: 0 2px 3px #DDD;
}

.guider_content {
    h1 {
        color: #4F8EF7;
    }
}

.guider_button {
    font-size: 11px;
    border: none;
    background-image: none;
    background-color: #4F8EF7;
    transition: all 0.15s ease;

    &:hover {
        background-color: rgba(79, 142, 247, 0.75);
    }
}

.x_button {
    transition: all 0.25s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);

    &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
}

.infobar {
    .md {
        color: $light-text;
    }
}


.reddit-infobar {
    &.with-icon {
        border: none;
        background: getColor('theme', 'background');
        box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
        margin: 0 0 16px;
        border-radius: 2px;

        .md {
            color: #000;
            font-size: 14px;
        }

        &.locked-infobar {
            background: $mod-green;

            .md {
                color: $light-text;
            }

            p {
                &:after {
                    content: " Sort comments by new to find out more.";
                }
            }

            &:before {
                background-color: $mod-green;
                border-right: 1px solid rgba(0, 0, 0, 0.08);
            }
        }
    }

    &.gold-accent {
        background: #FFD54F;
        margin: 16px 16px 0;
        border: none;
        border-radius: 2px;
        padding: 0 8px;

        p {
            line-height: 36px;
            margin: 0;
        }
    }
}

#eu-cookie-policy {
    .reddit-infobar {
        padding-right: 118px;
    }

    .c-btn-primary {
        margin: -2px 16px 0 0;
    }
}

#noresults {
    margin: 0;
    width: 100%;
    height: 416px;
    background: transparent getImage('noresults') no-repeat 50% 50%;
    text-indent: -9999px;
    font-size: 0;
    display: block;
}

.nav-buttons,
.search-result-group footer .nav-buttons * {
    padding: 16px 0;
    margin: 0 16px;
    color: #738491;
}

.nav-buttons .nextprev,
.search-result-group footer .nav-buttons * {
    color: #738491;
    font-size: 14px;
}

.nav-buttons {
    .nextprev {
        a {
            border: 0;
            padding: 8px 16px;
            background-color: transparent;
            border: 1px solid #edf1f3;
            transition: background-color 0.15s ease;

            &:hover {
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}



.hover-bubble {
    &.multi-selector {
        right: 346px !important;
        margin-top: -56px;
        border: none;
    }

    &.anchor-right {
        &:before {
            right: -19px;
            border-left-color: #CCC;
        }
    }
}

.md {
    hr {
        border: solid 1px #e5e5e5;
    }

    a {
        color: $link;

        &:visited {
            color: #7D5D8A;
        }
    }

    blockquote {
        border-left: 2px solid #edf1f3;
        color: #738491;
    }

    h3 {
        color: #292f34;
        margin: 16px 0 0;
    }

    p {
        &>code {
            background: #1e1e1e !important;
            color: #d4d4d4;
            border-color: #007acc;
            font-family: Consolas, Monaco, monospace;
        }
    }


}

.icon-menu {
    a {
        background: none;
    }
}

.create {
    .morelink {
        background: getColor('theme', 'background');
    }
}

.gadget {
    .midcol {
        width: 38px;
    }

    .reddit-entry {
        .linkflairlabel {
            display: none;
        }
    }

    .right {
        text-transform: uppercase;
    }
}

.account-activity-box {
    a {
        text-transform: uppercase;
    }
}

.comments-page {
    .link {
        .usertext {
            .md {
                margin-bottom: 0;
            }
        }
    }
}

.comment-permalink-page {
    .commentarea {
        .menuarea {
            margin: 20px 0;
        }
    }
}

.commentarea .menuarea .toggle a,
.help-hoverable {
    color: #98abba;
    font-weight: 400;
}

.commentarea .menuarea .toggle a:hover,
.help-hoverable:hover {
    color: $link;
}

.help-hoverable {
    font-size: x-small;
}

.usertext {
    button {
        margin: 0 16px 0 0;
    }

    .bottom-area {
        width: 504px;

        a {
            color: #98abba;

            &.reddiquette {
                color: $link;
            }

            &:hover {
                color: $link;
            }
        }
    }

    &.grayed {
        .usertext-body {
            margin: 4px 0;
            background-color: transparent;
            font-style: italic;
            padding: 0;
        }
    }
}

.gold-accent {
    &.comment-visits-box {
        margin: 0 0 16px;
        padding: 0 8px;
        line-height: 36px;
        border-radius: 2px;
        background: #CFD8DC;
        border: none;
        color: #292f34;
        max-width: initial;

        select {
            margin: 8px 0 8px 6px;
        }
    }
}

.gilded-icon {
    &:before {
        background: getImage('spritesheet') -112px -160px;
        height: 16px;
        width: 16px;
    }
}

.user-gilded {
    &>.entry {
        .gilded-icon {
            &:before {
                width: 16px;
            }
        }
    }
}



.green {
    color: $mod-green !important;
    font-weight: 700;
}

.md h1,
.md h2 {
    margin: 0.5em 0 0.25em;
    border: none;
    color: #292f34;
}

.deepthread {
    a {
        color: $link;
    }
}

.morecomments {
    a {
        color: #738491;
    }
}

.read-next {
    width: 320px;
    height: 128px;
    border: 1px solid #edf1f3;
    border-radius: 2px 2px 0 0;

    .read-next-header {
        border-bottom: 1px solid #edf1f3;
        color: #738491;
        padding: 8px 16px;
        background-color: #f2f7fa;
    }

    .read-next-nav {
        top: 8px;
    }

    .read-next-button {
        background-color: $selected;
        color: $light-text;
        font: 10px/16px monospace;
        height: 16px;
        width: 16px;
    }

    .read-next-link {
        height: inherit;
    }

    .read-next-header-title {
        top: 0;
        line-height: inherit;
    }

    .read-next-list {
        padding: 8px 16px;
    }

    .read-next-meta {
        color: #738491;
        line-height: 2;
    }
}


.search-page {
    #header-bottom-left {
        top: 78px;
    }

    .searchpane {
        margin: 0;
        padding: 0;
        border: none;
        position: relative;
    }

    .side {
        margin-top: 280px;
        margin-top: 90px;

        .create {
            .morelink {
                top: 0;
            }
        }
    }

    #previoussearch {
        label {
            margin: 0;
            width: 320px;
            padding: 12px;
            background: #f9f9f9;
            z-index: -1;
            border-radius: 0 0 2px 2px;
            box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
            cursor: pointer;
            margin-top: -2px;
        }

        p {
            a#search_showmore {
                position: absolute;
                left: 324px;
                top: 8px;
                width: 22px;
                height: 24px;
                background: getImage('spritesheet') -49px -168px no-repeat;
                overflow: hidden;
                font-size: 0;
            }
        }
    }

    .morelink {
        top: 384px;
    }

    #search {
        margin-bottom: 55px;
        margin-top: 0px;
        position: static;
    }
}

.raisedbox {
    h4 {
        display: none;
    }
}

.wiki-page .pageactions .wikiaction:hover,
.wiki-page .pageactions .wikiaction-current:hover {
    background: rgba(0, 0, 0, 0.05);
}

.linefield,
.linefield.mobile {
    background: getColor('theme', 'background');
    color: #98abba;
    margin: 0 0 16px;
    width: 528px;
    border: none;
}

.linefield {
    .title {
        color: $link;
        text-transform: capitalize;
        padding: 0;
    }

    .linefield-content {
        padding: 0;
    }
}

.linefield .title:first-letter,
.linefield label:first-letter {
    text-transform: capitalize;
}

.pretty-form {
    padding-top: 24px;
}

.fancy-settings h1,
.create-promotion h1 {
    color: rgba(255, 255, 255, 0.8);
}

.fancy-settings {
    h1 {
        strong {
            color: white;
        }
    }

    .pretty-form {
        padding-top: 0;
    }
}


.tabpane-content {
    border: none;

    .flairrow {
        a {
            &.author {
                color: #98abba;
            }
        }
    }

    .tagline {
        a {
            color: #292f34;
        }
    }

    .thing {
        .title {
            overflow: visible;
        }
    }
}

.fancy-settings h1,
.fancy-settings h1 strong {
    color: rgba(0, 0, 0, 0.87);
}

.stylesheet-customize-container {
    .pretty-form {
        padding: 8px 0;
        margin-bottom: 16px;

        .sheets {
            margin-right: 0;
        }
    }

    h2 {
        display: none;
    }
}

.sheets {
    .btn {
        &.right {
            background: transparent;
            border: none;
            box-shadow: none;
            padding: 0;
        }
    }
}

pre {
    overflow: hidden;
}

#images {
    padding: 8px 0;
    background: getColor('theme', 'background');
    position: relative;
    overflow: auto;
    height: inherit;

    #image-upload {
        margin: 0 0 16px;
    }
}


.flair {
    border: none;
    border-radius: 0;
    font: normal 12px Lato, Arial, sans-serif;
    background: transparent;
    color: #98abba;
    padding-left: 0;
    margin-right: inherit;

    &:before {
        margin-right: 3px;
        height: auto;
        margin-left: 4px;
    }
}



.res #RESShortcutsEditContainer,
#RESShortcutsSort,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsAdd,
#RESShortcutsTrash {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.45) !important;
    top: 1px !important;
    padding-right: 23px;
}

.pinHeader-sub #sr-header-area,
.pinHeader-subanduser #sr-header-area {
    background-image: getImage('headerimg');
    background-position: 50% 0;
}

.pinHeader-sub #header-bottom-left,
.pinHeader-subanduser #header-bottom-left {
    margin-top: 0;
}

.pinHeader-header {
    &:before {
        display: none !important;
    }

    .content {
        margin-top: 12px !important;
    }

    .side {
        margin-top: 164px;
    }

    &.res {
        &.comments-page {
            .side {
                margin-top: 290px;
            }
        }
    }

    #header {
        top: 0;
        background-image: getImage('headerimg');
        height: 84px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    }
}

.res #sr-header-area a.RESShortcutsCurrentSub,
.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: $light-text !important;
    border-bottom: 2px solid #fff;
}

#RESAccountSwitcherIcon {
    position: relative;
    top: -4px;
}

html {
    &.res-commentBoxes {
        .comment {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.res .RESshortcutside,
.res .RESDashboardToggle {
    background-image: none !important;
    border: none;
    color: #4D5763;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    padding: 4px 6px 4px 0;
    margin: 2px 6px 2px -4px;
    text-align: left;
    width: auto;
}

.res .RESshortcutside:hover,
.res .RESDashboardToggle:hover {
    background-color: transparent;
    color: $link;
}

.gearIcon {
    background: getImage('spritesheet') -64px 0 !important;
    position: relative;
    top: 2px;
    transition: all 0.25s ease;
}

#RESMainGearOverlay {
    background-color: #516ae8;
    top: 0 !important;
    height: 26px !important;
    border-radius: 0 !important;
}

.RESDropdownList {
    border-color: #4258ca;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    margin-top: 4px;
    margin-right: 8px;

    li {
        background-color: #516ae8;
        color: $light-text;
        border-color: #4258ca;
        transition: all 0.15s ease;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}

.RESDropdownList a,
.RESDropdownList a:visited {
    color: $light-text;
}

.RESDropdownList li:hover,
.RESDropdownList li a:hover {
    color: $light-text;
    background-color: getColor('theme', 'secondary');
}

#RESSearchMenuItem {
    border: 1px solid #4258ca;
    border-radius: 1px;
    background-color: getColor('theme', 'secondary');

    &:hover {
        background-color: getColor('theme', 'secondary');
    }
}

.toggleButton .toggleOn,
.toggleButton .toggleOff {
    text-transform: lowercase;
}

.moduleToggle:not(.enabled) .toggleOn,
.toggleButton:not(.enabled) .toggleOn,
.moduleToggle.enabled .toggleOff,
.toggleButton.enabled .toggleOff {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid #4258ca;
    transition: all 0.15s ease;
    border-radius: 2px;
}

.moduleToggle.enabled .toggleOn,
.toggleButton.enabled .toggleOn,
.moduleToggle:not(.enabled) .toggleOff,
.toggleButton:not(.enabled) .toggleOff {
    background-color: getColor('theme', 'background');
    color: #516AE8;
    font-weight: bolder;
    border: 1px solid #fff;
    transition: all 0.15s ease;
    border-radius: 2px;
}

.markdownEditor {
    .edit-btn {
        &:not(.btn-macro) {
            border: 0 solid !important;
            border-radius: 1px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
        }
    }
}

body.listing-page>.content,
body.other-discussions-page>.content,
.comments-page .link,
.commentarea>.sitetable>.comment,
#bottom-comments:not(.child)>.sitetable>.comment,
#images,
.sponsorshipbox,
.stylesheet-customize-container .pretty-form,
.side .sidecontentbox,
.account-activity-box,
.side .titlebox,
#previoussearch #moresearchinfo,
#ad-frame,
#ad_main,
.wiki-page .wiki-page-content,
.linefield,
.submit-page .roundfield,
.login-form-side,
#ad_main_top,
.search-result-subreddit,
.search-result-listing+.search-result-listing .contents,
[class] .searchfacets {
    background: getColor('theme', 'background');
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.commentarea>.sitetable>.comment,
#bottom-comments>.sitetable>.comment {
    padding-left: 10px;
}

#ad-frame,
#ad_main,
#ad_main_top {
    box-sizing: initial;
    padding: 10px;
}

.sponsorshipbox {
    max-width: 320px;
    padding: 0;
}

#ad_sponsorship {
    margin: 10px;
}

.side .titlebox h1.redditname a,
.titlebox span.subscribers {
    color: $light-text;
}

.morelink,
.side .titlebox .md h3 a,
.drop-choices a.choice:hover,
.submit-page #newlink.submit.content ul.tabmenu.formtab,
.submit_text.enabled.roundfield,
body .btn,
body button,
.content .infobar {
    background-color: getColor('theme', 'primary');
}

.morelink:hover,
.side .titlebox .md h3 a:hover,
.btn:hover,
body button:hover {
    background-color: #ff874b;
}

.morelink:active,
.side .titlebox .md h3 a:active,
.btn:active,
body button:active {
    background-color: #eb3c00;
}

.thing .title.loggedin.click,
.thing .title.click,
.thing .title.loggedin,
.thing .title,
.link .entry .buttons li a.comments,
.link .entry .buttons li a.flairselectbtn,
.link .entry .buttons li a:hover,
.titlebox .tagline a.flairselectbtn,
.md a,
.side .titlebox .md h4 a,
.wiki-page .wiki-page-content .md.wiki h4,
.sidebox.create .morelink a,
a,
.side:after,
.usertext .bottom-area a.reddiquette,
.wiki-page .pageactions .wikiaction-current,
.tagline .submitter,
.combined-search-page .search-result .search-result-header .search-title,
.combined-search-page .search-result a,
.combined-search-page .search-result a>mark,
.combined-search-page .search-result .search-comments,
.flairselector h2,
.linefield .title,
body .content .sitetable .link .title a:hover,
.link .entry .tagline a:hover,
.comment .author:hover {
    color: $link;
}

.usertext-body>.md,
.wiki-page-content>.md pre {
    max-width: 100%;
    display: inline-block;
}

.flairtoggle,
.titlebox .tagline {
    visibility: hidden;
    height: 0px;
    padding: 0px;
}