// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------
@use 'sass:map';

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: try-map-get($map, $key);
  }
  @return $map;
}

@function try-map-get($map, $key) {
  $val: "";
  @if map-has-key($map, $key) {
    $val: map.get($map, $key);
  }
  // If the key doesn't exist in the map
  @else {
    @warn "`#{$key}` not found in specified map. "
        + "Available keys are: #{map-keys($map)}.";
  }
  @return $val;
}
