// images
@use "sass:map";
@use "sass:string";

$_dev: true;

$_images: (
  "clippy": "clippyflair",
  "commentboxbg": "commentboxbg",
  "footer": "footer",
  "headerimg": "headerimg",
  "noresults": "noresults",
  "sg-codeblock": "sg-codeblock",
  "sg-inlinecode": "sg-inlinecode",
  "sg-rescode": "sg-rescode",
  "sidebarimg": "sidebarimg",
  "snoo": "snoo",
  "spritesheet": "spritesheet",
  "title": "title",
);

@function getImage($name) {
  $result: "";

  @if $_dev {
    $img-root: "../images/";
    $result: url($img-root + map.get($_images, $name) + ".png");
  } @else {
    $result: url(string.unquote("%%" + map.get($_images, $name) + "%%"));
  }

  @return $result;
}
