@use 'sass:map';
@use 'sass:string';
@use 'functions' as f;
@forward 'functions';

$_dev: false;

$base-font: Arial, Helvetica, sans-serif;
$mono-font: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;

$readers: "Developers";
$users: "Users currently online";
$downvote-hover-text: "Consider posting constructive criticism or an explanation when you downvote something.";
$title-case: uppercase;

$radius: 4px;
$subreddits-bar-height: 24px;
$header-height: 136px;
$header-bottom-left-height: 96px;
$header-bottom-left: $header-height - $header-bottom-left-height;
$tabmenu-height: 35px;
$header-inner-height: $header-height - $subreddits-bar-height - $tabmenu-height;

$sidebar-width: 320px;
$container-margin-vert: 20px;
$container-margin-hor: 24px;
$padding: 16px;
$button-height: 36px;

$subscription-prompt-height: 30px;

// Sidebar vars
$titlebox-height: 76px;
$titlebox-margin: -16px;
$side-margin-top: $container-margin-vert + $titlebox-height;
$side-start-vert: $container-margin-vert + $header-height;
$linkinfo-height: 98px;

$search-height: 42px;
$transition: 0.5s;

$_images: (
  "clippyflair": "clippyflair",
  "commentboxbg": "commentboxbg",
  "footer": "footer",
  "headerimg": "headerimg",
  "noresults": "noresults",
  "title": "title",
  "info-shield": "info-shield",
  "snoo-sprite": "snoo-sprite",
);

@function getImage($name) {
  $result: "";
  $img: f.try-map-get($_images, $name);
  @if $_dev {
    $img-root: "../images/";
    $result: url($img-root + $img + ".png");
  } @else {
    $result: url(string.unquote("%%" + $img + "%%"));
  }

  @return $result;
}

$_moderator: #27b062;
$_orangered: #f50;

$_colors: (
  "moderator": $_moderator,
  "gold": #ffd54f,
  "removed": #ff585b,
  "vote": (
    "base": #878589,
    "downvote": #7193ff,
    "upvote": #ff4500,
  ),
  "table": (
    "header-background": #4472c4,
    "header-color": #fff,
    "odd-row": #d9e1f2,
    "even-row": #fff,
    "cell-color": #000,
    "border": #8ea9db,
    "link": #0563c1,
  ),
  "mail": (
    "background": $_orangered,
    "text": #fff,
    "havemail": #ea4848,
    "havemail-hover": #ec5b5b,
    "havemail-active": #c73d3d,
  ),
  "selection": (
    "background": #7dbcff99,
    "color": #fff,
  ),
  "role": (
    "moderator": $_moderator,
    "admin": #f44336,
    "submitter": #24a0ed,
    "friend": #ff4500,
  ),
  "thumbnail": (
    "default": #d2dbe0,
    "nsfw": #e85881,
    "link": #24a0ed,
    "stickied": #2db747,
    "spoiler": #f44336,
  ),
  "linkflair": (
    "default": #738491,
    "unsolved": $_orangered,
    "solved": #738491,
    "discussion": #007acc,
    "challenge": #007acc,
    "protip": #e0d400,
    "codereview": #800080,
    "modpost": $_moderator,
    "advertisement": #333333,
    "showntell": #000,
  ),
  "code": (
    "background": #1e1e1e,
    "color": #d4d4d4,
    "border": #007acc,
    "line-nums": #858585,
    "separator": #404040,
  ),
);

@function getColor($keys...) {
  $result: f.map-deep-get($_colors, $keys...);
  @return $result;
}

// Theme keys for intellisense
$actionIcon: "actionIcon";
$active: "active";
$banner-backgroundColor: "banner-backgroundColor";
$body: "body";
$bodySecondary: "bodySecondary";
$bodyFade: "bodyFade";
$bodyText: "bodyText";
$bodyTextAlpha20: "bodyTextAlpha20";
$button: "button";
$buttonTinted50: "buttonTinted50";
$buttonShaded80: "buttonShaded80";
$canvas: "canvas";
$darkText: "darkText"; // not present in theme maps - used by mixin
$field: "field";
$highlight: "highlight";
$highlight-background: "highlight-background";
$inactive: "inactive";
$inactiveText: "inactiveText";
$lightText: "lightText"; // not present in theme maps - used by mixin
$line: "line";
$linkText: "linkText";
$menu: "menu";
$menuActiveText: "menuActiveText";
$metaText: "metaText";
$navBar-backgroundColor: "navBar-backgroundColor";
$navBar-hoverLink: "navBar-hoverLink";
$placeholder: "placeholder";
$postIcon: "postIcon";
$posttitletextcolor: "posttitletextcolor";
$postTitleLink-VisitedLinkColor: "postTitleLink-VisitedLinkColor";
$primary: "primary";
$secondary-text: "secondary-text";
$separator: "separator";
$sr-header: "sr-header";
$titleText: "titleText";
$widgetColors-sidebarWidgetBorderColor: "widgetColors-sidebarWidgetBorderColor";
$widgetColors-sidebarWidgetTextColor: "widgetColors-sidebarWidgetTextColor";
