@use '../abstracts/mixins' as v;

// Comments Page

// .entry {
//   margin-bottom: v.$padding;
// }

.commentarea form.usertext.cloneable.warn-on-unload {
  margin: 0 0 16px;
  padding: v.$padding 0;
}
.content .commentarea > .sitetable > .comment,
.child .thing {
  margin: 0 0 8px 10px;
  padding: 5px 8px 5px 5px;
}

.panestack-title {
  margin: 0;
  border-bottom: 0;
  padding-left: v.$padding;
  margin-top: 16px;
}

.commentarea > .usertext {
  overflow: visible;
  -ms-flex-order: -1;
  order: -1;
}

.usertext button {
  margin: v.$padding v.$padding v.$padding 0;
}

.comments-page {
  .usertext-edit {
    width: 100%;
    max-width: 504px;

    textarea {
      position: relative;
      z-index: 0;
      width: 100%;
    }
  }

  .usertext textarea:not(:focus) {
    background-image: v.getImage("commentboxbg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.usertext .bottom-area {
  width: 504px;

  a.reddiquette {
    @include v.theme("color", v.$linkText);
  }
}

.commentarea .usertext-edit .md {
  margin: 0 0 16px;
}

.gold-accent.comment-visits-box {
  margin: 0 0 16px;
  padding: 0 8px;
  line-height: 36px;
  @include v.theme("background", v.$body);
  border: none;
  @include v.theme("color", v.$bodyText);
  max-width: initial;
}

.reddit-infobar.gold-accent {
  background: v.getColor("gold");
  margin: 16px 16px 0;
  border: none;
  padding: 0 8px;

  p {
    line-height: 36px;
    margin: 0;
  }
}

.commentarea .comment .midcol {
  margin-top: 2px;
  width: 32px;
  margin-right: 6px;
  overflow: visible;
}
// Gilding

// .gilded-icon:before {
//   background: v.getImage("spritesheet") -112px -160px;
//   height: 16px;
//   width: 16px;
// }

.user-gilded > .entry .gilded-icon:before {
  width: 16px;
}

// Comment Stack Behind Parent

.comment {
  .child,
  .showreplies {
    @include v.theme("border-left", v.$bodySecondary, false, true, "1px solid");
    margin-top: 0;
    margin-left: 20px;
  }

  // .midcol {
  //   width: 24px;
  //   margin-right: 0;

  //   .arrow {
  //     margin-left: 0;
  //     margin-bottom: 4px;
  //   }
  // }

  .entry .tagline {
    @include v.theme("color", v.$secondary-text);
  }

  .expand {
    background: none;
    transition: all 0.15s ease;
    @include v.theme("color", v.$secondary-text);

    &:hover {
      @include v.theme("color", v.$secondary-text);
      text-decoration: none;
      @include v.theme("background", v.$bodySecondary);
    }
  }

  &.collapsed a.expand {
    &:after {
      content: "ah ";
      position: absolute;
      display: block;
      width: calc(100% - 368px);
      background: rgba(0, 0, 0, 0);
      left: v.$padding;
      margin-top: -34px;
      height: 50px;
      color: transparent;
      transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover:after {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .author {
    @include v.theme("color", v.$bodyText);
    margin-right: 0;
    font-weight: 700;

    &:hover {
      @include v.theme("color", v.$active);
      text-decoration: none;
    }
  }
}

// Sticky Comment

.stickied.comment {
  > .entry a,
  .tagline .stickied-tagline {
    color: v.getColor("moderator");
  }
}

// Comments (/r/.../comments)

.listing-page .comment {
  margin-left: 0;
  padding: v.$padding v.$padding v.$padding 8px;

  .midcol {
    width: 36px;
    margin-right: 2px;
    margin-top: 4px;
    overflow: visible;
  }

  .parent {
    margin-bottom: 4px;
  }

  .title {
    font-size: 14px;
    margin-left: 8px;
  }
}
