@use '../abstracts/mixins' as v;

body {
  &.listing-page > .content,
  &.other-discussions-page > .content {
    padding: 0;
  }
}

.link {
  @include v.theme("border-bottom", v.$separator, false, true, "thin solid");
  border-radius: 0;
  margin: 0;
  position: relative;
  border-left: 4px solid transparent;
}

// Link Objects - From Left to Right

body > .content .link .rank,
.rank-spacer {
  display: none;
}

// Sticky Post

.thing.link.stickied {
  border-left: 4px solid v.getColor("moderator");
  a.title,
  li a,
  .entry li .comments {
    color: v.getColor("moderator") !important;
  }

  .expando-button:hover {
    background-color: v.getColor("moderator") !important;
    border-color: v.getColor("moderator") !important;
  }
}

.tagline .stickied-tagline {
  @include v.theme("color", v.$metaText);
  cursor: help;
}
