@use '../abstracts/mixins' as v;

.subreddit-rules-page {
  .subreddit-rule-buttons button,
  .subreddit-rule-add-form-buttons button,
  .subreddit-rule-delete-confirmation button,
  .form-buttons button {
    @include v.button;
    background: #2ea1ea !important;
    border-color: #2ea1ea !important;
  }
}

.modtools-page > div.content {
  margin-top: v.$container-margin-hor;
  margin-bottom: v.$container-margin-hor;
  margin-left: v.$container-margin-vert;
  margin-right: (v.$container-margin-vert * 2) + v.$sidebar-width;
  padding: v.$padding;
}

.subreddit-rule-item:hover {
  @include v.theme("background-color", v.$highlight);
}

.subreddit-rule-edit-button {
  display: flex;
  align-items: center;
}
