@use '../abstracts/mixins' as v;

.search-page {
  .searchpane > h4 {
    text-transform: uppercase;
  }
  .search-result-listing {
    // @include v.container(true);

    .search-result-group {
      max-width: 100%;
      .search-result-group-header {
        border-radius: 0;
        @include v.theme("border-color", v.$line);
        .search-header-label {
          text-transform: uppercase;
        }
      }
      .search-expando {
        &.collapsed {
          &:before {
            @include v.theme-gradient-background(v.$line);
          }
        }
        .search-result-body > .md {
          max-width: 100%;
        }
      }
      .search-expando-button {
        &.collapsed {
          .search-expando-button-label-collapsed {
            @include v.button(false, true);
            font-size: 10px;
            height: 20px;
            line-height: 20px;
          }
        }
        &.expanded {
          .search-expando-button-label-expanded {
            @include v.button(true, true);
            font-size: 10px;
            height: 20px;
            line-height: 20px;
          }
        }
      }
      .nav-buttons {
        .nextprev {
          text-transform: uppercase;
          font-weight: bold;
          padding: v.$padding;

          a {
            @include v.button(false, true);
            margin-left: v.$container-margin-hor;
          }
        }
      }
    }
  }
}

// No Results
// NOTE: not sure if this is even still an element in reddit?
#noresults {
  margin: 0;
  width: 100%;
  height: 416px;
  background: transparent v.getImage("noresults") no-repeat 50% 50%;
  text-indent: -9999px;
  font-size: 0;
  display: block;
}

// Item

.search-result {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: v.$padding;
}

.combined-search-page {
  .search-result {
    .search-result-header .search-title {
      @include v.theme("color", v.$titleText);
    }

    .search-result-meta {
      @include v.theme("color", v.$secondary-text);
    }

    a {
      @include v.theme("color", v.$linkText);

      > mark {
        @include v.theme("color", v.$linkText);
      }
    }
  }

  .search-result-subreddit .search-subscribe-button {
    .active {
      &.add {
        @include v.button(false, true);
        font-size: 10px;
        height: 20px;
        line-height: 20px;
      }
      &.remove {
        @include v.button(true, true);
        font-size: 10px;
        height: 20px;
        line-height: 20px;
      }
    }

    // .remove {
    //   @include v.button(true, true);
    //   font-size: 10px;
    //   height: 20px;
    //   line-height: 20px;
    // }
    // a {

    // }
  }

  .search-result .search-comments {
    @include v.theme("color", v.$linkText);
  }
}

.search-result.has-thumbnail > .thumbnail {
  margin-right: 16px;
  flex: 0 0 80px;

  &.self,
  &.default,
  &.nsfw,
  &.image,
  &.spoiler {
    margin-right: 28px;
    flex: 0 0 56px;
  }
}

.combined-search-page .search-result-group footer .nav-buttons {
  margin: 0;
}

.nextprev,
.next-suggestions {
  @include v.theme("color", v.$secondary-text);
}

// body > div.content > div.listing.search-result-listing > div > div > div:nth-child(1) > div > div.search-expando.collapsed > div > div

// // Responsive Positioning

// @media screen and (max-width: 1085px) {
//   .search-page #search {
//     left: 350px;
//   }
// }

// // Fix search results position
// div#previoussearch > form#search > input,
// div#previoussearch > form#search > label {
//   margin-left: 160px;
// }

// .search-page #search {
//   margin-bottom: 55px;
//   margin-top: 0px;
//   position: static;
// }

// // Search results page

// .search-page {
//   #header-bottom-left {
//     top: v.$header-bottom-left;
//   }

//   .searchpane {
//     margin: 0;
//     padding: 0;
//     border: none;
//     position: relative;
//   }
// }

// .raisedbox h4 {
//   display: none;
// }

// .search-page #search,
// .res .search-page #search {
//   position: absolute;
//   top: -146px;
//   transform: translateX(-50%);
//   left: 50%;
// }

// .search-page #search input[type="text"],
// .res .search-page #search input[type="text"] {
//   min-width: 320px;
//   width: 320px;
// }

// .search-page .side .create .morelink {
//   top: 0;
// }

// .combined-search-page .search-submit-button {
//   position: relative;
//   left: -42px;
//   width: 32px;
//   height: 32px;
//   margin: 0;
//   padding: 0;
//   background: v.getImage("spritesheet") -64px -97px;
//   box-shadow: none;
//   border: none;
//   transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover {
//     background-color: rgba(158, 158, 158, 0.2);
//   }

//   .search-icon {
//     display: none;
//   }
// }

// .search-page #previoussearch {
//   label {
//     margin: 0;
//     width: 320px;
//     padding: 12px;
//     background: #f9f9f9;
//     z-index: -1;
//     box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
//     cursor: pointer;
//     margin-top: -2px;
//   }

//   p a#search_showmore {
//     position: absolute;
//     left: 324px;
//     top: 8px;
//     width: 22px;
//     height: 24px;
//     background: v.getImage("spritesheet") -49px -168px no-repeat;
//     overflow: hidden;
//     font-size: 0;
//   }
// }

// #previoussearch #moresearchinfo {
//   margin: 0;
//   max-width: none;
//   border: none;
// }

// // New Search Results

// .search-result-group {
//   max-width: none;
//   min-width: 0;
//   padding: 0;
// }

// .search-result-group-header {
//   height: 36px;
//   line-height: 38px;
//   margin: 0 0 8px;
//   border: none;
// }

// .search-header-label {
//   text-transform: capitalize;
//   @include v.theme("color", v.$secondary-text);
//   font: 24px/38px Lato, Arial, sans-serif;
// }

// .combined-search-page .search-result-group .search-menu {
//   margin-right: 16px;
// }

// // Subreddits

// .search-result.search-result-subreddit {
//   display: inline-block;
//   width: calc(33% - 8px);
//   max-width: 360px;
//   height: 184px;
//   margin: 0 16px 16px 0;
//   vertical-align: top;
//   overflow: hidden;

//   &:nth-of-type(3n) {
//     margin-right: 0;
//   }
// }

// .search-result-subreddit {
//   .search-result-body {
//     padding: 0;
//   }

//   .search-result-meta {
//     padding: 4px 0;
//   }
// }

// // More subreddits

// [class] .searchfacets {
//   border: none;
//   margin: 0 0 8px;
//   width: 100%;
//   max-width: initial;
// }

// .searchfacets {
//   .title {
//     margin: 0;
//   }

//   h4.title {
//     @include v.theme("color", v.$secondary-text);
//     margin: 0 0 8px;

//     &:first-letter {
//       text-transform: capitalize;
//     }
//   }

//   .list {
//     margin: 0;
//   }

//   .facet.count {
//     @include v.theme("color", v.$secondary-text);
//     font-weight: 400;

//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// .search-page {
//   .morelink {
//     top: 384px;
//   }

//   .side {
//     margin-top: 280px;
//   }
// }

// .search-summary {
//   display: none;
// }

// No Results

#noresults {
  margin: 0;
  width: 100%;
  height: 416px;
  background: transparent v.getImage("noresults") no-repeat 50% 50%;
  text-indent: -9999px;
  font-size: 0;
  display: block;
}

// // Next Page

// .nav-buttons,
// .search-result-group footer .nav-buttons * {
//   padding: v.$padding 0;
//   margin: 0 16px;
//   @include v.theme("color", v.$secondary-text);
// }

// .nav-buttons .nextprev,
// .search-result-group footer .nav-buttons * {
//   @include v.theme("color", v.$secondary-text);
//   font-size: 14px;
// }

// .nav-buttons .nextprev a {
//   border: 0;
//   padding: 8px v.$padding;
//   background-color: transparent;
//   @include v.theme("border", v.$bodySecondary, false, true, "1px solid");
//   transition: background-color 0.15s ease;

//   &:hover {
//     text-decoration: none;
//     background-color: rgba(0, 0, 0, 0.05);
//   }
// }
