@use '../abstracts/mixins' as v;

// Subreddit Settings Page / Flair Page / Stylesheet Page / Rules Page

.linefield {
  @include v.theme("background", v.$body);
  @include v.theme("color", v.$secondary-text);
  margin: 0 0 16px;
  width: 528px;
  border: none;

  &.mobile {
    @include v.theme("background", v.$body);
    @include v.theme("color", v.$secondary-text);
    margin: 0 0 16px;
    width: 528px;
    border: none;
  }

  .title {
    @include v.theme("color", v.$active);
    text-transform: capitalize;
    padding: 0;
  }

  .linefield-content {
    padding: 0;
  }

  .title:first-letter,
  label:first-letter {
    text-transform: capitalize;
  }
}

.usertext .bottom-area a {
  @include v.theme("color", v.$secondary-text);

  &:hover {
    @include v.theme("color", v.$linkText);
  }
}

.pretty-form {
  padding-top: 24px;
}

.fancy-settings h1,
.create-promotion h1 {
  @include v.theme("color", v.$secondary-text);
}

.fancy-settings h1 strong {
  @include v.theme("color", v.$metaText);
}

.tabmenu {
  @include v.theme("border-bottom", v.$bodySecondary, false, true, "1px solid");
  margin-bottom: 12px;

  li {
    margin: 0 !important;

    a {
      background: none;
      @include v.theme("color", v.$bodyText);
      font-size: 14px;
    }

    &.selected a {
      @include v.theme("color", v.$linkText);
      background: none;
      border: none;
    }
  }
}

.tabpane-content {
  border: none;

  .flairrow a.author {
    @include v.theme("color", v.$secondary-text);
  }

  .tagline a {
    @include v.theme("color", v.$bodyText);
  }

  .thing .title {
    overflow: visible;
  }
}

.fancy-settings {
  .pretty-form {
    padding-top: 0;
  }

  h1 {
    @include v.theme("color", v.$bodyText);

    strong {
      @include v.theme("color", v.$metaText);
    }
  }
}
