@use '../abstracts/mixins' as v;

// Stylesheet Page

.stylesheet-customize-container {
  .pretty-form {
    padding: 8px 0;
    margin-bottom: 16px;

    .sheets {
      margin-right: 0;
    }
  }

  h2 {
    display: none;
  }
}

.sheets .btn {
  margin-right: v.$padding;
  &.right {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
  }
}

pre {
  overflow: hidden;
}

#images {
  padding: 8px 0;
  @include v.theme("background", v.$body);
  position: relative;
  overflow: auto;
  height: inherit;

  #image-upload {
    margin: 0 0 16px;
  }
}

ul.image-preview-list {
  margin: 16px 0 0;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include v.theme("border", v.$separator, false, true, "1px solid");
    width: auto;
    .preview {
      display: flex;
      flex: 2;
      align-items: center;
      justify-content: center;
      @include v.theme("background", v.$postIcon);
      width: 100%;
      height: 100%;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
      b {
        padding-left: 0;
      }
      pre {
        @include v.theme("color", v.$codeColor);
        margin: 0.25rem;
      }
    }
  }
}
