@use '../abstracts/mixins' as v;

// Submission Page
.content.submit {
  ul.tabmenu {
    li:not(.selected) a {
      @include v.button;
    }
    li.selected a {
      @include v.button(true);
    }
  }
  span.little.gray.roundfield-description {
    display: none;
  }
  .formtabs-content {
    // 4px solid #5f99cf
    @include v.theme("border-top", v.$separator, false, true, "4px solid");
    @include v.container();
    width: 100%;
    .roundfield {
      width: 100%;
      textarea,
      input:not([type="checkbox"]):not([type="radio"]),
      select {
        width: 100%;
        padding: v.$padding;
      }
    }
    #newlink-with-image-upload {
      .image-upload-drop-target {
        @include v.input(false, true);
      }
      .file-upload-button {
        padding-right: v.$padding;
        font-size: 14px;
        line-height: v.$button-height;
        @include v.theme("background-color", v.$primary);
        @include v.theme("color", v.$lightText);
        @include v.theme("border-color", v.$primary);
      }
    }
  }
  .info-notice,
  .infobar {
    @include v.theme("background-color", v.$highlight);
    @include v.theme("border", v.$line, false, true, "1px solid");
  }
}

.content h1,
.submit_text h1 {
  text-transform: uppercase;
  @include v.theme("color", v.$metaText);
}
.submit_text h1 span {
  text-transform: uppercase;
  @include v.theme("color", v.$primary);
}

// #new-link-image-input > label

// .submit-page {
//   #header {
//     height: 144px;
//   }

//   #header-bottom-left {
//     top: 86px;
//     left: 50%;
//     margin-left: -262px;
//   }

//   &[class] .content {
//     margin: 32px auto 0;
//   }

//   .side,
//   .content h1 {
//     display: none;
//   }
// }

// #suggested-reddits {
//   display: none;
// }

// .submit-page {
//   #newlink.submit.content {
//     width: 524px;
//     margin: 0 auto;

//     form .spacer + .spacer {
//       margin: 0;
//     }

//     ul.tabmenu.formtab {
//       position: relative;
//       padding: 0;
//       border: none;
//       @include v.theme("background", v.$button);
//       box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
//     }

//     .tabmenu.formtab {
//       a {
//         padding: v.$padding;
//         width: 262px;
//         display: inline-block;
//         text-align: center;
//         color: rgba(255, 255, 255, 0.7);
//         text-transform: uppercase;
//         font-weight: 700;
//         transition: all 0.15s ease;
//         font-size: 16px;
//         border: none;
//         border-bottom: 4px solid transparent;
//       }

//       .selected a {
//         font-size: 16px;
//         background: none;
//         @include v.theme("color", v.$body);
//         border-bottom: 4px solid;
//       }

//       a:hover {
//         @include v.theme("color", v.$body);
//       }
//     }
//   }

//   .formtabs-content {
//     border-top: 0;
//     padding-top: 0;
//   }

//   .roundfield {
//     padding: v.$padding;
//     width: 524px;
//     border: none;

//     span.title {
//       @include v.theme("color", v.$bodyText);
//       text-transform: capitalize;
//     }
//   }

//   #url-field button {
//     background: #c3cfd6;
//   }
// }

// .submit_text {
//   &.enabled.roundfield {
//     @include v.theme("background", v.$button);

//     .md {
//       @include v.theme("color", v.$body);
//     }
//   }

//   ol,
//   ul {
//     margin-left: -1em;
//   }
// }

// .submit-page .infobar {
//   display: none !important;
// }

// .content.submit .info-notice {
//   @include v.theme("background", v.$bodySecondary);
//   padding: v.$padding;
//   border: none;
//   margin-bottom: 0;
// }

// #items-required {
//   padding-bottom: 0 !important;
//   padding-top: 15px;
// }

// .submit-page {
//   #newlink.submit.content .btn {
//     width: 100%;
//     height: auto;
//     margin-top: 16px;
//     cursor: pointer;
//     text-transform: capitalize;
//     font: 17px Lato, Arial, sans-serif;
//     padding: v.$padding;
//     margin-bottom: 48px;

//     &:hover {
//       box-shadow: 0 2px 12px rgba(0, 0, 0, 0.48);
//     }
//   }

//   .footer-parent {
//     display: none;
//   }
// }

// body #newlink-with-image-upload .file-upload-button {
//   padding-right: 18px;
//   line-height: 37px;
// }

// #new-link-image-input > div:first-of-type {
//   display: inline-block;
//   padding-right: v.$padding;
// }
