@use '../abstracts/mixins' as v;

// Wiki Page

.wiki-page {
  .wikititle {
    @include v.theme("background", v.$body);
    padding: 9px v.$padding 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
    margin: 0;
  }

  .pageactions {
    @include v.theme("background", v.$body);
    margin-left: 16px;
    padding: 0 v.$padding;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);

    .wikiaction {
      margin: 0;
      background: transparent;
      border-radius: 0;
      padding: 10px v.$padding 11px;
      @include v.theme("color", v.$secondary-text);
    }

    .wikiaction-current {
      padding: 10px v.$padding 9px;
      @include v.theme("border-bottom", v.$active, false, true, "2px solid");
      @include v.theme("color", v.$active);
    }

    .wikiaction:hover,
    .wikiaction-current:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .wiki-page-content {
    @include v.thing;
    @include v.container;
    margin: v.$padding;

    .discussionlink {
      margin: v.$padding 0 0;
      padding: 0;

      a {
        padding: 0 v.$padding;
      }
    }

    .wiki {
      > .toc {
        border-radius: 0px;
        > ul {
          border: none;
        }
      }

      &.md {
        @include v.theme("color", v.$bodyText);

        h2 {
          @include v.theme("color", v.$bodyText);
        }
        h1 {
          @include v.theme("color", v.$titleText);
        }
      }
    }

    hr {
      border-style: solid;
      @include v.theme("border-color", v.$bodySecondary);
    }

    em {
      @include v.theme("color", v.$secondary-text);
    }
  }
}
