@use 'sass:color';

$_primary: #f50;

$theme: (
  "actionIcon": #878a8c,
  "active": $_primary,
  "banner-backgroundColor": $_primary,
  "body": #ffffff,
  "bodySecondary": #edf1f3,
  "bodyFade": darken(#fff, 7%),
  "bodyText": #292f34,
  "bodyTextAlpha20": color.scale(#292f34, $alpha: 80%),
  "button": $_primary,
  "buttonTinted50": color.scale($_primary, $lightness: 50%),
  "buttonShaded80": color.scale($_primary, $lightness: -80%),
  "canvas": #edeff1,
  "codeBackground": #ffffff,
  "codeColor": #616161,
  "codeBorder": #007acc,
  "codeLineNums": #867893,
  "codeSeparator": #939393,
  "field": #f6f7f8,
  "highlight": #fbe6e8,
  "highlight-background": #d7dfe7,
  "inactive": #edeff1,
  "inactiveText": #738491,
  "line": #dadada,
  "linkText": #24a0ed,
  "menu": $_primary,
  "menuActiveText": #ffffff,
  "metaText": #7a797c,
  "navBar-backgroundColor": $_primary,
  "navBar-hoverLink": $_primary,
  "placeholder": #d2d0d6,
  "postIcon": #878589,
  "posttitletextcolor": #434450,
  "postTitleLink-VisitedLinkColor": #aaaab0,
  "primary": $_primary,
  "secondary-text": #98abba,
  "separator": #c8c6cc,
  "sr-header": #ffffff,
  "titleText": #434450,
  "widgetColors-sidebarWidgetBorderColor": #ccc,
  "widgetColors-sidebarWidgetTextColor": #1a1a1b,
);
