@use '../../abstracts/mixins' as v;

// /r/Naut Credits - Please do not remove this section

.side:after {
  display: block;
  margin: 0;
  padding: 10px 0;
  @include v.theme("color", v.$linkText);
  content: "Subreddit CSS Theme by /r/Naut";
  position: absolute;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  text-align: center;
}
