@use '../../abstracts/mixins' as v;

/* Sidebar Description */

.side {
  .md {
    .-blocks,
    .-lists,
    pre,
    blockquote,
    table,
    p,
    ul,
    ol {
      @include v.theme("color", v.$bodyText);
      font: 13px/1.45 Lato, Arial, sans-serif;
    }
  }

  .titlebox {
    .md {
      h1 {
        line-height: 18px;
        margin: 0.5em 0 0 !important;
      }

      h2 {
        margin: 16px 0 2px;
      }

      h3,
      h4 {
        margin: 0;
        a {
          @include v.link-as-button();
          margin: 8px 0;
          width: 100%;
        }
      }
    }
  }
}
