@use '../../abstracts/variables' as v;

/* Subreddit Box */

/* Subreddit Name / Subscibers / Online */

.titlebox span.subscribers {
  position: absolute;
  z-index: 100;
  @include v.theme("color", v.$widgetColors-sidebarWidgetTextColor);
  font-size: 12px;
  top: 336px;
}

div.titlebox span.word {
  display: none;
}

.titlebox .users-online {
  display: inline;

  &:before {
    display: none;
  }
}

div.titlebox span.number:after {
  content: " " + v.$readers;
}

.titlebox {
  .users-online .number {
    font-style: italic;

    &:before {
      content: "";
      width: 16px;
      height: 9px;
      display: inline-block;
      margin-right: 8px;
      background: v.getImage("spritesheet") -64px -36px;
    }

    &:after {
      content: " " + v.$users;
    }
  }

  .word {
    display: none;
  }

  .users-online,
  .number {
    cursor: text;
  }

  .fancy-toggle-button {
    margin: 0;
    position: absolute;
    margin-left: 208px;
    top: 314px;
    z-index: 100;

    .active {
      display: block;
      border: none;
      height: 32px;
      border-radius: 2px;
      line-height: 30px;
      background-image: none !important;
      padding: 0 12px;
      text-transform: capitalize;
      box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12),
        0 0 4px 0 rgba(0, 0, 0, 0.12);
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s cubic-bezier(0.4, 0, 0.2, 1), padding 0.2s ease,
        margin 0.2s ease;

      &:hover {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      }

      &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }

      &.add {
        @include v.theme("background", v.$button);
        @include v.theme("color", v.$body);

        &:hover {
          @include v.theme("background", v.$buttonTinted50);
          @include v.theme("color", v.$bodyText);
        }

        &:active {
          @include v.theme("background", v.$buttonShaded80);
          padding-left: 24px;
          margin-left: -13px;
          text-align: center;
        }
      }

      &.remove {
        @include v.theme("background", v.$body);
        @include v.theme("color", v.$button);
        @include v.theme("border", v.$button, false, true, "1px solid");
        margin-left: -14px;
        box-shadow: none;

        &:hover {
          @include v.theme("background", v.$buttonTinted50);
          @include v.theme("color", v.$bodyText);
          @include v.theme("border", v.$bodyText, false, true, "1px solid");
        }

        &:active {
          @include v.theme("background", v.$buttonShaded80);
          @include v.theme("color", v.$body);
          @include v.theme("border", v.$body, false, true, "1px solid");
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
