@use '../../abstracts/mixins' as v;

// Mod Box

.side {
  #moderation_tools .title {
    h1 {
      text-transform: capitalize;
      @include v.theme("color", v.$titleText);
    }

    .collapse-button {
      @include v.theme("color", v.$titleText);
      vertical-align: middle;
      text-align: center;
      border-radius: 1px;
      @include v.theme("border", v.$bodySecondary, false, true, "1px solid");
    }
  }

  .sidecontentbox .content {
    border: none;
    padding: 8px 0;
  }
}

.icon-menu a {
  background: none;
}
