@use '../../abstracts/mixins' as v;

.sidebox {
  .morelink {
    // reddit css doesn't support the all prop :(
    // all: unset;
    display: block;
    text-align: center;
    position: relative;
    border: none;
    background: none;
    font-size: unset;
    font-weight: unset;
    letter-spacing: unset;
    line-height: unset;
    height: unset;
    a {
      box-sizing: border-box;
      @include v.button(false, true);
      margin-top: 0;
    }
    .nub {
      display: none;
    }
  }

  .disabled .morelink {
    box-shadow: none !important;
    @include v.theme("background", v.$inactive);
    width: v.$sidebar-width;

    a {
      @include v.theme("color", v.$inactiveText);
      font-size: 14px;
    }
  }

  &.mod-override .morelink {
    a:after {
      position: relative;
      margin: 10px 10px 10px 0;
      float: right;
      margin-left: -16px;
    }

    &:hover a:after {
      opacity: 1;
    }
  }

  .spacer {
    display: none;
  }
}
