@use '../../abstracts/mixins' as v;

// Subscribe Button

// Subscribe

// Unsubscribe

.hover-bubble {
  &.multi-selector {
    right: 346px;
    margin-top: -56px;
    border: none;
  }

  &.anchor-right {
    margin-top: -35px;
    > div.title > strong {
      @include v.theme("color", v.$bodyText);
    }
    &:before {
      right: -19px;
      @include v.theme("border-left-color", v.$bodySecondary);
    }
  }
}

.titlebox .bottom {
  padding-top: 10px;
  border-color: rgba(0, 0, 0, 0.14);
}
