@use '../../abstracts/mixins' as v;

.titlebox {
  // &:before {
  //   content: "Subreddit Info";
  //   display: inline-block;
  //   width: 100%;
  //   text-align: center;
  //   @include v.theme("color", v.$bodyText);
  //   margin-bottom: 8px;
  // }
  .tagline {
    margin: 0;

    &:after {
      content: "";
      height: 2px;
      background: #f2f2f2;
      display: block;
      margin-top: 16px;
    }
  }

  form {
    &.flairtoggle {
      line-height: 2;
    }

    &.toggle.sr_style_toggle {
      padding-bottom: 0;
      display: block;
      background-color: transparent;

      label {
        position: relative;
        top: -3px;
      }
    }
  }

  h1 {
    a {
      @include v.theme("color", v.$bodyText);
    }
  }
  form.toggle,
  .leavemoderator {
    @include v.thing;
  }

  .subscribers,
  .users-online {
    display: block;
    width: 100%;
    text-align: center;
    @include v.theme("color", v.$bodyText);
    // box-shadow: inset 2px 5px 20px #555;
    padding: 5px;
    @include v.theme("border", v.$button, false, true, "2px solid");
    border-radius: v.$radius;
    margin-top: 8px;
    // height: 37px;
  }
  .subscribers .number,
  .users-online .number {
    font-size: 1.3em;
    font-weight: bold;
  }
  .subscribers::after {
    content: " " + v.$readers;
  }
  .users-online::after {
    content: " " + v.$users;
  }
  .subscribers::after,
  .users-online::after {
    display: block;
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
  }
  .subscribers .word,
  .users-online .word {
    display: none;
  }

  .users-online::before {
    display: none;
  }

  // .subscribers {
  //   display: block;
  //   font-size: 12px;
  //   // hide "readers" - replace with user var in pseudo element
  //   .word {
  //     display: none;
  //   }
  //   .number {
  //     @include v.theme("color", v.$bodyText);
  //     cursor: text;
  //     &:after {
  //       content: " " + v.$readers;
  //     }
  //   }
  // }

  // .users-online {
  //   display: block;
  //   min-width: 100%;
  //   border: 1px solid yellow;

  //   .number {
  //     min-width: 100%;
  //     cursor: text;
  //     border: 1px solid gray;
  //     &:after {
  //       text-align: right;
  //       border: 1px solid white;
  //       content: " " + v.$users;
  //     }
  //   }
  //   .word {
  //     display: none;
  //   }

  //   &:before {
  //     display: none;
  //   }
  // }

  .res-fancy-toggle-button {
    &.RESDashboardToggle,
    &.RESshortcutside {
      @include v.button(false, true);
      margin: v.$padding 5px 0 0;
      max-width: 33%;
      padding: 0;
      padding: 0 8px;
      font-size: 11px;
      &.remove {
        @include v.button(true, true);
        max-width: 33%;
        padding: 0;
        padding: 0 8px;
        font-size: 11px;
      }
    }
  }

  .fancy-toggle-button {
    margin: 0;
    .active {
      @include v.button(true, true);
      margin: v.$padding 5px v.$padding 0;
    }
  }

  .md {
    h1 {
      line-height: 18px;
      margin: 0.5em 0 0 !important;
    }

    h2 {
      margin: 16px 0 2px;
    }

    h3,
    h4 {
      margin: 0;
      a {
        @include v.button(false, true);
        margin: 8px 0;
        width: 100%;
      }
    }
  }
}
