@use '../../abstracts/mixins' as v;

.titlebox {
  .tagline {
    margin: 0;

    &:after {
      content: "";
      height: 2px;
      background: #f2f2f2;
      display: block;
      margin-top: 16px;
    }
  }

  form {
    &.flairtoggle {
      line-height: 2;
    }

    &.toggle.sr_style_toggle {
      padding-bottom: 0;
      display: block;
      background-color: transparent;

      label {
        position: relative;
        top: -3px;
      }
    }
  }

  h1 {
    a {
      @include v.theme("color", v.$bodyText);
    }
  }
  form.toggle,
  .leavemoderator {
    @include v.thing;
  }

  .res-fancy-toggle-button {
    &.RESDashboardToggle,
    &.RESshortcutside {
      @include v.button(false, true);
      margin: v.$padding 5px 0 0;
      max-width: 33%;
      padding: 0;
      padding: 0 8px;
      font-size: 11px;
      &.remove {
        @include v.button(true, true);
        margin: v.$padding 5px 0 0;
        max-width: 33%;
        padding: 0;
        padding: 0 8px;
        font-size: 11px;
      }
    }
  }

  .fancy-toggle-button {
    margin: 0;
    .active {
      @include v.button(true, true);
      margin: v.$padding 5px v.$padding 0;
    }
  }

  .md {
    h1 {
      line-height: 18px;
      margin: 0.5em 0 0 !important;
    }

    h2 {
      margin: 16px 0 2px;
    }

    h3,
    h4 {
      margin: 0;
      a {
        @include v.button(false, true);
        margin: 8px 0;
        width: 100%;
      }
    }
  }
}
