@use '../../abstracts/mixins' as v;

$_css-class: "points";
$_desc: "ClippyPoints Awarded:  ";

//Clippy Point Flair styling - Comments

$_clippy-height: 50px;
$_clippy-width: 35px;
$_arrow-width: 15px;
$_left-pad: 10px;
$_arrow-margin-left: 8.5px;
$_margin: $_arrow-width + $_clippy-width + $_left-pad + $_arrow-margin-left;

.commentarea {
  .entry {
    margin-left: $_margin;
  }

  .flair- {
    &#{$_css-class} {
      background-color: transparent;
      border: none;
      background-image: v.getImage("clippyflair");
      background-position: center;
      position: absolute;
      width: $_clippy-width;
      height: $_clippy-height;
      left: ($_arrow-width + $_left-pad + $_arrow-margin-left);
      border-radius: v.$radius;
      @include v.theme("color", v.$primary);
      text-shadow: 0px 1px 0px #333333;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      line-height: $_clippy-height;
      &::after {
        content: $_desc attr(title);
        position: absolute;
        top: 0;
        left: $_clippy-width;
        font-size: 90%;
        line-height: 15px;
        margin-top: -2px;
        padding: 6px 6px;
        @include v.theme("background-color", v.$banner-backgroundColor);
        @include v.theme("color", v.$menuActiveText);
        // @include v.theme-stroke(v.$darkText);
        text-shadow: 0px 1px 0px #333333;
        border-radius: v.$radius;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        white-space: nowrap;
        transform: scaleX(0);
        transition: transform v.$transition ease;
        transform-origin: left center;
      }
      &:hover::after {
        transform: scaleX(1);
        z-index: 2;
      }
      &::before {
        display: none;
      }
    }
  }

  form.usertext.cloneable.warn-on-unload {
    margin-left: $_margin - 24px;
  }
}

.commentarea .thing,
.res .commentarea .thing,
html.res-commentBoxes.res-commentBoxes-rounded .comment {
  position: relative;
}

//End Clippy Point Flair styling - Comments

// Clippy Point Flair styling - Link Flair
.titlebox,
.link .entry .tagline,
.sidecontentbox,
.linkflair {
  .flair- {
    &#{$_css-class} {
      display: inline-flex;
      font-weight: bold;
      @include v.theme("background-color", v.$lightText);
      border-width: 1px;
      @include v.theme("border-color", v.$bodyText);
      @include v.theme("background", v.$primary);
      @include v.theme("color", v.$lightText);
      border-style: none;

      &::before {
        content: $_desc;
        // display: inline;
        @include v.theme("background-color", v.$banner-backgroundColor);
        white-space: nowrap;
        overflow: hidden;
        border: 0px solid;
        position: relative;
        width: 0 !important;
        transform: scaleX(0);
        transform-origin: left;
        transition-property: transform, width;
        transition-duration: v.$transition;
        transition-timing-function: ease;
      }
      &:hover {
        @include v.theme("color", v.$menuActiveText);
        &::before {
          width: 115px !important;
          transform: scaleX(1);
        }
      }
    }
  }
}

// End Clippy Point Flair styling - Link Flair
