@use '../../abstracts/mixins' as v;

$_css-class: "points";
$_desc: "ClippyPoints Awarded:  ";

//Clippy Point Flair styling - Comments

$_collapse-width: 22px;
$_clippy-height: 50px;
// $_clippy-width: 26px;
$_clippy-width: 35px;
$_arrow-width: 15px;
$_arrow-margin-left: 8.5px;
$_arrow-margin-right: 3px;
$_clippy-start: $_collapse-width + $_arrow-width + $_arrow-margin-right;
$_comment-start: $_clippy-start - $_arrow-margin-left + $_clippy-width +
  $_arrow-margin-right + $_arrow-margin-right;

.arrow {
  margin-left: $_arrow-margin-left;
  margin-right: $_arrow-margin-right;
}

.commentarea {
  .entry {
    margin-left: $_comment-start;
  }

  .flair- {
    &#{$_css-class} {
      background-color: transparent;
      border: none;
      background-image: v.getImage("clippyflair");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      padding: 0;
      width: $_clippy-width;
      height: $_clippy-height;
      left: $_clippy-start;
      border-radius: v.$radius;
      @include v.theme("color", v.$primary);
      text-shadow: 0px 1px 0px #333333;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      line-height: $_clippy-height;
      margin: 0;
      &::after {
        content: $_desc attr(title);
        position: absolute;
        top: 0;
        left: $_clippy-width;
        font-size: 90%;
        line-height: 15px;
        margin-top: -2px;
        padding: 6px 6px;
        @include v.theme("background-color", v.$banner-backgroundColor);
        @include v.theme("color", v.$menuActiveText);
        // @include v.theme-stroke(v.$darkText);
        text-shadow: 0px 1px 0px #333333;
        border-radius: v.$radius;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        white-space: nowrap;
        transform: scaleX(0);
        transition: transform v.$transition ease;
        transform-origin: left center;
      }
      &:hover::after {
        transform: scaleX(1);
        z-index: 2;
      }
      &::before {
        display: none;
      }
    }
  }

  form.usertext.cloneable.warn-on-unload {
    margin-left: $_comment-start - 24px;
  }
}

.commentarea .thing,
.res .commentarea .thing,
html.res-commentBoxes.res-commentBoxes-rounded .comment {
  position: relative;
}

//End Clippy Point Flair styling - Comments
