@use '../../abstracts/mixins' as v;

// don't forget to update the _sidebar-filterbyflair.scss file if you're using that extension...

//Custom post-flair formatting

.linkflair-unsolved .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "unsolved"));
}

.linkflair-solved .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "solved"));
}

.linkflair-discussion .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "discussion"));
}
.linkflair-challenge .linkflairlabel {
  background-color: v.getColor("linkflair", "challenge");
}

.linkflair-protip .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "protip"));
}

.linkflair-codereview .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "codereview"));
}

.linkflair-modpost .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "modpost"));
}

.linkflair-advertisement .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "advertisement"));
}

.linkflair-showntell .linkflairlabel {
  @include v.customButtonColors(v.getColor("linkflair", "showntell"));
}

//End Custom post-flair formatting
