@use '../../abstracts/mixins' as v;

// Filter by flair styling
.side {
  .titlebox {
    .md {
      ul {
        padding-left: 0;
        list-style: none;
        &:nth-of-type(1) > li {
          > p {
            @include v.button(false, true);
            padding: 0 v.$padding;
            width: 100%;
            font-size: 14px !important;
          }
        }

        li {
          &:hover blockquote {
            transform: scaleX(1);
            transition-delay: 0s;
          }
          blockquote {
            position: absolute;
            @include v.thing(true);
            @include v.container;
            margin-top: -54px;
            width: v.$sidebar-width;
            z-index: 1;
            // visibility: hidden;
            right: v.$sidebar-width + v.$container-margin-hor;
            // opacity: 0;
            transform: scaleX(0);
            transition: transform v.$transition ease;
            transform-origin: right center;
            transition-delay: 1s;
            p {
              border-radius: 3px;
              width: 284px;
              &:hover {
                opacity: 0.85;
              }
              &:nth-child(1) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "unsolved")
                );
              }
              &:nth-child(2) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "solved")
                );
              }
              &:nth-child(3) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "discussion")
                );
              }
              &:nth-child(4) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "protip")
                );
              }
              &:nth-child(5) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "codereview")
                );
              }
              &:nth-child(6) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "advertisement")
                );
              }
              &:nth-child(7) > a {
                @include v.customButtonColors(
                  v.getColor("linkflair", "challenge")
                );
              }

              a {
                @include v.button(false, true);
                @include v.theme("color", v.$lightText);
                @include v.theme("border-color", v.$line);
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// End Filter by flair styling
