@use '../../abstracts/mixins' as v;

// Sidebar Rules box styling
.side {
  h3:nth-child(3) > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  ol:nth-of-type(1) {
    @include v.theme("border", v.$button, false, true, "1px solid");
    border-top: none !important;
    margin-top: -10px;
    margin-bottom: v.$padding;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.5rem v.$container-margin-hor 0 v.$container-margin-hor;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.27);
    font-weight: bold;
  }
}

// End Sidebar Rules box styling
