@use '../../abstracts/mixins' as v;

#mail,
#chat,
#modmail,
#new_modmail {
  border-radius: 0;
}

// New mail notification

#mail.havemail {
  &:before {
    position: fixed;
    padding: v.$padding 24px;
    bottom: 24px;
    z-index: 100;
    font-size: medium;
    background: v.getColor("mail", "havemail");
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    @include v.theme("color", v.$lightText);
    width: 250px;
    height: 48px;
    left: 32px;
    content: "You have new messages!";
    text-indent: 0;
    line-height: 1;
    -webkit-transform: translateY(112px);
    transform: translateY(112px);
    transition: background 0.25s ease, box-shadow 0.25s ease;

    //  Toast animation
    @include v.animation-keyframes {
      0% {
        transform: translateY(76px);
        opacity: 0;
      }

      20% {
        transform: translateY(76px);
        opacity: 0;
      }

      25% {
        transform: translateY(-8px);
        opacity: 1;
      }

      27% {
        transform: translateY(0px);
        opacity: 1;
      }

      92% {
        transform: translateY(0px);
        opacity: 1;
      }

      97% {
        transform: translateY(16px);
        opacity: 1;
      }

      100% {
        transform: translateY(76px);
        opacity: 0;
      }
    }
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }

  &:hover:before {
    background-color: v.getColor("mail", "havemail-hover");
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.48);
    animation-play-state: paused;
  }

  &:active:before {
    background-color: v.getColor("mail", "havemail-active");
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.76);
  }
}

// Fix comments page sorting options being on top of the havemail element

.commentarea {
  .panestack-title,
  .menuarea {
    z-index: 0;
  }
}
