@use '../../abstracts/images' as img;

/* Snoo */

#header-img {
  &.default-header {
    z-index: 99;
    width: 0;
    padding-left: 42px;
    height: 42px;
    background: img.getImage("spritesheet") -80px 0;
    margin: 0 8px 0 0;
    vertical-align: top;
    font-size: 0;

    &:hover {
      background-position: -122px 0;
    }
  }

  z-index: 99;
  width: 0;
  padding-left: 42px;
  height: 42px;
  background: img.getImage("spritesheet") -80px 0;
  margin: 0 8px 0 0;
  vertical-align: top;
  font-size: 0;

  &:hover {
    background-position: -122px 0;
  }
}
