@use '../../abstracts/mixins' as v;

// Subreddits Bar

#sr-header-area {
  @include v.theme("background", v.$sr-header);
  border: none;
  border-radius: 0px;
  transition: all 0.15s ease;
  height: v.$subreddits-bar-height;
  line-height: v.$subreddits-bar-height - 1px;

  // .width-clip {
  //   right: v.$sidebar-width + v.$container-margin-hor + v.$container-margin-hor;
  // }
  .redesign-beta-optin {
    margin-top: 3px;
  }
}

// body:not(.loggedin) #sr-header-area .width-clip {
//   right: 340px;
// }

#sr-header-area {
  .sr-list {
    margin-right: 48px;
  }

  .sr-bar a {
    background: none;
    @include v.theme("color", v.$inactiveText);
    transition: all 0.15s ease;
  }
}

#sr-more-link {
  background: none;
  @include v.theme("color", v.$inactiveText);
  transition: all 0.15s ease;
}

#sr-header-area {
  .separator,
  .dropdown.srdrop .selected {
    background: none;
    @include v.theme("color", v.$inactiveText);
    transition: all 0.15s ease;
  }

  &:hover {
    .sr-bar a,
    #sr-more-link,
    .seperator,
    .dropdown.srdrop .selected {
      @include v.theme("color", v.$bodyText);
    }
  }

  .sr-bar a:hover {
    background: none;
    border: none;
    transition: all 0.15s ease;
  }
}

#sr-more-link:hover,
#sr-header-area .dropdown.srdrop .selected:hover {
  background: none;
  border: none;
  transition: all 0.15s ease;
}

a.random.choice {
  padding-top: 2px;
  position: relative;
  display: inline-block;
  margin-top: -2px;
}

.sr-bar .separator {
  color: transparent !important;
}

// Subreddits Dropdown
#sr-header-area {
  .dropdown.srdrop .selected {
    margin: 0 12px 0 8px;
    padding: 0;
    background-image: none;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      display: inline-block;
      content: "▼";
      margin-left: 4px;
      font-size: 10px;
    }

    &:hover:after {
      text-decoration: none;
    }
  }

  .drop-choices {
    @include v.theme("background-color", v.$body);
    &.srdrop {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
      opacity: 0;
      top: 14px !important;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      visibility: hidden;
      border: none;

      &.inuse {
        opacity: 1;
        top: 23px !important;
        visibility: visible;
      }
    }

    a.choice {
      border: 0;
      color: #777;
      padding: 3px 12px;
      transition: none;

      &:hover {
        @include v.theme("background", v.$canvas);
        color: #222;
      }
    }
  }
}
