@use '../../abstracts/mixins' as v;

// Tabmenu - Hot / New / Top

$_selected-underline-size: 2px;

#header-bottom-left {
  position: absolute;
  height: v.$header-height - v.$subreddits-bar-height;
  overflow: hidden;
  width: 100%;
}

#header .tabmenu {
  margin-top: 0;
  display: block;
  position: absolute;
  top: v.$header-height - v.$subreddits-bar-height - v.$tabmenu-height;
  height: v.$tabmenu-height;
  line-height: v.$tabmenu-height;
  border: none;
  width: 100%;
  @include v.theme("background", v.$body);
  padding: 0 v.$container-margin-hor;

  li {
    a {
      margin: 0 16px;
      padding: 0;
      text-transform: uppercase;
      @include v.theme("color", v.$metaText);
      font-weight: normal;
      line-height: v.$tabmenu-height - $_selected-underline-size;
      display: inline-block;

      &:hover {
        @include v.theme("color", v.$navBar-hoverLink);
      }
    }

    &:first-of-type a {
      margin-left: 0;
    }

    &.selected a {
      font-weight: bold;
      @include v.theme("color", v.$primary);
      border-bottom: $_selected-underline-size solid;
      border-radius: 0;
      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }
}

.listing-page .tabmenu li > a[href$="/controversial/"],
.wiki-page .tabmenu li > a[href$="/controversial/"],
.listing-page .tabmenu li > a[href$="/ads/"],
.wiki-page .tabmenu li > a[href$="/ads/"] {
  display: none !important;
}
