@use '../../abstracts/mixins' as v;

// Tabmenu - Hot / New / Top

#header-bottom-left {
  position: absolute;
  top: v.$header-bottom-left;
  left: 16px;
  right: 384px;
}

#header .tabmenu {
  margin: 12px 0 0;
  display: block;
  height: 42px;
  line-height: 42px;
  border: none;

  &:before {
    content: "";
    border-radius: 0px;
    display: block;
    position: absolute;
    left: -16px;
    right: -384px;
    @include v.theme("background", v.$body);
    // background: rgba(0, 0, 0, 0.24);
    height: 42px;
    z-index: -1;
  }

  li {
    a {
      margin: 0 16px;
      padding: 0;
      text-transform: uppercase;
      font: 400 14px/32px Lato, Arial, sans-serif;
      @include v.theme("color", v.$metaText);
      // color: rgba(255, 255, 255, 0.7);
      display: inline-block;

      &:hover {
        @include v.theme("color", v.$navBar-hoverLink);
      }
    }

    &:first-of-type a {
      margin-left: 0;
    }

    &.selected a {
      padding-bottom: 4px;
      @include v.theme("color", v.$bodyText);
      border-bottom: 2px solid;
      border-radius: 0;
    }
  }
}

.listing-page .tabmenu li > a[href$="/controversial/"],
.wiki-page .tabmenu li > a[href$="/controversial/"],
.listing-page .tabmenu li > a[href$="/ads/"],
.wiki-page .tabmenu li > a[href$="/ads/"] {
  display: none !important;
}
