@use '../../abstracts/mixins' as v;

// User Bar

#header-bottom-right {
  z-index: 101;
  @include v.theme("background", v.$sr-header);
  bottom: auto;
  border-radius: 0;
  border-bottom-left-radius: v.$radius;
}
