@use '../abstracts/mixins' as v;

// Ads

#ad-frame,
#ad_main,
#ad_main_top {
  box-sizing: initial;
  padding: 10px;
}

.sponsorshipbox {
  max-width: 320px;
  padding: 0;
}

#ad_sponsorship {
  margin: 10px;
}

// Promoted

.content .spacer {
  margin: 0;
}

.link.promotedlink.promoted {
  @include v.thing(true);
  @include v.container();

  .thumbnail {
    height: auto;

    img {
      max-height: none;
      max-width: none;
      min-width: 0;
      min-height: 0;
      transform: none;
    }
  }
}

.organic-listing {
  @include v.thing;
  padding: 0;
  position: relative;
  margin-bottom: 0;
  border: none;

  .link {
    padding: v.$padding;
    @include v.theme("background", v.$body);

    &.compressed,
    &.promotedlink {
      padding: v.$padding;
      @include v.theme("background", v.$body);
    }
  }

  .help,
  .sponsored-tagline {
    margin-bottom: 20px;
    margin-right: 16px;
    @include v.theme("color", v.$secondary-text);
  }
}
