@use '../abstracts/mixins' as v;

// Voting Arrows

.link {
  .midcol {
    width: 32px !important;
    // margin: 0 16px 0 0;
    overflow: visible;
    height: 56px;
  }

  .score {
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin: 1px -100%;
    color: v.getColor("vote", "base");
    &.likes {
      color: v.getColor("vote", "upvote");
    }

    &.dislikes {
      color: v.getColor("vote", "downvote");
    }
  }
}

.arrow {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.up {
    height: 20px;
    transition: background-color 0.25s ease;
  }

  &.upmod {
    height: 20px;
    position: relative;

    &:focus:after {
      position: absolute;
      left: -6px;
      bottom: 0px;
      width: 28px;
      height: 28px;
      opacity: 1;
      z-index: 1;
      content: " ";
      color: v.getColor("vote", "upvote");
      border-radius: 28px;

      @include v.animation-keyframes {
        0% {
          transform: scale(0, 0);
          opacity: 1;
        }

        45% {
          opacity: 1;
        }

        98% {
          opacity: 0;
        }

        100% {
          transform: scale(1.5, 1.5);
          opacity: 0;
        }
      }

      animation-duration: 0.35s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  &.down {
    height: 20px;
    transition: background-color 0.25s ease;
  }

  &.downmod {
    height: 20px;
  }

  &.down {
    &:after {
      display: inline-block;
      position: relative;
      width: 500px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
      font-weight: normal;
      padding: 4px;
      text-align: center;
      left: 24px;
      top: -4px;
      background: v.getColor("vote", "downvote");
      @include v.theme("color", v.$menuActiveText);
      border-radius: v.$radius;
      content: v.$downvote-hover-text;
      transform: scaleX(0);
      transition: transform v.$transition ease;
      transform-origin: left center;
    }

    &:hover:after {
      transform: scaleX(1);
      z-index: 2;
    }
  }
}

// Voting Arrows

.green {
  color: v.getColor("moderator") !important;
  font-weight: 700;
}

// Archived Post Voting Arrows

.thing .arrow.archived {
  pointer-events: none;

  &.up {
    opacity: 0.1;
  }

  &.down {
    opacity: 0.2;
  }
}
