@use '../abstracts/mixins' as v;

// Voting Arrows

.link {
  .midcol {
    width: 32px !important;
    margin: 0 16px 0 0;
    overflow: visible;
    height: 56px;
  }

  .score {
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin: 1px -100%;

    &.likes {
      @include v.theme("color", v.$voteText-upvote);
    }

    &.dislikes {
      @include v.theme("color", v.$voteText-downvote);
    }
  }
}

.arrow {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.up {
    height: 20px;
    transition: background-color 0.25s ease;
  }

  &.upmod {
    height: 20px;
    position: relative;

    &:focus:after {
      position: absolute;
      left: -6px;
      bottom: 0px;
      width: 28px;
      height: 28px;
      opacity: 1;
      z-index: 1;
      content: " ";
      @include v.theme("background", v.$voteText-upvote);
      border-radius: 28px;

      @include v.animation-keyframes {
        0% {
          transform: scale(0, 0);
          opacity: 1;
        }

        45% {
          opacity: 1;
        }

        98% {
          opacity: 0;
        }

        100% {
          transform: scale(1.5, 1.5);
          opacity: 0;
        }
      }

      animation-duration: 0.35s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  &.down {
    height: 20px;
    transition: background-color 0.25s ease;
  }

  &.downmod {
    height: 20px;
  }

  &.down {
    &:after {
      display: block;
      visibility: hidden;
      position: absolute;
      z-index: 2;
      left: -4px;
      bottom: 4px;
      padding: 12px;
      @include v.theme("background", v.$voteText-base);
      border-radius: 2px;
      @include v.theme("color", v.$bodyText);
      content: v.$downvote-hover-text;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 13px;
      transition: all 0.25s ease;
      pointer-events: none;
    }

    &:hover:after {
      visibility: visible;
      @include v.theme("background", v.$voteText-downvote);
      @include v.theme("color", v.$menuActiveText);
      margin-left: 48px;
    }
  }
}

// Voting Arrows

.green {
  color: v.$moderator !important;
  font-weight: 700;
}

// Archived Post Voting Arrows

.thing .arrow.archived {
  pointer-events: none;

  &.up {
    opacity: 0.1;
  }

  &.down {
    opacity: 0.2;
  }
}
