@use '../abstracts/mixins' as v;

.md {
  a {
    @include v.theme("color", v.$linkText);

    &:visited {
      @include v.theme("color", v.$postTitleLink-VisitedLinkColor);
    }
  }
  blockquote {
    @include v.theme(
      "border-left",
      v.$bodyTextAlpha20,
      false,
      true,
      "4px solid"
    );
    @include v.theme("color", v.$secondary-text);
    border-radius: 0px;
  }

  h1,
  h2 {
    margin: 0.5em 0 0.25em;
    border: none;
    @include v.theme("color", v.$bodyText);
  }

  h3 {
    @include v.theme("color", v.$bodyText);
    margin: 16px 0 0;
  }
}

// Comment Body Text

.comment .usertext .md {
  @include v.theme("color", v.$bodyText);
}

// New Comment
.new-comment .usertext-body {
  @include v.theme("background-color", v.$highlight-background);
  @include v.theme("border-color", v.$line);
}

// Deleted Comment

.usertext.grayed .usertext-body {
  margin: 4px 0;
  background-color: transparent;
  font-style: italic;
  padding: 0;
}

.comment {
  padding-left: 8px;
  margin-top: 5px;
  .midcol {
    margin-left: 10px;
  }

  .child {
    margin-left: 22px;
  }

  // Spam Comment
  &.spam > .child {
    // padding-left: 0;
    // margin-left: 22px;
    padding-left: 0;
    margin-left: 22px;
    background-color: inherit;
  }

  .flat-list li a {
    @include v.theme("color", v.$secondary-text);
    font-weight: 400;
    font-size: 10px;

    &:hover {
      @include v.theme("color", v.$active);
      text-decoration: none;
    }

    &[onclick*="reply"] {
      @include v.theme("color", v.$active);
      font-weight: 700;
      font-size: 11px;
    }
  }
}

// Reply / Share / report

.deepthread a {
  @include v.theme("color", v.$linkText);
}

.morecomments a {
  @include v.theme("color", v.$secondary-text);
}

// Alternate nested bg color
html .nestedlisting {
  .comment .comment .comment,
  .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment,
  .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment {
    @include v.theme("background-color", v.$body, false, false, "!important");
  }

  .comment .comment,
  .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment
    .comment {
    @include v.theme(
      "background-color",
      v.$bodyFade,
      false,
      false,
      "!important"
    );
  }
}
