@use '../abstracts/mixins' as v;

// Submission Flatlist - Comment / Share / Report

.link .flat-list {
  padding: 0;
}

.entry .buttons li {
  line-height: normal;

  a {
    @include v.theme("color", v.$secondary-text);
    font-weight: 400;
    font-size: 12px;
    transition: all 0.15s ease;
  }

  @include v.theme("color", v.$secondary-text);
  font-weight: normal;
  font-size: small;
  transition: all 0.15s ease;
}

.link .entry .buttons li a:hover {
  @include v.theme("color", v.$active);
  text-decoration: none;
}

.entry .buttons li {
  &.nsfw-stamp,
  &.spoiler-stamp {
    padding: 0;
    border: none !important;
  }
}

.nsfw-stamp,
.spoiler-stamp {
  padding: 0;
  border: 0;
}

.nsfw-stamp acronym,
.spoiler-stamp,
.res-nightmode .spoiler-stamp {
  position: relative;
  top: -1px;
  padding: 2px 3px;
  background: v.getColor("thumbnail", "spoiler");
  @include v.theme("color", v.$body);
  cursor: help;
}

.link .entry {
  .buttons li a.comments {
    @include v.theme("color", v.$bodyText);
    font-weight: 700 !important;
    transition: all 0.25s ease-in-out !important;
  }

  li .comments:hover {
    text-decoration: none;
  }
}

.post-sharing {
  .c-close {
    padding: 15px;
  }

  border: none;
  margin: 15px 5px 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.subreddit-report-form {
  border: none;
  margin: 15px 5px 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.gold-payment .close-button {
  box-shadow: none;
  margin: 11px -9px 6px 8px;
}
