@use '../abstracts/mixins' as v;

/* Cookies Bar */

#eu-cookie-policy {
  .reddit-infobar {
    padding-right: 118px;
  }
  .md {
    margin-right: v.$padding;
  }
  .c-btn-primary {
    margin: 0 v.$padding 0 0;
  }
}
