@use '../abstracts/mixins' as v;

// // Expando Button

$_bar-thickness: 1px;
$_margin-top: 5px;
$_padding: 5px;
$_icon-size: 30px;
$_top: $_margin-top + $_padding - ($_bar-thickness * 2);

.expando-button,
.res-nightmode .expando-button,
.thing.link.stickied .expando-button:hover {
  @include v.theme("border", v.$actionIcon, false, true, "solid 1px");
  border-radius: v.$radius;
  margin: $_margin-top 8px 0 0 !important;
  padding: $_padding;
}

.expando-button.video.collapsed,
.expando-button.video-muted.collapsed,
.expando-button.selftext.collapsed,
.expando-button.image.collapsed,
.expando-button.video.collapsed:hover,
.expando-button.video-muted.collapsed:hover,
.expando-button.selftext.collapsed:hover,
.thing.link.stickied .expando-button:hover,
.expando-button.image.collapsed:hover,
.expando-button.video.expanded,
.expando-button.video-muted.expanded,
.expando-button.selftext.expanded,
.expando-button.image.expanded,
.expando-button.video.expanded:hover,
.expando-button.video-muted.expanded:hover,
.expando-button.selftext.expanded:hover,
.expando-button.image.expanded:hover {
  background: transparent;
  height: $_icon-size;
  width: $_icon-size;
}

.expando-button:before,
.expando-button:after {
  display: block;
  position: relative;
  // left: 9.5px;
  top: $_top;
  width: 100%;
  height: $_bar-thickness;
  @include v.theme("background", v.$actionIcon);
  content: "";
  transition: 0.3s;
  z-index: 100;
}

.expando-button:after {
  transform: rotate(90deg);
}

.expando-button.expanded:before,
.expando-button.expanded:after {
  transform: rotate(180deg);
}

// .usertext-body .md .expando-button,
// .wiki-page .expando-button,
// .messages-page .expando-button {
//   margin: -7px 0 0 0 !important;
//   vertical-align: middle !important;
// }
