@use '../abstracts/mixins' as v;

// // Expando Button

$_bar-thickness: 1px;
$_margin-top: 5px;
$_padding: 5px;
$_icon-size: 30px;
$_top: $_margin-top + $_padding - ($_bar-thickness * 2);

.expando-button,
.res-nightmode .expando-button,
.thing.link.stickied .expando-button {
  @include v.theme("border", v.$actionIcon, false, true, "solid 1px");
  border-radius: v.$radius;
  margin: $_margin-top 8px 0 0 !important;
  padding: $_padding !important;

  &.crosspost,
  &.video,
  &.video-muted,
  &.selftext,
  &.image {
    &.expanded,
    &.collapsed {
      background: transparent;
      height: $_icon-size;
      width: $_icon-size;
      &:hover {
        @include v.theme("background", v.$highlight);
        height: $_icon-size;
        width: $_icon-size;
      }
    }
  }
}

.expando-button:before,
.expando-button:after {
  position: relative !important;
  display: flex;
  top: $_top;
  width: 100%;
  height: $_bar-thickness;
  @include v.theme("background", v.$actionIcon);
  content: "";
  transition: 0.3s;
}

.expando-button:after {
  top: $_top - 1px;
  transform: rotate(90deg);
}

.expando-button.expanded:before,
.expando-button.expanded:after {
  transform: rotate(180deg);
}
