@use '../abstracts/variables' as v;

/* Flair Selector */

.flairselector {
  position: fixed;
  top: 20% !important;
  left: 50% !important;
  margin-left: -125px;
  padding: 16px !important;
  width: 250px !important;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);

  &.drop-choices.active {
    border: none;
  }

  h2 {
    margin-bottom: 4px;
    background: none;
    @include v.theme("color", v.$titleText);
    text-align: left;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
  }
}

.flairoptionpane {
  max-height: 250px;
  text-align: left;
}

.flairselector .flairoptionpane ul li {
  padding: 0 !important;
}

.flairoptionpane ul li .linkflair {
  text-align: left;
  padding: 0;

  &:hover {
    background-color: #f5f8f9;
    border: 0 solid;
  }
}

.flairselector li:hover {
  background-color: #f5f8f9;
  border: 0 solid;
}

.flairoptionpane ul li .linkflair {
  span.linkflairlabel {
    margin: 8px 0;
    line-height: 1.35;
    margin-right: 6px;
  }

  a.title {
    font-size: 18px !important;
    opacity: 100 !important;
    @include v.theme("color", v.$linkText, false, false, "!important");
  }
}

.flairselector {
  form {
    padding-top: 12px;
    border-top: 1px solid #f7f7f7;

    .flairselection {
      text-align: left;

      &:before {
        display: block;
        content: "Selected Flair:";
        @include v.theme("color", v.$secondary-text);
      }

      .linkflair a.title {
        font-size: 18px !important;
        opacity: 100 !important;
        @include v.theme("color", v.$linkText, false, false, "!important");
        cursor: default;
      }

      .flairremove {
        padding: 4px 0;
        margin-bottom: 8px;
        visibility: hidden;
        display: block !important;

        a {
          visibility: visible;
          opacity: 100 !important;
          @include v.theme("color", v.$linkText, false, false, "!important");
          margin-left: -4px;
          text-transform: capitalize;

          &:first-letter {
            text-transform: capitalize;
          }

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }

  .customizer {
    display: block;
    margin: 8px 0;
    width: 100%;

    input[type="text"] {
      width: 100%;
    }
  }

  form button {
    display: block;
    float: right;
    margin: 0;
  }

  .error {
    text-align: left;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  img {
    position: relative;
    left: 50%;
    margin-left: -9px;
    opacity: 0.5;
  }

  .flairoptionpane ul li {
    margin: 4px 0;
  }

  li.selected {
    border: none;
    background-color: transparent;
  }

  .flairoptionpane ul li.flairsample-right {
    padding: 5px 0 !important;
    border: none;
  }

  li a,
  form .flairselection a.author {
    color: v.getColor("linkflair", "default") !important;
    font-size: 11px;
  }
}
