@use '../abstracts/mixins' as v;

/* Flairs */

.flair {
  border: none;
  border-radius: 0;
  font: normal 12px Lato, Arial, sans-serif;
  background: transparent;
  @include v.theme("color", v.$secondary-text);
  padding-left: 0;
  margin-right: inherit;
}

.link .flair {
  font-size: 12px;
}

.flair:before {
  margin-right: 3px;
  height: auto;
  content: "- ";
  margin-left: 4px;
}

.side .flair:before {
  margin-left: 0;
}
