@use '../abstracts/mixins' as v;

// Infobar (Default yellow announcement bar)

.content {
  .infobar {
    margin: 0 0 16px;
    padding: v.$padding;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include v.theme("border-bottom", v.$line, false, true, "1px solid");
    @include v.theme("background-color", v.$navBar-backgroundColor);
    @include v.theme("color", v.$bodyText);

    &.listingsignupbar,
    .listingsignupbar__title,
    a.listingsignupbar__container {
      @include v.theme("background", v.$body, false, false, "!important");
      @include v.theme("color", v.$bodyText, false, false, "!important");
    }
  }
}

.commentarea .infobar {
  @include v.theme("border-color", v.$line);
  @include v.theme("background-color", v.$body);
}

.reddit-infobar {
  @include v.theme("border-color", v.$line);
  @include v.theme("background-color", v.$highlight-background);
  &.gold-accent div.md p {
    @include v.theme("color", v.$darkText, $important: true);
  }
}

.listingsignupbar__cta-container {
  display: flex;
  p {
    align-self: center;
    // justify-self: center;
  }
}

.infobar .md {
  @include v.theme("color", v.$body);
}

.content .infobar {
  &:first-letter {
    text-transform: capitalize;
  }

  &.welcome {
    line-height: inherit;
    height: 86px;

    h1 {
      @include v.theme("color", v.$metaText);
    }
  }
}

// Updated Reddit Infobar

.reddit-infobar.with-icon {
  border: none;
  @include v.theme("background", v.$body);
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  margin: 0 0 16px;

  .md {
    @include v.theme("color", v.$bodyText);
    font-size: 14px;
  }

  &.locked-infobar {
    background: v.$moderator;

    .md p {
      @include v.theme("color", v.$lightText);
    }

    p:after {
      content: " Sort comments by new to find out more.";
    }

    &:before {
      background-color: v.$moderator;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
    }
  }
}
