@use '../abstracts/mixins' as v;

/* Item */

.search-result {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 16px;
}

.combined-search-page {
  .search-result {
    .search-result-header .search-title {
      @include v.theme("color", v.$titleText);
    }

    .search-result-meta {
      @include v.theme("color", v.$secondary-text);
    }

    a {
      @include v.theme("color", v.$linkText);

      > mark {
        @include v.theme("color", v.$linkText);
      }
    }
  }

  .search-result-subreddit .search-subscribe-button {
    border-radius: 2px;

    .add {
      @include v.theme("background", v.$button);
      border: none;
      border-radius: 2px;

      &:active {
        @include v.theme("background", v.$button);
        border: none;
        border-radius: 2px;
      }
    }

    .remove {
      background: transparent;
      border: 1px solid #98abba;
      @include v.theme("color", v.$secondary-text);

      &:active {
        background: transparent;
        border: 1px solid #98abba;
        @include v.theme("color", v.$secondary-text);
      }
    }
  }

  .search-result .search-comments {
    @include v.theme("color", v.$linkText);
  }
}

.search-result.has-thumbnail > .thumbnail {
  margin-right: 16px;
  flex: 0 0 80px;

  &.self,
  &.default,
  &.nsfw,
  &.image,
  &.spoiler {
    margin-right: 28px;
    flex: 0 0 56px;
  }
}

.combined-search-page .search-result-group footer .nav-buttons {
  margin: 0;
}

.nextprev,
.next-suggestions {
  @include v.theme("color", v.$secondary-text);
}
