@use '../abstracts/mixins' as v;

// Link Flairs

.linkflairlabel {
  padding: 2px 8px;
  height: 18px;
  border-radius: 20px;
  border: 0 solid;
  @include v.theme("color", v.$lightText);
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: default;
  vertical-align: middle;
  position: relative;
  background: v.getColor("linkflair", "default");
}

.linkflair-mod {
  .linkflairlabel {
    background: v.getColor("moderator");
  }

  // .thumbnail {
  //   &.default,
  //   &.self {
  //     background: v.getColor("moderator") v.getImage("spritesheet") -208px -104px;
  //   }
  // }
}
