@use '../abstracts/mixins' as v;

html {
  .RESUserTag {
    @include v.theme("color", v.$bodyText);
  }

  div.res-search-options.res-search-pane.res-search-pane-open {
    @include v.theme("background-color", v.$body, $important: true);
  }
  .RESMacroDropdown,
  .res-show-link {
    @include v.thing(true);
  }

  .RESMacroDropdown li a {
    @include v.theme("color", v.$inactiveText);
    border-radius: 0;
  }
  .viewSource textarea[readonly] {
    @include v.theme("background", v.$canvas);
    @include v.theme("color", v.$inactiveText);
  }

  .res-nightmode #sr-header-area,
  .res-nightmode #sr-more-link {
    @include v.theme("background-color", v.$body, true);
    @include v.theme("color", v.$inactiveText, true);
  }

  &.res-commentBoxes body > .content {
    padding-right: v.$padding !important;
  }

  .res-filterline,
  .subredditInfoToolTip,
  .commentarea .res-expando-box div.usertext-body .md {
    @include v.theme("background-color", v.$body);
  }

  .res-filterline {
    border-radius: 0px;
  }
  .res-filterline-filter-hiding {
    @include v.theme("color", v.$inactiveText);
  }

  .RESHover,
  #srList {
    @include v.thing(true);
  }

  // // comments - see comment.scss component
  // .res-commentBoxes .comment .comment .comment,
  // .res-commentBoxes .comment .comment .comment .comment .comment,
  // .res-commentBoxes
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment,
  // .res-commentBoxes
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment {
  //   @include v.theme("background-color", v.$body, false, false, "!important");
  // }

  // .res-commentBoxes .comment .comment,
  // .res-commentBoxes .comment .comment .comment .comment,
  // .res-commentBoxes .comment .comment .comment .comment .comment .comment,
  // .res-commentBoxes
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment,
  // .res-commentBoxes
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment
  //   .comment {
  //   @include v.theme(
  //     "background-color",
  //     v.$bodyFade,
  //     false,
  //     false,
  //     "!important"
  //   );
  // }

  #RESStyleSheetTipPane {
    @include v.theme("border", v.$line, false, true, "1px solid");
  }

  #RESStyleSheetTipPane-header {
    @include v.theme("border-bottom", v.$line, false, true, "1px solid");
  }

  .res-voteEnhancements-highlightScores span.score {
    font-weight: bold;
    @include v.theme("color", v.$metaText);
  }

  // RES Selection
  .entry.res-selected,
  .entry.res-selected .md-container {
    @include v.theme(
      "background-color",
      v.$highlight-background,
      false,
      false,
      "!important"
    );
  }
  .res {
    .RES-keyNav-activeElement {
      // outline: 0 dashed #eee !important;
      @include v.theme("outline-color", v.$line, false, false, "!important");
      // transition: all 0.15s ease;
    }

    // .entry {
    //   transition: all 0.1s ease;
    // }
  }

  div {
    &.RES-keyNav-activeElement {
      // background-color: transparent !important;
      @include v.theme("border-left", v.$separator, false, true, "3px solid");
    }

    // &.commentarea div.RES-keyNav-activeElement {
    //   &.entry div.noncollapsed {
    //     // background-color: transparent !important;
    //     @include v.theme("border-left", v.$separator, false, true, "3px solid");
    //   }

    //   .md {
    //     background-color: transparent !important;
    //   }
    // }
  }

  // .res {
  //   .commentarea {
  //     .thing {
  //       padding: 14px v.$padding 8px 8px !important;

  //       &.collapsed {
  //         padding-bottom: v.$padding !important;
  //       }
  //     }

  //     .entry .flat-list {
  //       margin-bottom: 0;
  //       padding-bottom: 0;
  //     }
  //   }

  //   .comment .entry {
  //     margin-bottom: 16px;
  //   }
  // }

  // RES Tag Dialog + RES Tag

  // .userTagLink.hasTag,
  // #userTaggerPreview {
  //   font-size: 11px !important;
  //   border-radius: 0 !important;
  //   border: 0 solid !important;
  //   margin-top: 0 !important;
  //   margin-left: 4px !important;
  // }

  .RESDialogSmall {
    @include v.thing;
    // border: none;
    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    // margin-top: 8px;

    > h3 {
      @include v.theme("color", v.$primary);
      @include v.theme("background-color", v.$body);
      @include v.theme("border-left", v.$separator, false, true, "3px solid");
      @include v.theme("border-bottom", v.$line, false, true, "1px solid");
      // height: 36px;
      // padding: 8px;
      // margin: 0;
    }
  }

  // .livePreview .md {
  //   padding: 8px 12px;
  // }

  .RESCloseButton {
    // line-height: 19px;
    // height: 22px;
    // width: 22px;
    // transition: all 0.15s ease;

    &:hover {
      @include v.theme("border", v.$active, false, true, "1px solid");
    }
  }

  #userTaggerToolTip {
    input[type="text"],
    select {
      // line-height: 22px;
      // padding-left: 4px;
      // border: 1px solid #e5e5e5 !important;
      @include v.theme("border-color", v.$line, false, false, "!important");
    }
  }

  .toggleButton {
    // line-height: 0.8;

    .toggleOn {
      // border-radius: 0;
      border: 1px solid #4f8ef7;
      @include v.theme("background-color", v.$primary);
      @include v.theme("color", v.$body);
      // text-transform: capitalize;
    }

    .toggleOff {
      border-radius: v.$radius;
      @include v.theme("border", v.$separator, false, true, "1px solid");
      background-color: transparent;
      // text-transform: capitalize;
    }
  }

  // #userTaggerToolTip input[type="submit"] {
  //   bottom: 10px !important;
  // }

  // .res #userbarToggle {
  //   color: rgba(255, 255, 255, 0.45) !important;
  // }

  // Input Fields

  // Misc. Fixes

  .res .thing .tagline .author {
    border-radius: v.$radius !important;
  }

  // .res .thing .tagline .author.submitter {
  //   // padding: 1px 4px;
  //   // border-radius: 1px;
  //   background-color: v.getColor("role", "submitter") !important;
  //   @include v.theme("color", v.$body);
  //   // box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  //   // transition: all 0.15s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: v.getColor("role", "submitter") !important;
  }
  // }

  .res {
    // &.search-page #header .tabmenu {
    //   display: none !important;
    // }

    // #header-bottom-right {
    //   top: 0px;
    // }

    #userbarToggle {
      background-color: transparent;
      @include v.theme("color", v.$secondary-text);
      // border-radius: 0;
      // border: none;
      // left: -32px;
    }

    // a.beta-link {
    //   left: -10px;
    //   top: 4px;
    // }

    // #header-bottom-right .user {
    //   // .userkarma {
    //   //   display: none;
    //   // }

    //   font-size: 0 !important;

    //   a {
    //     font-size: 11px;
    //     line-height: 9px;
    //   }
    // }

    #sr-header-area a.RESShortcutsCurrentSub,
    #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
      @include v.theme("color", v.$lightText, false, false, "!important");
      @include v.theme(
        "border-bottom",
        v.$separator,
        false,
        false,
        "2px solid"
      );
    }
  }

  // #RESAccountSwitcherIcon {
  //   position: relative;
  //   top: -4px;
  // }

  .res {
    #REScommentNavToggle {
      // max-width: 98px;
      // overflow: hidden;
      // max-height: 15px;
      @include v.theme("background-color", v.$body);
      // transition: all 0.35s ease;

      &:hover {
        max-width: 100%;
      }
    }
  }

  // html.res-commentBoxes .comment {
  //   margin-left: 0 !important;
  //   margin-right: 0 !important;
  // }
  .res {
    .commentarea {
      .thing {
        border: none !important;
        border-radius: v.$radius !important;
      }
      & > .sitetable > .comment {
        @include v.theme("border", v.$line, false, true, "1px solid", true);
        &.spam {
          background-image: none;
          border-left: 4px solid v.getColor("removed") !important;
        }
      }
    }

    // .titlebox .tagline {
    //   margin-top: 6px;
    // }

    // .RESshortcutside,
    // .RESDashboardToggle {
    //   background-image: none !important;
    //   border: none;
    //   color: #4d5763;
    //   text-transform: uppercase;
    //   text-decoration: none;
    //   border-radius: 0;
    //   padding: 4px 6px 4px 0;
    //   margin: 2px 6px 2px -4px;
    //   text-align: left;
    //   width: auto;
    // }

    .RESshortcutside:hover,
    .RESDashboardToggle:hover {
      background-color: transparent;
      @include v.theme("color", v.$linkText);
    }

    #progressIndicator {
      // width: inherit;
      // border-radius: 0;
      // border: none;
      // padding: v.$padding;
      // margin: 16px 0;
      @include v.theme("color", v.$placeholder);
      @include v.theme("background-color", v.$body);
      // height: inherit;

      h2 {
        @include v.theme("color", v.$metaText);
      }
    }

    .NERPageMarker {
      // border-radius: 0;
      // border: none;
      @include v.theme("background-color", v.$body);
      // padding: v.$padding 0;
      // margin: 0;
    }

    // .sitetable .sitetable {
    //   margin-right: 0;
    // }

    // #search #searchexpando {
    //   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    //   height: auto;

    //   label {
    //     padding-top: 13px;
    //     padding-bottom: 13px;
    //   }
    // }

    // #searchexpando .searchexpando-submit {
    //   display: none;
    // }

    // h1.hover.redditname {
    //   overflow: visible !important;
    // }

    // .commentarea .panestack-title {
    //   margin-top: 0;
    //   padding-top: 12px;
    //   padding-bottom: 8px;
    // }

    // .comment.collapsed a.expand:after {
    //   display: none;
    // }
  }

  // More RES Fixes

  .res {
    .link .tagline a.voteWeight {
      background-color: transparent !important;
    }
  }

  #header-bottom-right #userbarToggle + * {
    margin-left: 0 !important;
  }

  .res {
    .srSep {
      @include v.theme("color", v.$bodyText);
    }

    #RESShortcutsViewport {
      margin-right: 381px;
    }

    #RESShortcutsEditContainer {
      margin-right: 312px;
      background-color: transparent !important;
      @include v.theme("color", v.$inactiveText, false, false, "!important");
      top: 1px !important;
      padding-right: 23px;
    }
  }

  #RESShortcutsSort,
  #RESShortcutsRight,
  #RESShortcutsLeft,
  #RESShortcutsAdd,
  #RESShortcutsTrash {
    background-color: transparent !important;
    @include v.theme("color", v.$inactiveText, false, false, "!important");
    top: 1px !important;
    padding-right: 23px;
  }

  .res #RESShortcuts {
    @include v.theme("color", v.$bodyText);
  }

  // Pinheader

  .pinHeader-sub #sr-header-area,
  .pinHeader-subanduser #sr-header-area {
    background-image: v.getImage("headerimg");
    background-position: 50% 0;
  }

  .pinHeader-sub #header-bottom-left,
  .pinHeader-subanduser #header-bottom-left {
    margin-top: 0;
  }

  .pinHeader-header {
    &:before {
      display: none !important;
    }

    .content {
      margin-top: 12px !important;
    }

    .side {
      margin-top: 164px;
    }

    &.res.comments-page .side {
      margin-top: 290px;
    }

    #header {
      top: 0;
      background-image: v.getImage("headerimg");
      height: 84px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    }
  }

  // Gear Dropdown

  // .gearIcon {
  //   background: v.getImage("spritesheet") -64px 0 !important;
  //   position: relative;
  //   top: 2px;
  //   transition: all 0.25s ease;
  // }

  #RESMainGearOverlay {
    @include v.theme("background-color", v.$menu);
    top: 0 !important;
    height: 26px !important;
    border-radius: 0 !important;
  }

  .RESDropdownList {
    @include v.theme("border-color", v.$menu);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    margin-top: 4px;
    margin-right: 8px;

    li {
      @include v.theme("background-color", v.$menu);
      @include v.theme("color", v.$menuActiveText);
      @include v.theme("border-color", v.$menu);
      transition: all 0.15s ease;

      &:first-letter {
        text-transform: capitalize;
      }
    }

    a {
      @include v.theme("color", v.$menuActiveText);

      &:visited {
        @include v.theme("color", v.$menuActiveText);
      }
    }

    li {
      &:hover,
      a:hover {
        @include v.theme("color", v.$menuActiveText);
        @include v.theme("background-color", v.$active);
      }
    }
  }

  #RESSearchMenuItem {
    @include v.theme("border", v.$line, false, true, "1px solid");
    border-radius: 1px;
    @include v.theme("background-color", v.$active);

    &:hover {
      @include v.theme("background-color", v.$active);
    }
  }

  .toggleButton {
    .toggleOn,
    .toggleOff {
      text-transform: lowercase;
    }
  }

  // Toggle Off

  .moduleToggle:not(.enabled) .toggleOn,
  .toggleButton:not(.enabled) .toggleOn,
  .moduleToggle.enabled .toggleOff,
  .toggleButton.enabled .toggleOff {
    background-color: transparent;
    @include v.theme("color", v.$lightText);
    @include v.theme("border", v.$button, false, true, "1px solid");
    transition: all 0.15s ease;
    border-radius: v.$radius;
  }

  // Toggle On

  .moduleToggle.enabled .toggleOn,
  .toggleButton.enabled .toggleOn,
  .moduleToggle:not(.enabled) .toggleOff,
  .toggleButton:not(.enabled) .toggleOff {
    @include v.theme("color", v.$button);
    @include v.theme("border", v.$body, false, true, "1px solid");
    @include v.theme("background-color", v.$body);
    font-weight: bolder;
    transition: all 0.15s ease;
  }

  .markdownEditor .edit-btn:not(.btn-macro) {
    border: 0 solid !important;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  }

  // RES Popup

  .guider {
    border: none;
    @include v.theme("box-shadow", v.$separator, false, true, "0 2px 3px");
  }

  .guider_content h1 {
    @include v.theme("color", v.$primary);
  }

  .guider_button {
    font-size: 11px;
    border: none;
    background-image: none;
    @include v.theme("background-color", v.$button);
    transition: all 0.15s ease;

    &:hover {
      @include v.theme("background-color", v.$active);
    }
  }

  .x_button {
    transition: all 0.25s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
  }

  .res-nightmode {
    .drop-choices a.choice {
      @include v.theme("color", v.$bodyText, true, false, "!important");
    }
  }
  // RES Fixes / RES Nightmode
  // Voting Arrows

  // Pure White

  .comment .score {
    font-size: inherit;
    font-weight: 700;
    @include v.theme("color", v.$secondary-text);

    &:before {
      content: "• ";
      margin: 0 2px;
      vertical-align: middle;
      line-height: 14px;
    }
  }

  #search #searchexpando label {
    padding-top: 0;
    padding-bottom: 0;
  }
}
