@use '../abstracts/variables' as v;

/* RES Selection */

.res {
  .RES-keyNav-activeElement {
    outline: 0 dashed #eee !important;
    transition: all 0.15s ease;
  }

  .entry {
    transition: all 0.1s ease;
  }
}

div {
  &.RES-keyNav-activeElement {
    background-color: transparent !important;
    padding-left: 8px !important;
    border-left: 3px solid #c2c2c2;
  }

  &.commentarea div.RES-keyNav-activeElement {
    &.entry div.noncollapsed {
      background-color: transparent !important;
      padding-left: 8px !important;
      border-left: 3px solid #c2c2c2;
    }

    .md {
      background-color: transparent !important;
    }
  }
}

.res {
  .commentarea {
    .thing {
      padding: 14px 16px 8px 8px !important;

      &.collapsed {
        padding-bottom: 16px !important;
      }
    }

    .entry .flat-list {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .comment .entry {
    margin-bottom: 16px;
  }
}

/* RES Tag Dialog + RES Tag */

.userTagLink.hasTag,
#userTaggerPreview {
  font-size: 11px !important;
  border-radius: 0 !important;
  border: 0 solid !important;
  margin-top: 0 !important;
  margin-left: 4px !important;
}

.RESDialogSmall {
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  margin-top: 8px;

  > h3 {
    color: #4f8ef7;
    @include v.theme("background-color", v.$body);
    border-bottom: 1px solid #ededed;
    height: 36px;
    padding: 8px;
    margin: 0;
  }
}

.livePreview .md {
  padding: 8px 12px;
}

.RESCloseButton {
  line-height: 19px;
  height: 22px;
  width: 22px;
  transition: all 0.15s ease;

  &:hover {
    border: 1px solid #d7d9dc;
  }
}

#userTaggerToolTip {
  input[type="text"],
  select {
    line-height: 22px;
    padding-left: 4px;
    border: 1px solid #e5e5e5 !important;
  }
}

.toggleButton {
  line-height: 0.8;

  .toggleOn {
    border-radius: 0;
    border: 1px solid #4f8ef7;
    background-color: #4f8ef7;
    @include v.theme("color", v.$body);
    text-transform: capitalize;
  }

  .toggleOff {
    border-radius: 0;
    border: 1px solid #d7d9dc;
    background-color: transparent;
    text-transform: capitalize;
  }
}

#userTaggerToolTip input[type="submit"] {
  bottom: 10px !important;
}

.res-nightmode {
  .hover-bubble {
    border: 1px solid #121212 !important;
  }

  .submit-page #newlink.submit.content .tabmenu.formtab .selected a,
  .submit_text.enabled.roundfield .md,
  .sidebox.create .morelink a,
  body .content input[type="text"]:hover,
  .submit-page #url-field button,
  .side * {
    @include v.theme("color", v.$placeholder);
    color: #fff !important;
  }

  .submit-page {
    #url-field button,
    #newlink.submit.content .btn {
      color: #fff !important;
    }
  }
}

.res #userbarToggle {
  color: rgba(255, 255, 255, 0.45) !important;
}

/* Naut Blue */

.res-nightmode {
  .submit-page {
    #url-field button,
    #newlink.submit.content .btn {
      background-color: #0079d3 !important;
    }
  }

  .sidebox.create .morelink {
    background-color: #0079d3 !important;
  }

  body .content {
    .text,
    textarea {
      background-color: #212121 !important;
      border: 1px solid #121212 !important;
      color: #d2d2d2 !important;
    }

    input {
      &[type="text"],
      &[type="password"],
      &[type="url"] {
        background-color: #212121 !important;
        border: 1px solid #121212 !important;
        color: #d2d2d2 !important;
      }
    }
  }

  #newlink-with-image-upload .image-upload-drop-target {
    background-color: #212121 !important;
    border: 1px solid #121212 !important;
    color: #d2d2d2 !important;
  }

  .side .spacer input,
  .commentarea > .usertext,
  .side .titlebox h1.redditname:before {
    background-color: #212121 !important;
    color: #d2d2d2 !important;
  }

  #search {
    input[type="text"] {
      padding: 0 55px 0 16px;
      border-radius: 2px;
      width: 100%;
      height: 40px;
      line-height: 30px;
      background-color: rgba(0, 0, 0, 0.7);
    }

    #searchexpando {
      height: 40px;
      line-height: 30px;
      border: 0px 1px 1px 1px solid #000;

      label {
        padding: 10px 8px 10px 8px;
      }
    }
  }

  #previoussearch #moresearchinfo,
  .search-page #previoussearch label {
    background-color: #212223 !important;
  }

  #search #searchexpando {
    label {
      background-color: #212223 !important;
    }

    background-color: #212223 !important;
  }
}

/* Input Fields */

/* Misc. Fixes */

.res .thing .tagline .author {
  border-radius: 2px !important;
}

.res-nightmode {
  .titlebox form.toggle,
  .leavemoderator {
    color: gray !important;
    background: none !important;
  }
}

.mod-toolbox.res-nightmode .reason-popup {
  background-color: rgba(0, 0, 0, 0.84);
}

.res-nightmode {
  body.mod-toolbox {
    .tb-general-button,
    li a.tb-general-button,
    .tb-bracket-button {
      background-color: transparent;
      color: gray;
      font-size: 9px !important;
      border-width: 1px 1px 1px 2px;
      border-color: gray;
      padding: 1px 4px !important;
      border-radius: 0px 2px 2px 0px;
    }
  }

  .RESUserTagImage {
    background-image: v.getImage("spritesheet");
    background-position: -32px -101px;
  }
}

.res .thing .tagline .author.submitter {
  padding: 1px 4px;
  border-radius: 1px;
  background-color: #4f8ef7 !important;
  @include v.theme("color", v.$body);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.15s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #4f8ef7 !important;
  }
}

.res-nightmode .reason-popup .selectable-reason.reason-selected .styled-reason {
  background-color: rgba(0, 0, 0, 0.25);
}

.res {
  #search #searchexpando {
    label {
      padding-top: 0;
      padding-bottom: 0;
    }

    line-height: 40px;
  }

  #searchexpando br {
    display: none;
  }
}

.res-nightmode {
  .content .md pre,
  .md code {
    border-color: #121212 !important;
  }

  &.res-searchHelper-searchPageTabs
    .combined-search-page
    .search-result
    .search-expando.collapsed::before {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
  }

  .nav-buttons .nextprev a,
  .expando-button,
  .side .md pre {
    border-color: #212121;
  }

  ul.res-search-tabs li a {
    color: #9e9e9e;
  }
}

.res {
  &.search-page #header .tabmenu {
    display: none !important;
  }

  #header-bottom-right {
    top: 1px;
    border-radius: 0;
    height: 18px;
    padding: 0 8px 0 0;
  }

  #userbarToggle {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.45);
    border-radius: 0;
    border: none;
    left: -32px;
  }

  a.beta-link {
    left: -10px;
    top: 4px;
  }

  #header-bottom-right .user {
    .userkarma {
      display: none;
    }

    font-size: 0 !important;

    a {
      font-size: 11px;
      line-height: 9px;
    }
  }

  #sr-header-area a.RESShortcutsCurrentSub,
  #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    @include v.theme("color", v.$lightText, false, false, "!important");
    border-bottom: 2px solid #fff;
  }
}

#RESAccountSwitcherIcon {
  position: relative;
  top: -4px;
}

.res {
  #REScommentNavToggle {
    max-width: 98px;
    overflow: hidden;
    max-height: 15px;
    background-color: #fafafa;
    transition: all 0.35s ease;

    &:hover {
      max-width: 100%;
    }
  }

  .commentarea > .usertext {
    margin-top: -76px;
    padding-top: 80px !important;
  }

  .content .RESBigEditorPop {
    background-color: rgba(0, 0, 0, 0);
    line-height: inherit;
    font: 11px Lato, Arial, sans-serif;
    box-shadow: none;
    font-weight: 400;
    color: #4d5763;
    border: none;
    padding: 0;
    height: inherit;
    margin-left: 4px;
    margin-top: 5px;
  }
}

html.res-commentBoxes .comment {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.res {
  .commentarea .thing {
    border: none !important;
    border-radius: 2px !important;
  }

  .titlebox .tagline {
    margin-top: 6px;
  }

  .RESshortcutside,
  .RESDashboardToggle {
    background-image: none !important;
    border: none;
    color: #4d5763;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    padding: 4px 6px 4px 0;
    margin: 2px 6px 2px -4px;
    text-align: left;
    width: auto;
  }

  .RESshortcutside:hover,
  .RESDashboardToggle:hover {
    background-color: transparent;
    @include v.theme("color", v.$linkText);
  }

  #progressIndicator {
    width: inherit;
    border-radius: 0;
    border: none;
    padding: 16px;
    margin: 16px 0;
    @include v.theme("color", v.$placeholder);
    @include v.theme("background-color", v.$body);
    height: inherit;

    h2 {
      color: #4d5763;
    }
  }

  .NERPageMarker {
    border-radius: 0;
    border: none;
    @include v.theme("background-color", v.$body);
    padding: 16px 0;
    margin: 0;
  }

  .sitetable .sitetable {
    margin-right: 0;
  }

  #search #searchexpando {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: auto;

    label {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  #searchexpando .searchexpando-submit {
    display: none;
  }

  h1.hover.redditname {
    overflow: visible !important;
  }

  .commentarea .panestack-title {
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .comment.collapsed a.expand:after {
    display: none;
  }
}

/* More RES Fixes */

.res {
  .link .tagline a.voteWeight {
    background-color: transparent !important;
  }

  .thing .tagline .author.moderator {
    background-color: v.$moderator !important;
    @include v.theme("color", v.$body);
    padding: 1px 4px;
    border-radius: 1px;
  }
}

#header-bottom-right #userbarToggle + * {
  margin-left: 0 !important;
}

.res {
  .srSep {
    color: rgba(255, 255, 255, 0.45);
  }

  #RESShortcutsViewport {
    margin-right: 381px;
  }

  #RESShortcutsEditContainer {
    margin-right: 312px;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.45) !important;
    top: 1px !important;
    padding-right: 23px;
  }
}

#RESShortcutsSort,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsAdd,
#RESShortcutsTrash {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.45) !important;
  top: 1px !important;
  padding-right: 23px;
}

.res #RESShortcuts {
  color: #e0e0e0;
}

/* Pinheader */

.pinHeader-sub #sr-header-area,
.pinHeader-subanduser #sr-header-area {
  background-image: v.getImage("headerimg");
  background-position: 50% 0;
}

.pinHeader-sub #header-bottom-left,
.pinHeader-subanduser #header-bottom-left {
  margin-top: 0;
}

.pinHeader-header {
  &:before {
    display: none !important;
  }

  .content {
    margin-top: 12px !important;
  }

  .side {
    margin-top: 164px;
  }

  &.res.comments-page .side {
    margin-top: 290px;
  }

  #header {
    top: 0;
    background-image: v.getImage("headerimg");
    height: 84px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  }
}

/* Gear Dropdown */

.gearIcon {
  background: v.getImage("spritesheet") -64px 0 !important;
  position: relative;
  top: 2px;
  transition: all 0.25s ease;
}

#RESMainGearOverlay {
  @include v.theme("background-color", v.$menu);
  top: 0 !important;
  height: 26px !important;
  border-radius: 0 !important;
}

.RESDropdownList {
  @include v.theme("border-color", v.$menu);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  margin-top: 4px;
  margin-right: 8px;

  li {
    @include v.theme("background-color", v.$menu);
    @include v.theme("color", v.$menuActiveText);
    @include v.theme("border-color", v.$menu);
    transition: all 0.15s ease;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  a {
    @include v.theme("color", v.$menuActiveText);

    &:visited {
      @include v.theme("color", v.$menuActiveText);
    }
  }

  li {
    &:hover,
    a:hover {
      @include v.theme("color", v.$menuActiveText);
      background-color: #667df0;
    }
  }
}

#RESSearchMenuItem {
  border: 1px solid #4258ca;
  border-radius: 1px;
  background-color: #667df0;

  &:hover {
    background-color: #667df0;
  }
}

.toggleButton {
  .toggleOn,
  .toggleOff {
    text-transform: lowercase;
  }
}

/* Toggle Off */

.moduleToggle:not(.enabled) .toggleOn,
.toggleButton:not(.enabled) .toggleOn,
.moduleToggle.enabled .toggleOff,
.toggleButton.enabled .toggleOff {
  background-color: transparent;
  @include v.theme("color", v.$lightText);
  @include v.theme("border", v.$button, false, true, "1px solid");
  transition: all 0.15s ease;
  border-radius: 2px;
}

/* Toggle On */

.moduleToggle.enabled .toggleOn,
.toggleButton.enabled .toggleOn,
.moduleToggle:not(.enabled) .toggleOff,
.toggleButton:not(.enabled) .toggleOff {
  @include v.theme("color", v.$button);
  @include v.theme("border", v.$body, false, true, "1px solid");
  @include v.theme("background-color", v.$body);
  font-weight: bolder;
  transition: all 0.15s ease;
  border-radius: 2px;
}

.markdownEditor .edit-btn:not(.btn-macro) {
  border: 0 solid !important;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

/* /Top Sorting Menu */

.content > .menuarea {
  margin: 0;
  padding: 0 20px;
  border: none;
  @include v.theme("color", v.$secondary-text);
  overflow: visible;
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.dropdown.lightdrop .selected {
  display: inline-block;
  color: #9e9e9e;
  text-decoration: none;
  cursor: pointer;
  padding: 0 4px;
  background: 0;
  z-index: 2;

  &:after {
    content: " ▼";
  }

  &:hover {
    color: #4f8ef7;
  }
}

.drop-choices {
  &.lightdrop {
    border: none;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin: -22px -20px 0;
    padding: 32px 0 8px;
    min-width: 156px;

    &:before {
      display: block;
      content: "";
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }
  }

  a.choice {
    padding: 8px 24px;
    transition: all 0.1s ease;
    color: #212121;

    &:hover {
      background-color: #eee;
    }
  }
}

/* RES Popup */

.guider {
  border: none;
  box-shadow: 0 2px 3px #ddd;
}

.guider_content h1 {
  color: #4f8ef7;
}

.guider_button {
  font-size: 11px;
  border: none;
  background-image: none;
  background-color: #4f8ef7;
  transition: all 0.15s ease;

  &:hover {
    background-color: rgba(79, 142, 247, 0.75);
  }
}

.x_button {
  transition: all 0.25s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  }
}

/* RES Fixes / RES Nightmode */
/* Voting Arrows */

.res-nightmode {
  .arrow {
    background-image: v.getImage("spritesheet") !important;

    &.up {
      background-position: 0px -80px !important;
    }

    &.upmod {
      background-position: -32px -80px !important;
    }

    &.down {
      background-position: -64px -80px !important;
    }

    &.downmod {
      background-position: 0 -100px !important;
    }
  }

  .thumbnail {
    &.default {
      background: #212121 v.getImage("spritesheet") -152px -48px;
    }

    &.self {
      background: #212121 v.getImage("spritesheet") -96px -48px;
    }
  }

  .stickied .thumbnail {
    background: #2db747 v.getImage("spritesheet") -96px -48px;
  }

  body,
  .listing.search-result-listing,
  .res-searchHelper-searchPageTabs ul.res-search-tabs {
    background-color: #000 !important;
  }

  .side,
  .tabmenu li a {
    background-color: transparent !important;
  }

  .side {
    .usertext-body .md ol {
      background-color: transparent !important;

      ol {
        background-color: transparent !important;

        li {
          background-color: transparent !important;
        }
      }
    }

    .md ul {
      background-color: transparent !important;
    }
  }

  #header-bottom-right,
  .flair,
  .linkflairlabel,
  .side .sidecontentbox .content,
  .icon-menu a,
  #userbarToggle,
  #progressIndicator,
  body .content,
  .voteWeight {
    background-color: transparent !important;
  }

  #header .tabmenu:before {
    background-color: rgba(0, 0, 0, 0.24) !important;
  }

  #sr-header-area {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }

  body {
    &.listing-page > .content,
    &.other-discussions-page > .content {
      background-color: #121212 !important;
    }
  }

  .comments-page .link,
  .commentarea > .sitetable > .comment,
  #images,
  .combined-search-page > .content,
  .sponsorshipbox,
  .stylesheet-customize-container .pretty-form,
  .side .sidecontentbox,
  .account-activity-box,
  .side .titlebox,
  #previoussearch #moresearchinfo,
  #ad-frame,
  #ad_main,
  .wiki-page .wiki-page-content,
  .linefield,
  .submit-page .roundfield,
  .login-form-side,
  .comments-page .side .linkinfo,
  .reason-popup-innercontent,
  .reddit-infobar.with-icon,
  .wiki-page .pageactions {
    background-color: #121212 !important;
  }

  #newlink-with-image-upload {
    #new-link-video-preview,
    .media-post-upload-progress {
      background-color: #121212 !important;
    }
  }

  .gold-accent.comment-visits-box,
  .wiki-page .wikititle {
    background-color: #121212 !important;
  }

  .submit-page button {
    border: 0px none #000 !important;
  }

  .flairselector,
  .hover-bubble,
  .combined-search-page .searchfacets,
  .linkinfo .shortlink input,
  .reason-popup-header,
  .reason-popup-footer,
  #search #searchexpando select,
  .md code,
  .content .md pre,
  .wiki-page .pageactions .wikiaction-current,
  .morelink {
    background-color: #212121 !important;
  }

  #newlink-with-image-upload {
    #new-link-video-preview .video-preview-heading .video-cancel-button,
    .media-progress-bar-container {
      background-color: #212121 !important;
    }
  }

  ul.res-search-tabs li a,
  .other-discussions-page .side .linkinfo,
  .side .md pre,
  .drop-choices a.choice:hover {
    background-color: #212121 !important;
  }

  .side .md {
    .-blocks,
    .-lists,
    pre,
    blockquote,
    table,
    p,
    ul,
    ol {
      color: #e0e0e0 !important;
    }
  }

  .hover-bubble.multi-selector strong {
    color: #e0e0e0 !important;
  }

  .content .thing {
    .title:visited,
    &.visited .title {
      color: #e0e0e0 !important;
    }
  }

  .titlebox,
  .md,
  .titlebox:before,
  dd,
  .mod-toolbox .removal-reason-title,
  .reason-popup-header {
    color: #e0e0e0 !important;
  }

  .md {
    h1,
    h3 {
      color: #e0e0e0 !important;
    }
  }

  #newlink-with-image-upload .media-uploading-label,
  .gold-accent.comment-visits-box,
  .wiki-page .wikititle strong {
    color: #e0e0e0 !important;
  }

  .flairoptionpane ul li .linkflair:hover,
  .flairselector li:hover {
    background-color: #212121 !important;
  }

  .side .titlebox {
    .md h4 a,
    .tagline a.flairselectbtn {
      background-color: #212121 !important;
    }
  }

  .leavemoderator a {
    background-color: #212121 !important;
  }

  .link .entry .tagline a,
  .hover-bubble,
  body .content textarea:focus,
  .md strong,
  .search-result-body,
  .linkflairlabel,
  .search-page #search input,
  #previoussearch p,
  dt,
  .search-page #previoussearch label,
  #search #searchexpando label,
  .pretty-form,
  .comments-page .side .linkinfo .score,
  .titlebox:before,
  .submit-page .roundfield .title {
    color: #d2d2d2 !important;
  }

  .RESDropdownList li {
    color: #d2d2d2 !important;

    a {
      color: #d2d2d2 !important;
    }
  }

  .reason-popup .reason-popup-content {
    color: #d2d2d2 !important;
  }
}

/* Thumbnails */

/* Body */

/* Transparent */

/* Black */

/* Dark Gray */

/* Medium Gray */

/* Off White */

.drop-choices a.choice {
  color: #d2d2d2 !important;
}

/* Pure White */

.comment .score {
  font-size: inherit;
  font-weight: 700;
  @include v.theme("color", v.$secondary-text);

  &:before {
    content: "• ";
    margin: 0 2px;
    vertical-align: middle;
    line-height: 14px;
  }
}

#search #searchexpando label {
  padding-top: 0;
  padding-bottom: 0;
}

/* Toolbox */

body.mod-toolbox .tb-action-button {
  height: 22px !important;
  line-height: 0px;
}

/* RES L+C */

.link .entry .buttons li .redditSingleClick {
  padding: 0 1px;
  @include v.theme("color", v.$secondary-text);
  font: normal 13px Lato, Arial, sans-serif;
  transition: all 0.15s ease;
}
