@use '../abstracts/variables' as v;

/* Report Comment */

.action-form {
  position: fixed;
  top: 35%;
  left: 40%;
  margin: 0;
  padding: 24px;
  @include v.theme("background", v.$body);
  z-index: 100;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;

  .reason-prompt {
    font-size: 16px;
    @include v.theme("color", v.$titleText);
    padding-bottom: 8px;
    display: block;

    &:first-letter {
      text-transform: capitalize;
    }

    li {
      padding: 4px 4px 4px 0;
      display: block;
    }
  }

  li label {
    padding: 4px 4px 4px 0;
    cursor: pointer;
    display: block;
    @include v.theme("color", v.$titleText);
    text-transform: capitalize;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  input[name="other_reason"] {
    padding: 8px;
  }
}
