@use "../theme/variables" as v;

html {
  .guider {
    background: #fff;
    border: 1px solid #666;
    box-shadow: 0 0 8px #111;
  }

  .guiders_button {
    background: linear-gradient(to bottom, #5ca9ff 0%, #3d79c3 100%);
    border: solid 1px #4b5d7e;
    color: #fff;
  }

  .guiders_content {
    h1 {
      color: #1054aa;
    }

    p {
      color: #333;
    }
  }

  #guiders_overlay {
    background-color: #000;
  }

  .res-nightmode {
    html.res-nightmode {
      background-color: #262626;
      border-color: #777;
    }

    body {
      background-color: #262626;
      border-color: #777;

      .content {
        background-color: #262626;
        border-color: #777;
      }
    }

    .modal-body,
    .side,
    .icon-menu a {
      background-color: #262626;
      border-color: #777;
    }

    .side {
      .leavemoderator,
      .leavecontributor-button,
      .titlebox,
      .spacer .titlebox .redditname,
      .titlebox .flairtoggle {
        background-color: #262626;
        border-color: #777;
      }

      .usertext-body .md ol {
        background-color: #262626;
        border-color: #777;

        ol {
          background-color: #262626;
          border-color: #777;

          li {
            background-color: #262626;
            border-color: #777;
          }
        }
      }
    }

    .modactionlisting table *,
    .side .recommend-box .rec-item,
    .crosspost-preview,
    .crosspost-thing-preview,
    .admin_takedown,
    .happening-now {
      background-color: #262626;
      border-color: #777;
    }

    .embedded-page {
      .content > .sitetable,
      &.helpcenter-page .content,
      &.compose-page .content,
      .content > .sitetable > div:nth-of-type(4n + 1),
      &.helpcenter-page .content > div:nth-of-type(4n + 1),
      &.compose-page .content > div:nth-of-type(4n + 1) {
        background-color: #262626;
        color: #aaa;
      }
    }

    .link {
      background-color: #262626;
    }

    .helpcenter-form {
      .section-content {
        background-color: #262626;
      }

      .helpcenter-bottom-panel .helpcenter-content-policy p {
        color: #aaa;
      }
    }

    .popup {
      background-color: #262626;
      color: #aaa;
    }

    .guider {
      background-color: #262626;
      color: #aaa;

      p {
        background-color: #262626;
        color: #aaa;
      }
    }

    #login_login {
      background-color: #333;
      color: #bbb;
    }

    .RESCloseButton::after,
    .message.new > .entry,
    .read-next {
      border-color: #4d4d4d;
      background-color: #333;
    }

    .drop-choices {
      border-color: #4d4d4d;
      background-color: #333;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    }

    .read-next .read-next-header {
      border-color: transparent;
      background-color: #3e3e3e;
    }

    .flairselector {
      h2 {
        border-color: transparent;
        background-color: #3e3e3e;
      }

      li {
        &:hover {
          border-color: transparent;
          background-color: #3e3e3e;
        }

        &.selected {
          border-color: #787878;
        }
      }
    }

    .RESNotification {
      border-color: #787878;
    }

    .RESCloseButton:hover::after {
      background-color: #333;
    }

    #RESHoverContainer::after {
      border-color: transparent #262626;
    }

    &.liveupdate-app .content {
      background-color: #161616;
    }

    .entry .morecomments .gray,
    .markdownEditor .RESCharCounter {
      color: rgba(221, 221, 221, 0.8);
    }

    #BigEditor .markdownEditor .RESMacroDropdownList li:hover a {
      color: #bbb;
    }

    .trophy-info .trophy-name {
      color: #eee !important;
    }

    .sidecontentbox .content {
      border-color: rgba(234, 234, 234, 0.1);
    }

    .RESUserTagImage::after {
      color: #758ea8;
    }

    #DonateRES {
      background: #ccc;
    }

    #progressIndicator,
    .hover-bubble,
    .side .side-message,
    #editShortcutDialog,
    #RESShortcutsAddFormContainer {
      color: #ddd;
      border-color: #4d4d4d;
      background-color: #333;
    }

    .login-form-side {
      background-color: #888;
      color: #eee;

      .error {
        color: #cd5a5a;
      }
    }

    #header,
    .liveupdate-home .content {
      background-color: dimgray;
    }

    #jumpToContent {
      color: #ddd;
    }

    #sr-header-area,
    #sr-more-link {
      background-color: #ccc;
      color: #000;
    }

    .usertable tr .user .userkarma {
      color: #aa9;
    }

    .thing.spam {
      background-color: #3d2929;
    }

    .new-comment .usertext-body {
      border-color: #242b3f;
      background-color: #1a2135;
    }

    .RESDropdownList.RESMacroDropdownList {
      a:hover,
      li:hover {
        background-color: #777;
        color: #aaa;
      }
    }

    .wiki-page .pageactions .wikiaction-current {
      background-color: #777;
    }

    .contact-us-page .button {
      background: #777;
      color: #ddd;

      &:hover {
        background: #666;
      }
    }

    .message .subject .correspondent {
      background: #212f46;
      color: #1496dc;
    }

    .moderator .linefield {
      background: #1a1a1a;
    }

    .wiki-page .wiki-page-content .md.wiki > .toc ul {
      background-color: #262626;
    }

    .tabmenu li {
      a,
      &.selected a {
        background-color: #262626;
      }
    }

    #report form {
      background-color: #262626;
    }

    .tabmenu {
      li.selected a {
        color: #d25a32;
        border-bottom-color: #262626;
      }

      &.formtab {
        a {
          color: #fff;
          border-color: #505050;
        }

        .selected a {
          color: #fff;
          background-color: #5f99cf;
        }
      }
    }

    #RESDashboardAddComponent,
    .dashboardPane > .RESDashboardComponent {
      background-color: gray;
    }

    #RESDashboard .RESDashboardComponentHeader {
      background-color: #848484;
    }

    .RESDashboardComponent .RESDashboardComponentHeader ul li {
      &.active,
      &:hover {
        background-color: #ccc;
      }
    }

    .side .titlebox form.flairtoggle,
    .trophy-area .content {
      background-color: #262626;
      color: #ddd;
    }

    .side .md {
      ol,
      ul {
        background-color: #262626;
        color: #ddd;
      }
    }

    .organic-listing {
      border-color: #505050;
      background-color: transparent !important;

      .link {
        background-color: transparent;
        border-color: #505050;
      }
    }

    .link.promotedlink {
      background-color: transparent;
      border-color: #505050;
    }

    .dropdown.lightdrop a.choice:hover {
      background-color: #1a1a1a;
    }

    .sidebox,
    .subreddit-info,
    .raisedbox,
    .login-form-side,
    .interstitial-subreddit-description {
      background-color: #393939;
      border-color: #151515;
      color: #aaa;
    }

    .subreddit-info .spacer a {
      background-color: #262626;
    }

    .morelink {
      background: #444;
      border-color: #444;

      &:hover {
        border-color: #333;
        background: #333;

        a {
          color: #1496dc;
        }
      }

      .nub {
        display: none;
      }
    }

    .sidebox .spacer,
    .side .linkinfo {
      background-color: #393939;
    }

    .commentbody.border {
      background-color: #369;
    }

    input {
      &[type="number"],
      &[type="text"],
      &[type="password"] {
        color: #ccc;
        border: 1px solid #4d4d4d;
        background-color: #333;
      }
    }

    .c-form-control {
      color: #ccc;
      border: 1px solid #4d4d4d;
      background-color: #333;
    }

    .content textarea {
      background-color: #333;
      color: #eee;
    }

    .rulespage .example,
    #userTaggerTable th,
    #newCommentsTable th,
    .RESDashboardComponent .RESDashboardComponentHeader ul .updateTime:hover {
      color: #000;
    }

    .instructions {
      .preftable th,
      .pretty-form {
        color: #000;
      }
    }

    .remove-self .option,
    .unfriend-button .option,
    .RESDashboardComponent .widgetPath,
    .entry .buttons li.reported-stamp,
    .pretty-button,
    .report-reasons {
      color: #000;
    }

    .viewSource textarea[readonly] {
      background: #666;
    }

    .reported {
      border-color: #daa520;
    }

    .nextprev {
      a {
        background: #777;
        border-color: #333;
        color: #ddd;
      }

      img:hover {
        opacity: 0.85;
      }
    }

    #ad-frame {
      opacity: 0.8;
    }

    .comment.unread {
      background-color: #4a473b;
    }

    .raisedbox .flat-list a {
      background-color: #262626;

      &:hover {
        background-color: #369;
        color: #fff;
      }
    }

    .instructions {
      background: #fff;
    }

    #siteTable .link .title.loggedin.click,
    #BigEditor .markdownEditor .RESMacroDropdownList a {
      color: gray;
    }

    .markhelp.md tr td {
      background-color: #36c;
    }

    .mail {
      .havemail img,
      .nohavemail img {
        visibility: hidden;
      }
    }

    .expando-button {
      background-color: transparent;
    }

    #sr-autocomplete-area {
      z-index: 1;
    }

    button {
      color: #fff;
      border: 1px outset gray;
      background-color: #4d4d4d;
    }

    input {
      &[type="button"],
      &[type="submit"],
      &[type="reset"] {
        color: #fff;
        border: 1px outset gray;
        background-color: #4d4d4d;
      }
    }

    .create-reddit .title {
      background-color: rgba(24, 24, 24, 0.2);
      color: #8ad;
    }

    .linefield {
      border-color: #1a1a1a;
      background-color: #4d4d4d;

      .linefield-content,
      &.mobile {
        border-color: #1a1a1a;
        background-color: #4d4d4d;
      }
    }

    #RESShortcutsEditContainer,
    #RESShortcutsSort,
    #RESShortcutsRight,
    #RESShortcutsLeft,
    #RESShortcutsAdd {
      background: #ccc;
    }

    .content {
      .roundfield,
      &.submit .roundfield {
        background-color: #181818;
      }
    }

    .traffic-table {
      tr {
        &:nth-of-type(even) {
          background-color: #181818;
        }

        &:nth-of-type(odd).promo-traffic-live {
          color: #181818;
        }
      }

      &.promocampaign-table tr.active {
        background-color: #6d2f39;
        border: 2px dotted #a70000;
      }
    }

    .sponsored-page {
      .dashboard {
        color: #dedede;
      }

      .campaign-editor .editor-group,
      .editor-group {
        background-color: #151515;
      }

      .campaign-editor .campaign-set {
        background-color: #666;
      }

      .linefield-content {
        textarea,
        input {
          color: #181818;
        }
      }
    }

    .linefield .markhelp table {
      background-color: inherit;
    }

    .content .sponsored-page {
      textarea,
      input {
        background-color: #fcfcfc;
      }
    }

    .md {
      code,
      pre {
        color: inherit;
        border-color: #58697b;
        background-color: #2a3340;
      }
    }

    .link .md pre,
    .content .md pre,
    .new-comment .md pre,
    .usertext.border .md pre,
    .link .md :not(pre) > code,
    .new-comment .md :not(pre) > code,
    .usertext.border .md :not(pre) > code {
      color: inherit;
      border-color: #58697b;
      background-color: #2a3340;
    }

    .comment .md p a {
      &[href="/spoiler"],
      &[href="#spoiler"] {
        background-color: #000;
        color: #000;
      }
    }

    .usertable tr:hover,
    .moderator-table tr:hover {
      background-color: #444;
    }

    .usertext {
      &.border .usertext-body,
      &.grayed .usertext-body {
        background-color: #444;
      }
    }

    .login-form,
    .login-form-side .submit,
    #header-bottom-right,
    #srList,
    .dropdown.lightdrop .drop-choices {
      background-color: #333;
    }

    #srList tr {
      border-bottom-color: #646464;

      &:hover {
        background-color: #3e3e3e;
      }
    }

    #quickMessage {
      textarea,
      select {
        background-color: #aaa;
      }
    }

    #search {
      input[type="text"] {
        color: #fff !important;
      }

      select,
      option {
        color: #1a1a1a;
      }
    }

    ul.res-search-tabs li a {
      background-color: #393939;
    }

    &.res-searchHelper-searchPageTabs {
      ul.res-search-tabs li.res-search-tab-active a,
      .combined-search-page #previoussearch .res-search-pane {
        background-color: #222;
      }
    }

    #RESConsoleContainer {
      background-color: #222;
    }

    #SearchRES-results-container li {
      background-color: #222;

      &:hover {
        background-color: #222;
      }
    }

    #REScommentSubToggle {
      background-color: #222;
    }

    #searchexpando,
    .post-sharing {
      background: #303030;
      border-color: #444;
    }

    &.res-searchHelper-searchPageTabs .combined-search-page {
      .search-result .search-expando.collapsed::before {
        background: linear-gradient(
          to bottom,
          rgba(34, 34, 34, 0) 0%,
          #222222 100%
        );
      }

      .search-result-group .search-result-group-header {
        border-bottom-color: gray;
      }
    }

    a,
    .md a,
    .share-button .option,
    #subscribe a,
    .share .option,
    .wired a,
    .side a,
    .link .score.dislikes,
    .linkcompressed .score.dislikes,
    a[rel="tag"],
    .dsq-help,
    #authorInfoToolTip h3 a,
    .reddiquette {
      color: #8cb3d9;
    }

    .parent {
      .author,
      .subreddit {
        color: #8cb3d9;
      }
    }

    .combined-search-page .search-result a {
      color: #8cb3d9;

      > mark {
        color: #8cb3d9;
      }
    }

    .hoverHelp,
    .deepthread a {
      color: #8cb3d9;
    }

    .policy-page .md {
      h1 a,
      h3 a {
        color: #8cb3d9;
      }
    }

    .flairselector li a {
      color: #85b3e0 !important;
    }

    .thing .title {
      color: #dedede;
    }
  }

  .res-nightMode-coloredLinks .res-nightmode .thing .title {
    color: #5c99d6;
  }

  .res-nightmode .thing .source-url {
    color: #ccc;
  }

  .res-nightMode-coloredLinks .res-nightmode .thing .source-url {
    color: #3380cc;
  }

  .res-nightmode {
    .tagline a {
      color: #6a98af;
    }

    .morecomments a {
      color: #999;
    }

    .thing {
      .title:visited,
      &.visited .title {
        color: #a6a6a6;
      }
    }

    .combined-search-page .search-result {
      &.visited a {
        color: #a6a6a6;
      }

      a:visited {
        color: #a6a6a6;

        > mark {
          color: #a6a6a6;
        }
      }
    }
  }

  .res-nightMode-coloredLinks .res-nightmode {
    .thing {
      .title:visited,
      &.visited .title {
        color: #a679d2;
      }
    }

    .combined-search-page .search-result {
      &.visited a {
        color: #a679d2;
      }

      a:visited {
        color: #a679d2;

        > mark {
          color: #a679d2;
        }
      }
    }
  }

  .res-nightmode .thing .source-url:visited {
    color: #999;
  }

  .res-nightMode-coloredLinks .res-nightmode .thing .source-url:visited {
    color: #945ec9;
  }

  .res-nightmode {
    .flair-settings ~ .tabpane-content {
      border-color: #1a1a1a;
    }

    .flaircell input[type="text"] {
      border: 1px solid #555;
    }

    .md blockquote {
      color: #a0a0a0;
      border-left-color: #646464;
    }

    .infobar:not(.newsletterbar),
    .reddit-infobar {
      border-color: #2966a3;
      background-color: #264d73;
    }

    .infobar:not(.newsletterbar) .md,
    .reddit-infobar .md {
      color: #fff;
    }

    .rank .star,
    .link .score.likes {
      color: #ff4500;
    }

    .linkcompressed {
      .score.likes {
        color: #ff4500;
      }

      .entry .buttons li a {
        background: none;
      }
    }

    .link .usertext-body .md,
    .thing .compressed {
      background: none;
    }

    .link.promotedlink {
      background: none;

      &.promoted {
        background: none;
      }
    }

    .subreddit .usertext .md,
    .commentreply .help tr {
      background: none;
    }

    .link .usertext-body .md,
    .side .linkinfo {
      border-color: #666;
    }

    .subreddit-info .label,
    .sidebox .subtitle {
      color: #aaa;
    }

    .modactionlisting {
      .description {
        color: #aaa;
      }

      .timestamp {
        time {
          color: #aaa;
        }

        color: #aaa;
      }
    }

    .submit {
      textarea,
      #url,
      #sr-autocomplete {
        color: #ccc;
        border-color: #4d4d4d;
        background-color: #333;
      }
    }

    .usertext-edit textarea,
    .RESDialogSmall,
    .c-close,
    #BigEditor #BigText {
      color: #ccc;
      border-color: #4d4d4d;
      background-color: #333;
    }

    #liveupdate-statusbar {
      color: #ccc;
      border-color: #4d4d4d;
      background-color: #333;

      &.complete {
        color: #ccc;
        border-color: #4d4d4d;
        background-color: #333;
      }
    }

    #alert_message input {
      color: #ccc;
      border-color: #4d4d4d;
      background-color: #333;
    }

    #liveupdate-statusbar.live.connected {
      background-color: #344b4e;
      border: 1px solid #38585f;
      color: inherit;
    }

    .RESHoverInfoCard {
      &::before {
        border-right-color: #4d4d4d;
      }

      &::after {
        border-right-color: #333;
      }

      &.right {
        &::before {
          border-left-color: #4d4d4d;
        }

        &::after {
          border-left-color: #333;
        }
      }
    }

    .RESDialogSmall > h3,
    .NERPageMarker {
      color: inherit;
      border-color: #4d4d4d;
      background-color: transparent;
    }

    &.res-commentBoxes {
      .comment {
        background-color: #161616 !important;

        .comment {
          .comment {
            background-color: #161616 !important;

            .comment {
              .comment {
                background-color: #161616 !important;

                .comment {
                  .comment {
                    background-color: #161616 !important;

                    .comment {
                      .comment {
                        background-color: #161616 !important;

                        .comment {
                          background-color: #121212 !important;
                        }
                      }

                      background-color: #121212 !important;
                    }
                  }

                  background-color: #121212 !important;
                }
              }

              background-color: #121212 !important;
            }
          }

          background-color: #121212 !important;
        }

        border-color: #333 !important;

        &.spam {
          background-image: linear-gradient(#633636, #633636);
        }
      }

      &.res-commentHoverBorder .comment:hover {
        border-color: #555 !important;
      }
    }

    .RESDropdownList,
    #RESPrefsDropdown {
      border-color: gray;
    }

    .RESDropdownList li {
      background: #444;
      color: gray;

      a {
        background: #444;
        color: gray;
      }

      border-bottom-color: gray;

      &:hover {
        background-color: #555;
        color: #bbb;

        a {
          background-color: #555;
          color: #bbb;
        }
      }
    }

    > .content > {
      .spacer > .sitetable::before,
      .sharelink ~ .sitetable::before {
        color: #ddd;
      }
    }

    .side .age,
    .trophy-info *,
    .golddvertisement,
    .flair-jump .title,
    .savedComment {
      color: #ddd;
    }

    .md {
      color: #ddd;

      h2 {
        color: #ddd;
      }
    }

    .content .sitetable .thing .md {
      color: #ddd;
    }

    .side {
      .usertext-body ol,
      .redditname a,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #ddd;
      }
    }

    .content .wiki-page-content .md.wiki {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: #ddd;
      }
    }

    .wiki-page .wiki-page-content .pagelisting,
    .RESUserTag {
      color: #ddd;
    }

    .sidebar {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #ddd;
      }
    }

    .flairselector h2,
    .wiki-page .wiki-page-content .description h2 {
      color: #ddd;
    }

    .searchfacets {
      background-color: #2c2c2c;
    }

    .combined-search-page .search-result .search-result-body,
    .generic-table {
      color: inherit;
    }

    .message {
      &.message-reply.recipient > .entry .head,
      &.message-parent.recipient > .entry .head {
        color: inherit;
      }
    }

    .linefield .title,
    .liveupdate-listing li.liveupdate:hover time {
      color: inherit;
    }

    .spam .domain {
      color: inherit;

      a {
        color: inherit;
      }
    }

    .hover-bubble.multi-selector strong,
    .subreddit-rules-page .md-container .md .subreddit-rule-description {
      color: inherit;
    }

    .comment.spam > .child,
    .message.spam > .child {
      background-color: transparent;
    }

    .nextprev a:hover,
    .next-suggestions a:hover {
      border-color: transparent;
      background-color: #777;
    }

    body.with-listing-chooser {
      .listing-chooser,
      &.listing-chooser-collapsed .listing-chooser {
        background-color: #262626;
      }

      .listing-chooser {
        .grippy,
        &.initialized .grippy {
          background-color: #262626;
        }
      }

      &.listing-chooser-collapsed .listing-chooser {
        .grippy,
        &.initialized .grippy {
          background-color: #262626;
        }
      }

      .listing-chooser {
        .grippy::after,
        &.initialized .grippy::after {
          background-color: #2f2f2f;
          border-right-color: #444;
        }
      }

      &.listing-chooser-collapsed .listing-chooser {
        .grippy::after,
        &.initialized .grippy::after {
          background-color: #2f2f2f;
          border-right-color: #444;
        }
      }

      .listing-chooser {
        .grippy:hover,
        &.initialized .grippy:hover {
          background-color: #262626;
          border-left-color: #333;
        }
      }

      &.listing-chooser-collapsed .listing-chooser {
        .grippy:hover,
        &.initialized .grippy:hover {
          background-color: #262626;
          border-left-color: #333;
        }
      }

      .listing-chooser {
        .grippy:hover::before,
        &.initialized .grippy:hover::before {
          background-color: #262626;
        }
      }

      &.listing-chooser-collapsed .listing-chooser {
        .grippy:hover::before,
        &.initialized .grippy:hover::before {
          background-color: #262626;
        }
      }

      .listing-chooser {
        .grippy:hover::after,
        &.initialized .grippy:hover::after {
          border-right-color: #777;
        }
      }

      &.listing-chooser-collapsed .listing-chooser {
        .grippy:hover::after,
        &.initialized .grippy:hover::after {
          border-right-color: #777;
        }
      }
    }

    .listing-chooser {
      li {
        background-color: #393939;
        color: #ccc;
        border-color: #000;

        &.selected {
          background-color: #393939;
          color: #ccc;
          border-color: #000;
        }

        a,
        &.selected a {
          color: #8ad;
        }
      }

      .intro {
        background-color: #444;
        border-color: #262626;
        color: #ccc;
      }

      .create button {
        color: #eee;
        background-color: #777;
      }
    }

    #about-main {
      #history .events.timeline .event:hover .event-content {
        box-shadow: 1px 0 3px 2px #aaa;
      }

      .statsgrid .stat .value {
        text-shadow: 0 3px 5px #1a1a1a;
      }
    }

    .about-page .abouttitle h1,
    .create .morelink,
    .permission-summary,
    .flairselector li,
    .subreddit .usertext .md {
      border-color: transparent;
    }

    .about-page {
      .about-menu {
        background: #ddd;
      }

      h2 {
        color: #777;
      }
    }

    .md del {
      color: #777;
    }

    .about-page .about-menu li {
      &.selected a,
      &:hover a {
        background: #aaa;
      }
    }

    #about-main #history .events.timeline .event-content {
      background: #aaa;
    }

    .policy-page .md p {
      color: #eee;

      em {
        background-color: #dad0b3;
        color: #000;
      }
    }

    body,
    .sidebar .md {
      color: #ccc;
    }

    .side {
      color: #ccc;

      *,
      .spacer {
        color: #ccc;
      }
    }

    .content,
    .traffic-tables .traffic-table tr,
    .parentComment .md,
    .post-body.entry-content,
    .dsq-auth-header,
    .instructions .preftable th {
      color: #ccc;
    }

    #BigEditor .markdownEditor {
      a,
      .RESMacroDropdownTitle {
        color: #ccc;
      }
    }

    #REScommentSubToggle,
    #alert_message,
    #report-action-form {
      color: #ccc;
    }

    .titlebox form.toggle,
    .leavemoderator {
      background-color: inherit;
    }

    .server-seconds {
      background: #333;
      border-color: #1a1a1a;
    }

    .snoovatar-page footer .inputs,
    .guider,
    aside.sidebar #discussions li {
      background: #262626;
    }

    .snoovatar-page .checkbox-label [type="checkbox"] {
      + .proxy-checkbox {
        background: red;
      }

      &:checked + .proxy-checkbox {
        background: #0a802e;
      }
    }

    .tagline {
      .friend {
        color: #d25a32;
      }

      .submitter {
        color: #0af;
      }

      .moderator {
        color: #282;
      }

      .admin {
        color: #c81414;
      }
    }

    .user-distinction .admin {
      color: #c81414;
    }

    hr,
    .md hr,
    .message.gold-auto blockquote {
      border-color: #3c3c3c;
      background-color: #3c3c3c;
    }

    #RESSubredditGroupDropdown {
      background-color: #ccc;

      a {
        color: #000;
      }
    }

    .RESNotificationContent,
    .RESNotificationFooter,
    .sr-bar a {
      color: #000;
    }

    .goldvertisement {
      border-color: rgba(196, 180, 135, 0.5);

      .inner {
        border-color: rgba(196, 180, 135, 0.5);

        h2 {
          color: #c4b487;
        }
      }

      .progress p {
        color: #c4b487;
      }

      a {
        background-color: #4d4d4d;
        border-color: #000;
        color: #fff;

        &:hover {
          background-color: #4d4d4d;
          border-color: #000;
          color: #fff;
        }
      }
    }

    .letter-body p,
    #gold-letter h1 {
      color: #262626;
    }

    #about-gold {
      h1,
      footer > p {
        color: #262626;
      }
    }

    .RESDashboardComponentScrim span,
    .RESDashboardComponent .RESDashboardComponentHeader ul .updateTime,
    .remove-self .option,
    .moderator.remove-self .option,
    .message-count,
    .usertable > .toggle {
      color: #262626;
    }

    .gold-accent {
      color: #e6daae;
      background-color: #837854;
      border-color: #ac9c68;
    }

    .side .gold-accent * {
      color: #e6daae;
    }

    .gold-accent {
      .details,
      h1,
      th {
        color: #e6daae;
      }
    }

    .hover-bubble.anchor-top-centered::after {
      border-bottom-color: #aaa;
    }

    #about-main #history .events.timeline .event-marker {
      &.top,
      &.bottom {
        border-bottom-color: #aaa;
      }
    }

    .white-field,
    .delete-field,
    .RESDialogSmall.livePreview .md.RESDialogContents,
    .moderator .traffic-table tbody tr:nth-child(even),
    .instructions,
    .linefield .delete-field,
    #pref-delete .delete-field,
    .contact-us-page .details li,
    .subreddit-report-form input:disabled,
    .action-form input:disabled {
      background-color: transparent;
    }

    .message {
      &.message-reply .entry,
      &.message-parent .entry {
        border-color: #4d4d4d;
      }
    }

    .flairselector.drop-choices.active,
    .message.threaded .child {
      border-color: #4d4d4d;
    }

    .comment {
      .child,
      .showreplies {
        border-color: #4d4d4d;
      }
    }

    .message {
      &.message-reply:not(.threaded) .entry,
      &.message-parent:not(.threaded) .entry {
        border-color: #4d4d4d;
      }
    }

    &.liveupdate-app .content,
    .liveupdate-listing li.separator::before {
      border-color: #4d4d4d;
    }

    .md {
      td,
      th {
        border-color: #4d4d4d;
      }
    }

    .footer {
      border-color: #4d4d4d;

      .col {
        border-color: #4d4d4d;
      }
    }

    .userTagLink.hasTag,
    #userTaggerPreview {
      border-color: #4d4d4d;
    }

    .comment .md p a {
      &[href="/spoiler"] {
        &:hover,
        &:active {
          color: #fff;
        }
      }

      &[href="#spoiler"] {
        &:hover,
        &:active {
          color: #fff;
        }
      }
    }

    .addNewWidget,
    .editWidget,
    #authorInfoToolTip .option,
    .updateTime,
    #RESSubmitOptions ~ div a,
    #shortlink-text,
    .guiders_button,
    .blueButton,
    .gold-accent a,
    .snoovatar-page .gold-accent a {
      color: #fff;
    }

    .combined-search-page .search-result-subreddit .search-subscribe-button {
      .add.active,
      .remove.active {
        color: #fff;
      }
    }

    .fancy-toggle-button {
      a,
      .multi-count {
        color: #fff;
      }
    }

    .markhelp table tr:first-child {
      background-color: #4d4d4d !important;
    }

    .usertext .markhelp .spaces,
    .liveupdate-listing li.separator time,
    .diff_header,
    .diff_next,
    .hover-bubble.multi-selector label:hover {
      background-color: #4d4d4d;
    }

    .flair,
    .linkflairlabel {
      color: #c8c8c8;
      background-color: #404040;
      border-color: #4d4d4d;
    }

    .flairrichtext[style*="color"] {
      color: #c8c8c8 !important;
      background-color: #404040 !important;
      border-color: #4d4d4d;
    }

    #NERContent {
      background-color: #a0a0a0;
    }

    .RESNotification {
      background-color: #d2d2d2;
    }

    .RESNotificationContent {
      border-color: #b4b4b4;
    }

    #modalOverlay.fadeIn {
      background-color: rgba(0, 0, 0, 0.7);
    }

    #RESConsoleTopBar,
    .RESDonateButton {
      color: #e6e6e6;
      border-color: #4d4d4d;
      background-color: #3c3c3c;
    }

    .optionContainer {
      border-color: transparent;
      background-color: #282828;

      &:not(.table):not(.specialOptionType) .optionSetting {
        border-color: #3c3c3c;
      }
    }

    #SearchRES-results-container li {
      border-color: #3c3c3c;
    }

    #RESConfigPanelModulesList {
      > ul {
        border-color: #3c3c3c;
      }

      li {
        h3,
        &.active h3 {
          border-color: #3c3c3c;
        }
      }
    }

    #RESConsoleContainer {
      input {
        &[type="text"],
        &[type="password"] {
          padding: 2px 3px;
          border: 1px solid #3c3c3c;
          background-color: #222;
          color: #ddd;
        }
      }

      .c-form-control {
        padding: 2px 3px;
        border: 1px solid #3c3c3c;
        background-color: #222;
        color: #ddd;
      }
    }

    ul.token-input-list-facebook,
    #RESConsoleContainer textarea {
      padding: 2px 3px;
      border: 1px solid #3c3c3c;
      background-color: #222;
      color: #ddd;
    }

    #RESConfigPanelModulesList {
      color: #a0a0a0;

      li.active h3 {
        background-color: #141414;
      }
    }

    #RESConsoleContainer,
    .moduleButton.enabled,
    .optionsTable th,
    .tagline .score {
      color: #b4b4b4;
    }

    #moduleOptionsScrim {
      background-color: rgba(34, 34, 34, 0.7);
    }

    .optionsTable {
      th {
        background-color: #3c3c3c;
      }

      tr:nth-child(2n) {
        background-color: #1d1d1d;
      }
    }

    #moduleOptionsSaveStatus {
      background-color: #323232;
      color: #969696;
    }

    .toggleButton {
      .toggleOff,
      .toggleOn {
        color: rgba(255, 255, 255, 0.8);
        border-color: #3c3c3c;
      }

      &.reverseToggleButton:not(.enabled) {
        .toggleOff,
        .toggleOn {
          color: rgba(255, 255, 255, 0.8);
          border-color: #3c3c3c;
        }
      }

      &:not(.enabled) .toggleOn,
      &.enabled .toggleOff {
        color: #3c3c3c;
        border-color: #3c3c3c;
        background: #282828;
      }

      &.reverseToggleButton {
        &.enabled .toggleOn,
        &:not(.enabled) .toggleOff {
          color: #3c3c3c;
          border-color: #3c3c3c;
          background: #282828;
        }
      }

      &:not(.enabled) .toggleOff,
      &.reverseToggleButton.enabled .toggleOff {
        background: linear-gradient(to left, #882626, #282828);
      }
    }

    .link .rank {
      color: #505050;
    }

    .midcol .score,
    .moduleButton:not(.enabled) {
      color: #646464;
    }

    .tagline,
    .entry .buttons li a,
    .trending-subreddits strong {
      color: #828282;
    }

    .res-hasNewComments .newComments {
      color: #d25a32;
    }

    .nsfw-stamp {
      color: #bf4040;
    }

    .spoiler-stamp {
      color: #ff8200;
    }

    .diff_sub {
      background-color: rgba(240, 128, 128, 0.5);
    }

    .diff_add {
      background-color: rgba(144, 238, 144, 0.4);
    }

    .diff_chg {
      background-color: rgba(255, 255, 0, 0.4);
    }

    .hover-bubble.multi-selector .create-multi input[type="text"] {
      color: #c04e51;
      background-color: inherit;
    }

    #alert_message,
    #report-action-form {
      border-color: #404040;
      background-color: #262626;
    }

    .sr-interest-bar {
      border-color: transparent;
      background-color: #29333d;

      .bubble {
        background-color: #000;

        &::after {
          border-right-color: #000;
        }
      }
    }

    .subreddit-rule-item:hover {
      background-color: #2b2b2b;
    }

    #keyHelp {
      border-color: #999;
      background-color: #aaa;
      color: #333;

      td {
        border-color: #999;
      }
    }

    .res-filterline {
      background-color: rgba(38, 38, 38, 0.9);
    }

    .res-filterline-filter {
      border-bottom-color: #383838;
    }

    .res-filterline-filter-hiding {
      border-bottom-color: #e4e4e4;
      color: #e4e4e4;

      &:hover {
        border-bottom-color: #e4e4e4;
        color: #e4e4e4;
      }
    }

    .res-filterline-dropdown {
      background-color: #313131;
      box-shadow: #3c3c3c 2px 2px 2px;
    }

    .res-filterline-dropdown-action {
      border-bottom-color: #404040;
    }

    #REScommentNavBox {
      #commentNavUp,
      #commentNavDown {
        color: #434343;
      }

      #commentNavPostCount {
        color: #9f9f9f;
      }
    }

    .res-commentNavToggle-choices {
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow: #313131 1px 2px 4px;
    }

    .subreddit .usertext .md {
      background-color: #333;
      border-color: #777;
    }

    .user-subreddit .path {
      color: #8cb3d9;
    }

    .modal {
      .modal-header-title {
        color: #aaa;
      }

      .modal-header,
      .field-otp,
      .modal-content {
        background-color: #333;
        border-color: #777;
        color: #aaa;
      }

      .c-close {
        background-color: inherit;
        filter: invert(100%);
      }
    }

    .report-modal {
      .report-form-bottom-panel .report-form-content-policy a,
      .report-form-action-desc {
        color: #8cb3d9;
      }

      .report-form-bottom-panel .report-form-content-policy p,
      .report-reason-item .report-reason-display,
      .report-form-last-step-text,
      .report-form-last-step-text-custom-rules,
      .report-form-big-content-policy {
        color: #aaa;
      }

      .c-close {
        background-color: inherit;
      }

      .report-form-block-user img,
      .report-form-blocked-user img {
        filter: invert(100%);
      }
    }

    .crossposting-modal {
      .crosspost-header-title,
      .crosspost-label,
      .crosspost-sublabel {
        color: #aaa;
      }

      .crosspost-description {
        background-color: #333;
        border-color: #777;
      }

      .modal-body,
      .modal-content,
      .crosspost-field,
      .crosspost-preview,
      .crosspost-thing-preview {
        background-color: #262626;
        color: #aaa;
      }
    }

    .tfa-login-modal {
      .tfa-login-caption {
        color: #aaa;
      }

      .tfa-switch-type-of-code,
      .tfa-login-bottom-panel .tfa-login-having-trouble a {
        color: #8cb3d9;
      }
    }

    .enable-tfa-modal {
      .enable-tfa-caption,
      .pref-otp-qr li {
        color: #aaa;
      }

      .otp-secret-info canvas {
        border: solid 5mm #fff;
      }

      .switch-barcode-and-code {
        color: #8cb3d9;
      }

      .enable-tfa-bottom-panel {
        .enable-tfa-learn-more a,
        .switch-barcode-and-code a {
          color: #8cb3d9;
        }
      }
    }

    .disable-tfa-modal {
      .disable-tfa-caption {
        color: #aaa;
      }

      .disable-tfa-bottom-panel .disable-tfa-learn-more a {
        color: #8cb3d9;
      }
    }

    .backup-codes-modal .backup-codes-caption {
      color: #aaa;
    }

    .pinnable-content.pinned {
      background-color: #262626 !important;

      .c-close {
        background-color: dimgray;
      }
    }

    .author-tooltip__head {
      background-color: #262626;
      border-color: #777;
    }

    .author-tooltip__credentials-list strong,
    .author-tooltip__head h3,
    .author-tooltip__description {
      color: #aaa;
    }

    .author-tooltip__link-list a,
    .author-tooltip__head a,
    .author-tooltip__link-list a:hover,
    .author-tooltip__head a:hover {
      color: #8cb3d9;
    }

    .desktop-onboarding__description,
    .desktop-onboarding-sign-up__form-note,
    .desktop-onboarding-step_sign-up footer,
    .subreddit-picker__subreddit-name strong {
      color: #aaa;
    }

    .desktop-onboarding-step_sign-up footer a {
      color: #8cb3d9;
    }

    .desktop-onboarding__col_sign-up_image {
      opacity: 0.7;
    }

    .subreddit-picker,
    .c-username-picker-shown .desktop-onboarding__col_username_picker {
      background-color: #262626;
      border-color: #777;
    }

    .subreddit-picker__category_selected {
      background-color: #333;
    }

    .api-help {
      .overview h2 {
        color: #aaa;
      }

      .contents {
        .introduction strong {
          color: #aaa;
        }

        .overview code {
          background-color: #333;
        }
      }

      .parameters {
        background-color: #333;
      }
    }
  }

  .res-d2x-nightmode #container > .App {
    .ProfileTemplate.m-updated,
    .ProfileBarDropdown__list,
    .ProfileSidebar__counterInfo,
    .ProfileBetaConfirmationPage {
      background-color: #262626;
      border-color: #777;
      color: #aaa;
    }

    .SubredditListExpander__more,
    .SubredditListItem__subredditLink,
    .TrendingProfilesSidebar__profileName,
    .TrendingProfilesSidebar__link,
    .TrendingProfilesSidebar__more,
    .BlueBar__logout,
    .BlueBar__username,
    .BlueBar__prefs {
      color: #8cb3d9;
    }

    .TabMenu__tab {
      &.m-active {
        color: #8cb3d9;
      }

      color: #8cb3d9;
    }

    .ProfileBarDropdown__title {
      &.m-opened {
        color: #8cb3d9;
      }

      color: #8cb3d9;
    }

    .ProfileBarDropdown__listItem,
    .ProfileSidebar__reportUserLink,
    .ProfileSidebar__nameTitleLink,
    .Footer__link,
    .Footer__userAgreementLink,
    .Footer__privacyLink,
    .Post__origin .Post__username,
    .Post__authorComment .Post__username,
    .Post__subredditLink,
    .CommentTitle__postAuthor,
    .CommentTitle__subredditName,
    .Comment.m-op .Comment__author {
      color: #8cb3d9;
    }

    .Post__titleLink,
    .CommentTitle__postTitle {
      color: #dedede;
    }

    .Post__flatListItem,
    .Post__titleLink:visited,
    .CommentTitle__postTitle {
      color: #a6a6a6;
    }

    .ProfileBarDropdown__list:hover .ProfileBarDropdown__listItem:hover {
      background-color: dimgray;
    }

    .UserTopSubredditsSidebar__header,
    .SubredditListItem__subscribers,
    .UserModeratedSubredditsSidebar__header,
    .UserSpecialsListSidebar__header,
    .UserSpecialsListSidebar__title,
    .UserSpecialsListSidebar__date,
    .TrophyCaseSidebar__header,
    .TrophyCaseSidebar__trophyTitle,
    .TrophyCaseSidebar__trophyDescription,
    .TrendingProfilesSidebar__header,
    .BlueBar__karma,
    .ProfileSidebar__displayName,
    .ProfileSidebar__description,
    .ProfileSidebar__counters,
    .ProfileSidebar__followDescription,
    .Post__score,
    .StyledHtml,
    .Post__authorComment .StyledHtml,
    .Post__prominentComment .StyledHtml,
    .Post__commentContainer,
    .ProfileVoiceAd__title,
    .ProfileVoiceAd__description,
    .ProfileVoiceAd__button {
      color: #aaa;
    }

    .BlueBar {
      background: dimgray;
    }

    .BlueBar__account,
    .ProfileSidebar__titleContainer,
    .Post,
    .CommentListing__comment {
      background-color: #333;
      border-color: #777;
      color: #aaa;
    }

    .SubscriptionBar {
      background-color: #ccc;
    }

    .SubscriptionBar__subredditListTarget {
      color: #000 !important;
    }

    .SubredditListItem__subscribe,
    .SubredditListItem__unsubscribe {
      background-color: #262626;
    }

    .Post__crosspostExpando .Media {
      &.m-embed,
      &.m-image,
      &.m-video {
        background-color: #262626;
      }
    }

    .Media.m-profile {
      &.m-embed,
      &.m-image,
      &.m-video {
        background-color: #262626;
      }
    }

    .StyledHtml pre {
      background-color: #262626;
    }

    .SubredditListDropdown,
    .SubredditListDropdown__listItem,
    .SubredditListDropdown__listMore {
      background-color: #333;
      color: #aaa;
      border-color: #777;
    }

    .SubredditListDropdown__listItem:hover,
    .Post__comment:hover {
      background-color: #3e3e3e;
    }

    .ProfileVoiceAd {
      background-color: #202020;
    }
  }

  #res-concurrent-installs {
    border: 3px #ffb4b4 solid;
    color: #000;
    background: #ffdcdc;
  }

  .res-commentBoxes {
    .comment {
      border: 1px solid #e6e6e6 !important;

      &.spam {
        background-image: linear-gradient(#f0a8a8, #f0a8a8);
      }

      .comment {
        background-color: #f7f7f8 !important;

        .comment {
          .comment {
            background-color: #f7f7f8 !important;

            .comment {
              .comment {
                background-color: #f7f7f8 !important;

                .comment {
                  .comment {
                    background-color: #f7f7f8 !important;

                    .comment {
                      .comment {
                        background-color: #f7f7f8 !important;
                      }

                      background-color: #fff !important;
                    }
                  }

                  background-color: #fff !important;
                }
              }

              background-color: #fff !important;
            }
          }

          background-color: #fff !important;
        }
      }
    }

    &.res-commentHoverBorder .content .comment:hover {
      border-color: #9ae !important;
    }
  }

  #quickMessage {
    background-color: rgba(0, 0, 0, 0.75);
  }

  #quickMessageDialog {
    input[type="text"],
    textarea,
    select {
      border: 1px solid #c7c7c7;
    }

    input[type="button"] {
      color: #fff;
      border: 1px solid #636363;
      background-color: #5cc410;
    }
  }

  div.RESAccountSwitcherDropdown .linkIcon:hover {
    color: #dbf1ff;
  }

  .res-accountSwitcher-dropDownStyle-arrow
    #RESAccountSwitcherIcon
    .downArrow::after {
    color: #aabfff;
  }

  #keyCommandLineWidget {
    border: 3px solid #555;
    background-color: #333;
    color: #ccc;
  }

  #keyCommandInput {
    background-color: #999;
  }

  #keyCommandInputTip {
    color: #9f9;
  }

  #keyCommandInputError {
    color: red;
  }

  .res-commentNavToggle-choices {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: #909090 1px 2px 4px;

    &[category="new"] {
      color: #9a7d2e;
    }
  }

  .res-commentNavToggle-type {
    color: gray;
  }

  #commentNavUp,
  #commentNavDown {
    color: #1278d3;
  }

  #commentNavUp:focus,
  #commentNavDown:focus {
    text-shadow: 0 0 5px #1278d3;
  }

  #commentNavPostCount {
    color: #1278d3;
  }

  .res-commentPreview-draftStyle .livePreview {
    background: repeating-linear-gradient(
      -225deg,
      transparent,
      transparent 40px,
      rgba(166, 166, 166, 0.07) 40px,
      rgba(166, 166, 166, 0.07) 80px
    );
  }

  #BigEditor {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .markdownEditor .edit-btn:not(.btn-macro) {
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .res-nightmode .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: #999;
  }

  .RESMacroDropdownTitle {
    color: gray;
  }

  .RESMacroWrappingSpan .openMacro {
    color: #000;
    background-color: #ebf0f5;
  }

  .res-nightmode .RESMacroWrappingSpan .openMacro {
    color: #c8c8c8;
    background-color: #323232;

    + span {
      background-color: #323232;
      border-color: #000;

      li a {
        color: #c8c8c8;
        border-color: #000;

        &:hover {
          background-color: #3c3c3c;
        }
      }
    }
  }

  .RESMacroDropdown {
    border: 1px solid #c8c8c8;
    background-color: #fff;

    li a {
      color: #000;
      border-bottom: 1px solid #e6e6e6;

      &:hover {
        color: #000;
        background-color: #f5faff;
      }
    }
  }

  #alert_message table.commentPreview td {
    border: 1px solid #000;
  }

  .selectedItem {
    color: #fff;
    background-color: #5f99cf;
  }

  span.RESCharCounter {
    color: gray;

    &.tooLong {
      color: red;
    }
  }

  .RESDashboardComponent a.widgetPath,
  .addNewWidget,
  .editWidget {
    color: #000;
  }

  .RESDashboardComponent {
    border: 1px solid #ccc;
  }

  .RESDashboardComponentHeader {
    background-color: #f0f3fc;

    ul li {
      border: 1px solid #c7c7c7;
      background-color: #fff;
      color: #6c6c6c;

      &.active,
      &:hover {
        background-color: #a6ccf1;
        color: #fff;
        border-color: #699dcf;
      }
    }
  }

  .RESDashboardComponentLoader {
    background-color: #f2f9ff;
    border: 1px solid #b9d7f4;
  }

  #RESDashboardAddComponent,
  #RESDashboardEditComponent {
    background-color: #cee3f8;
    border: 1px solid #369;
  }

  #addUser,
  #addReddit,
  #addRedditDisplayName,
  #editReddit,
  #editRedditDisplayName {
    background-color: #fff;
    border: 1px solid #96bfe8;
  }

  .addButton,
  .updateButton {
    color: #fff;
    border: 1px solid #636363;
    background-color: #5cc410;
  }

  .cancelButton {
    color: #fff;
    border: 1px solid #636363;
    background-color: #d02020;
  }

  .backToWidgetTypes {
    color: #000;
  }

  ul.widgetStateButtons li {
    &.disabled {
      background-color: #ddd;

      &:hover {
        background-color: #ddd;
        color: #6c6c6c;
        border: 1px solid #c7c7c7;
      }
    }

    &.updateTime {
      color: #afafaf;
    }
  }

  .res-hasNewComments .newComments {
    color: #ff4500;
  }

  .RESSubscriptionButton {
    color: #369;
    background-color: #fff;
  }

  .res-noParticipation.res-noParticipation-disableCommentTextarea
    .usertext
    textarea[disabled] {
    background-color: #ccc;
  }

  #RESNotifications {
    color: #000;
  }

  .RESNotification {
    background-color: #fff;
    border: 1px solid #fff;

    a {
      color: #369;
    }
  }

  .RESNotificationButtonBlue {
    color: #fff !important;
    background-color: #107ac4;
  }

  .RESNotificationContent {
    color: #000;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    h2 {
      color: #000;
    }
  }

  .RESNotificationFooter {
    color: #8c8c8c;
  }

  .RESNotificationHeader {
    color: #fff;
    background-color: #3c3c3c;
    border-bottom: #c7c7c7;

    .RESCloseButton::after {
      background: #dd3c3c;
      color: #fff;

      &:hover {
        background-color: #c81414;
      }
    }
  }

  .res-thing-placeholder-message {
    color: #aaa;
  }

  .res-thing-filterline-highlight {
    background-color: rgba(255, 155, 155, 0.16);
  }

  .res-filterline {
    background-color: rgba(255, 255, 255, 0.9);
    color: gray;
  }

  .res-filterline-filter {
    border-bottom: 1px solid #efefef;
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid #bfbfbf;
    }
  }

  .res-filterline-filter-hiding {
    border-bottom: 2px solid #adff2f;
    color: #000;

    &:hover {
      border-bottom: 2px solid #adff2f;
      color: #000;
    }
  }

  .res-filterline-toggle-powered {
    color: darkred;

    &:checked {
      color: rgba(0, 102, 0, 0.5);
    }

    &::after {
      background: rgba(128, 128, 128, 0.06);
    }
  }

  .res-filterline-dropdown {
    background-color: #f7f7f7;
    box-shadow: #e8e8e8 2px 2px 4px;
  }

  .res-filterline-dropdown-action {
    border-bottom: 1px solid #fafafa;

    &:hover {
      border-bottom: 1px solid #bfbfbf;
    }
  }

  .res-filterline-filter-new-from-selected {
    &::after {
      color: #73adad;
    }

    &:hover::after {
      color: #add8e6;
    }
  }

  .RESHoverInfoCard {
    &::before {
      border-color: transparent #c7c7c7;
    }

    &::after {
      border-color: transparent #f0f3fc;
    }

    &.right {
      &::before {
        border-color: transparent #c7c7c7;
      }

      &::after {
        border-color: transparent #f0f3fc;
      }
    }
  }

  .RESDropdownList {
    background-color: #5f99cf;
    border: 1px solid #369;

    li {
      border-bottom: 1px solid #369;
      color: #c9def2;

      &:hover {
        background-color: #9cc6ec;
        color: #369;
      }
    }

    a:hover {
      background-color: #9cc6ec;
      color: #369;
    }
  }

  #keyHelp {
    border: 2px solid #aaa;
    background-color: #fff;

    th,
    td {
      border-bottom: 1px dashed #ddd;
    }
  }

  #RESStyleSheetTipPane {
    border: 1px solid #ddd;
  }

  #RESStyleSheetTipPane-header {
    border-bottom: 1px solid #ddd;
  }

  .NERPageMarker {
    color: #7f7f7f;
    background-color: #f0f3fc;
    border: 1px solid #c7c7c7;
  }

  .res-neverEndingReddit-showServerInfo .debuginfo {
    background: rgba(255, 255, 255, 0.3);
  }

  .res-nightmode .res-neverEndingReddit-showServerInfo .debuginfo {
    background: rgba(30, 30, 30, 0.5);
  }

  .res-neverEndingReddit-showServerInfo .debuginfo:hover {
    background: rgba(255, 255, 255, 0.8);
  }

  .res-nightmode .res-neverEndingReddit-showServerInfo .debuginfo:hover {
    background: rgba(30, 30, 30, 0.8);
  }

  .pageNavigator {
    color: #888;
  }

  .res-show-link {
    color: #000;
    background: #fff;
  }

  .res-nightmode .res-show-link {
    background: #3c3c3c;
  }

  .res-show-link a {
    color: #0076d1;
  }

  .res-nightmode .res-show-link a {
    color: #0095ff;
  }

  .res-show-link .res-show-link-domain {
    color: gray;
  }

  .res-nightmode .res-show-link {
    .res-show-link-domain {
      color: #999;
    }

    .res-show-link-tagline {
      color: #bfbfbf;
    }
  }

  .res-show-link .toTop {
    color: #0095ff;
  }

  .res-nightmode .res-show-link .toTop {
    color: #007ad1;
  }

  .res-show-link .toTop:hover {
    color: #0068b3;
  }

  .res-searchHelper-searchPageTabs {
    .combined-search-page #previoussearch .res-search-pane {
      background-color: #fff;
    }

    ul.res-search-tabs li {
      background: linear-gradient(to top, #f0f0f0, #e1e1e1);

      &.res-search-tab-active {
        background: #fff;

        a {
          border-color: #369;
        }
      }
    }
  }

  .res-media-controls button {
    &::after {
      cursor: pointer;
      color: #eee;
    }

    &:hover::after {
      color: #b9b9b9;
    }
  }

  .res-media-controls-clippy {
    color: #fff;
  }

  .res-video-position-thumb,
  .res-video-volume-percentage {
    background-color: #fff;
  }

  .commentarea .res-expando-box div.usertext-body .md {
    background-color: #fafafa;
    border: 1px solid #369;
  }

  .res-nightmode {
    .commentarea .res-expando-box div.usertext-body .md {
      color: #ddd;
      border-color: #666;
    }

    .res-expando-box[data-host="wikipedia"] .md table {
      color: #ddd;
      background: #393939;
    }
  }

  .res-spoilerTags {
    .res-nightmode a {
      &[href="/s"],
      &[href="/spoiler"],
      &[href="#s"],
      &[href="#spoiler"] {
        background-color: #111 !important;
        outline: 1px #222 solid;
      }
    }

    .res a {
      &[href="/s"]:hover,
      &[href="/spoiler"]:hover,
      &[href="#s"]:hover,
      &[href="#spoiler"]:hover,
      &[href="/s"]:active,
      &[href="/spoiler"]:active,
      &[href="#s"]:active,
      &[href="#spoiler"]:active {
        color: #ddd !important;
        background-image: none;
      }
    }
  }

  .res-styleTweaks-visitedStyle .md a:visited {
    color: #551a8b;
  }

  .res-nightmode {
    .res-styleTweaks-visitedStyle .md a:visited {
      color: #a6a6a6;
    }

    &.res-nightMode-coloredLinks .res-styleTweaks-visitedStyle .md a:visited {
      color: #a679d2;
    }
  }

  #srList {
    border: 1px solid #000;
    background-color: #fafafa;

    tbody tr {
      border-bottom: 1px solid gray;

      &:hover {
        background-color: #eef;
      }
    }
  }

  #editShortcutDialog {
    background: #f0f3fc;
    border: 1px solid #aaa;
    color: #000;

    #sortButton {
      border: 1px solid #aaa !important;
      background: #e6e6e6;
      color: #333 !important;
    }

    .RESDescription {
      color: #666;
    }
  }

  #RESSubredditGroupDropdown {
    background-color: #f0f0f0;
    border: 1px solid #000;

    > .RESShortcutsEditButtons .res-icon {
      color: #000;
    }
  }

  #RESShortcutsEditContainer {
    background-color: #f0f0f0;
  }

  #RESShortcutsSort,
  #RESShortcutsRight,
  #RESShortcutsLeft,
  #RESShortcutsAdd {
    color: #369;
  }

  #res-shortcut-trash {
    background-color: #fff;
    border: 5px solid #9cc1e4;
    color: #1e1e1e;
  }

  #res-shortcut-trash-zone {
    border: 2px dashed #c8c8c8;
    color: #c8c8c8;
  }

  #RESShortcutsAddFormContainer {
    background-color: #f0f3fc;
    border: 1px solid #c7c7c7;
    color: #000;
    box-sizing: content-box;
  }

  #shortCutsAddForm .res-shortcuts-add-tip {
    color: #666;
  }

  #sr-header-area a.RESShortcutsCurrentSub,
  #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: #ff4500 !important;
  }

  body:not(.loggedin) {
    #optionContainer-troubleshooter-clearUserInfoCache
      .optionDescription::before,
    #optionContainer-troubleshooter-clearSubreddits .optionDescription::before {
      color: red;
    }
  }

  #userbarToggle {
    color: #a1bcd6;
    background-color: #dfecf9;
    border-right: 1px solid #cee3f8;
  }

  .res-nightmode #userbarToggle {
    background-color: #49505d;
    border-right-color: #768594;
  }

  #userTaggerToolTip {
    input[type="submit"] {
      color: #fff;
      border: 1px solid #636363;
      background-color: #5cc410;
    }

    h3 .res-icon {
      color: #9bd;
    }
  }

  a.voteWeight {
    color: #369;
  }

  .RESUserTag {
    color: #000;
  }

  .RESUserTagImage::after {
    color: #9bd;
  }

  .userTagLink.hasTag {
    border: 1px solid #c7c7c7;
  }

  #userTaggerTable .deleteIcon {
    color: #999;

    &:hover {
      color: #333;
    }
  }

  .res-voteEnhancements-colorLinkScore-automatic .link .rank,
  .res-voteEnhancements-colorLinkScore-user .link .rank {
    color: #fff;
  }

  .res-voteEnhancements-estimatePostScore .linkinfo {
    .upvotes {
      color: #ff4500;
    }

    .downvotes {
      color: #5f99cf;
    }
  }

  .res-voteEnhancements-highlightScores span.score {
    color: #333;
  }

  .gearIcon::after {
    color: #a0e0fd;
  }

  #RESAnnouncementAlert {
    color: #daa520;
  }

  .RESCloseButton::after {
    background-color: #fff;
    border: 1px solid #d7d9dc;
    color: #9a958e;

    &:hover {
      border-color: #999;
      background-color: #ddd;
    }
  }

  .RESDialogSmall {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    color: #666;

    > h3 {
      color: #000;
      background-color: #f0f3fc;
      border-bottom: 1px solid #c7c7c7;
    }
  }

  .usertext-edit .RESDialogSmall:not(.livePreview) .md.RESDialogContents {
    background-color: #fff;
  }

  .toggleButton {
    .toggleThumb {
      background-color: #ccc;
      border: 2px solid #ccc;
    }

    &.enabled {
      &.reverseToggleButton .toggleThumb {
        background-color: #c66;
        border-color: #c66;
      }

      .toggleThumb {
        background-color: #369;
        border-color: #369;
      }
    }

    .toggleThumb::before {
      background-color: #fff;
    }
  }

  .addRowButton {
    cursor: pointer;
    border: 1px solid #636363;

    &:hover {
      background-color: #289dee;
      color: #fff;
    }
  }

  span.multi-count,
  .res-fancy-toggle-button {
    color: #fff;
    border: 1px solid #444;
  }

  span.multi-count {
    background: #ff7500;
    color: #fff;
  }

  .RESMenuItemButton:hover {
    background-color: #c8dbec;
  }

  .blueButton {
    border: 1px solid #636363;
    background-color: #107ac4;
  }

  .redButton {
    color: #fff !important;
    border: 1px solid #bc3d1b;
    background-color: #ff5757;
  }

  .RESButton:hover {
    background-color: #ddd;
  }

  .RESLoadingSpinner {
    color: #1a80e6;
  }

  #alert_message {
    color: #000;
    border: 1px solid;
    background-color: #efefef;

    input {
      border: 1px solid;
      padding: 6px 9px;
      background-color: #dfdfdf;
    }
  }

  #show_stylesheets:target + label {
    background-color: #add8e6;
  }

  .builderItem {
    border: thin solid #d3d3d3;
    background-color: rgba(10, 10, 10, 0.05);
  }

  .builderMulti li .dragged {
    background-color: #f0f3fc;
  }

  .checkset {
    label {
      background-color: #fff;
    }

    *:checked + label {
      background-color: #a9a9a9;
    }
  }

  .res-step {
    &::after {
      color: #90acff;
    }

    &:hover::after {
      color: #6286f4;
    }
  }

  body.res-dashboard .dashboardPane tr:hover .deleteIcon {
    color: #369;
  }
}
