@use '../abstracts/mixins' as v;

.res-nightmode #header .pagename a,
.res-nightmode #header .tabmenu li a:hover,
.res-nightmode #header .tabmenu li.selected a,
.res-nightmode #sr-header-area:hover .sr-bar a,
.res-nightmode *,
.res-nightmode .comments-page .side .linkinfo .score,
.res-nightmode .footer.rounded .col,
.res-nightmode .hover-bubble.anchor-right > div.title > strong,
.res-nightmode .login-form-side label,
.res-nightmode .side #moderation_tools .title h1,
.res-nightmode .side .md .-blocks,
.res-nightmode .titlebox .subscribers,
.res-nightmode .titlebox h1.redditname a,
.res-nightmode .titlebox:before {
  @include v.theme("color", v.$bodyText, true, false, "!important");
}

.res-nightmode .combined-search-page .search-result .search-result-meta,
.res-nightmode
  .combined-search-page
  .search-result-subreddit
  .search-subscribe-button
  .remove,
.res-nightmode
  .combined-search-page
  .search-result-subreddit
  .search-subscribe-button
  .remove:active,
.res-nightmode .comment .entry .tagline,
.res-nightmode .comment .expand,
.res-nightmode .comment .flat-list li a,
.res-nightmode .commentarea .menuarea .toggle a,
.res-nightmode .commentarea .menuarea span.dropdown-title.lightdrop,
.res-nightmode .comments-page .side .linkinfo .date,
.res-nightmode .entry .buttons li,
.res-nightmode .entry .buttons li a,
.res-nightmode .entry .tagline,
.res-nightmode .flairselector form .flairselection:before,
.res-nightmode .gray,
.res-nightmode .help-hoverable,
.res-nightmode .link .domain a,
.res-nightmode .morecomments a,
.res-nightmode .nav-buttons,
.res-nightmode .nav-buttons .nextprev,
.res-nightmode .nextprev,
.res-nightmode .organic-listing .help,
.res-nightmode .read-next .read-next-meta,
.res-nightmode .search-header-label,
.res-nightmode .searchfacets .facet.count,
.res-nightmode .searchfacets h4.title,
.res-nightmode .tabpane-content .flairrow a.author,
.res-nightmode .unvotable-message,
.res-nightmode .usertext .bottom-area a,
.res-nightmode .wiki-page .pageactions .wikiaction,
.res-nightmode .wiki-page .wiki-page-content em,
.res-nightmode html .comment .score,
.res-nightmode html .content > .menuarea,
.res-nightmode html .dropdown.lightdrop .selected,
.res-nightmode html .link .entry .buttons li .redditSingleClick,
.res-nightmode html .res #userbarToggle,
.res-nightmode html .res .content .RESBigEditorPop,
.res-nightmode select:disabled {
  @include v.theme("color", v.$secondary-text, true, false, "!important");
}

.res-nightmode .expando-button,
.res-nightmode .expando-button.image,
.res-nightmode .footer.rounded,
.res-nightmode html #RESStyleSheetTipPane,
.res-nightmode html .toggleButton .toggleOff,
.res-nightmode ul.image-preview-list li,
html .res-nightmode .hover-bubble {
  @include v.theme("border-color", v.$line, true, false, "!important");
}

.res-nightmode #header .tabmenu:before,
.res-nightmode #images,
.res-nightmode #sr-header-area,
.res-nightmode .action-form,
.res-nightmode .commentarea > .usertext,
.res-nightmode .footer.rounded .col ul.flat-vert.hover,
.res-nightmode .organic-listing .link,
.res-nightmode .organic-listing .link.compressed,
.res-nightmode .reddit-infobar.with-icon,
.res-nightmode .wiki-page .pageactions,
.res-nightmode .wiki-page .wikititle,
.res-nightmode ul.report-reasons,
html .res-nightmode #sr-header-area,
.res-nightmode #search input:hover,
.res-nightmode #sr-header-area .drop-choices,
.res-nightmode html .res #REScommentNavToggle,
.res-nightmode html .res .NERPageMarker,
.res-nightmode html .res-commentBoxes .comment .comment .comment,
.res-nightmode html .subredditInfoToolTip,
html .res-commentBoxes .comment .comment .comment .comment .comment,
html
  .res-commentBoxes
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
html
  .res-commentBoxes
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
html .res-nightmode #ad-frame,
html .res-nightmode #ad_main,
html .res-nightmode #images,
html .res-nightmode #newlink-with-image-upload #new-link-video-preview,
html
  .res-nightmode
  #newlink-with-image-upload
  #new-link-video-preview
  .video-preview-heading
  .video-cancel-button,
html .res-nightmode #newlink-with-image-upload .media-post-upload-progress,
html .res-nightmode #newlink-with-image-upload .media-progress-bar-container,
html .res-nightmode #previoussearch #moresearchinfo,
html .res-nightmode #search #searchexpando,
html .res-nightmode #search #searchexpando label,
html .res-nightmode #search #searchexpando select,
html .res-nightmode .account-activity-box,
html .res-nightmode .combined-search-page .searchfacets,
html .res-nightmode .combined-search-page > .content,
html .res-nightmode .commentarea > .sitetable > .comment,
html .res-nightmode .comments-page .link,
html .res-nightmode .comments-page .side .linkinfo,
html .res-nightmode .content .md pre,
html .res-nightmode .drop-choices a.choice:hover,
html .res-nightmode .flairoptionpane ul li .linkflair:hover,
html .res-nightmode .flairselector,
html .res-nightmode .flairselector li:hover,
html .res-nightmode .gold-accent.comment-visits-box,
html .res-nightmode .hover-bubble,
html .res-nightmode .leavemoderator a,
html .res-nightmode .linefield,
html .res-nightmode .linkinfo .shortlink input,
html .res-nightmode .login-form-side,
html .res-nightmode .md code,
html .res-nightmode .morelink,
html .res-nightmode .other-discussions-page .side .linkinfo,
html .res-nightmode .reason-popup-footer,
html .res-nightmode .reason-popup-header,
html .res-nightmode .reason-popup-innercontent,
html .res-nightmode .reddit-infobar.with-icon,
html .res-nightmode .search-page #previoussearch label,
html .res-nightmode .side .md pre,
html .res-nightmode .side .sidecontentbox,
html .res-nightmode .side .titlebox,
html .res-nightmode .side .titlebox .md h4 a,
html .res-nightmode .side .titlebox .tagline a.flairselectbtn,
html .res-nightmode .sponsorshipbox,
html .res-nightmode .stylesheet-customize-container .pretty-form,
html .res-nightmode .submit-page .roundfield,
html .res-nightmode .wiki-page .pageactions,
html .res-nightmode .wiki-page .pageactions .wikiaction-current,
html .res-nightmode .wiki-page .wiki-page-content,
html .res-nightmode .wiki-page .wikititle,
html .res-nightmode body.listing-page > .content,
html .res-nightmode body.other-discussions-page > .content,
html .res-nightmode ul.res-search-tabs li a {
  @include v.theme("background-color", v.$body, true, false, "!important");
}

.res-nightmode #sr-header-area .separator,
.res-nightmode #sr-header-area .sr-bar a,
.res-nightmode #sr-more-link,
.res-nightmode .separator,
.res-nightmode .sidebox .disabled .morelink a,
.res-nightmode .user .userkarma,
.res-nightmode html #RESShortcutsSort,
.res-nightmode html .res #RESShortcutsEditContainer {
  @include v.theme("color", v.$inactiveText, true, false, "!important");
}

.res-nightmode .c-btn-primary,
.res-nightmode .side .titlebox .md h3 a,
.res-nightmode .sidebox .morelink a,
.res-nightmode .titlebox .fancy-toggle-button .active:active,
.res-nightmode .titlebox .res-fancy-toggle-button.RESDashboardToggle,
.res-nightmode
  .titlebox
  .res-fancy-toggle-button.RESDashboardToggle.remove:active,
.res-nightmode body .btn {
  background: #d7dadc !important;
  color: #1a1a1b !important;
  border-color: #d7dadc !important;
}

.res-nightmode .c-btn-primary:active,
.res-nightmode .side .titlebox .md h3 a:active,
.res-nightmode .sidebox .morelink a:active,
.res-nightmode .titlebox .fancy-toggle-button .active,
.res-nightmode .titlebox .res-fancy-toggle-button.RESDashboardToggle.remove,
.res-nightmode .titlebox .res-fancy-toggle-button.RESDashboardToggle:active,
.res-nightmode body .btn:active {
  background: #0d0e0e !important;
  color: #d7dadc !important;
  border-color: #d7dadc !important;
}

.res-nightmode .c-btn-primary:hover,
.res-nightmode .side .titlebox .md h3 a:hover,
.res-nightmode .sidebox .morelink a:hover,
.res-nightmode .titlebox .fancy-toggle-button .active:hover,
.res-nightmode
  .titlebox
  .res-fancy-toggle-button.RESDashboardToggle.remove:hover,
.res-nightmode .titlebox .res-fancy-toggle-button.RESDashboardToggle:hover,
.res-nightmode body .btn:hover {
  background: #fff !important;
  color: #1a1a1b !important;
  border-color: #fff !important;
}

.res-nightmode .comments-page .side .linkinfo,
.res-nightmode .linefield,
.res-nightmode .linefield.mobile,
.res-nightmode .side .titlebox .tagline a.flairselectbtn {
  background: #1a1a1b !important;
  color: #828282 !important;
}

.res-nightmode #searchexpando,
.res-nightmode .content.submit .info-notice {
  background: #272727 !important;
}

.res-nightmode .comments-page .side .linkinfo .shortlink input {
  background-color: #272729 !important;
}

.res-nightmode .author-tooltip__head,
.res-nightmode .comments-page .link,
.res-nightmode .wiki-page .wiki-page-content,
.res-nightmode html .RESHover {
  background-color: #1a1a1b !important;
  color: #d7dadc !important;
  border-color: #343536 !important;
}

.res-nightmode .action-form .reason-prompt,
.res-nightmode .action-form li label,
.res-nightmode .author-tooltip__description,
.res-nightmode
  .combined-search-page
  .search-result
  .search-result-header
  .search-title,
.res-nightmode .comment .author,
.res-nightmode .comment .usertext .md,
.res-nightmode .commentarea .panestack-title .title,
.res-nightmode .flairselector h2,
.res-nightmode .link .entry .tagline a,
.res-nightmode .md h1,
.res-nightmode .md h3,
.res-nightmode .reddit-infobar.with-icon .md,
.res-nightmode .submit-page .roundfield span.title,
.res-nightmode .tabmenu li a,
.res-nightmode .tabpane-content .tagline a,
.res-nightmode .thing .title,
.res-nightmode .thing .title.loggedin.click,
.res-nightmode .wiki-page .wiki-page-content .wiki.md,
.res-nightmode .wiki-page .wiki-page-content .wiki.md h1,
.res-nightmode .wiki-page .wiki-page-content .wiki.md h2,
.res-nightmode html .RESDropdownList a,
.res-nightmode html .RESDropdownList a:visited,
.res-nightmode html .drop-choices a.choice,
.res-nightmode html .res #RESShortcuts,
html .res-nightmode #newlink-with-image-upload .media-uploading-label,
html .res-nightmode #previoussearch p,
html .res-nightmode #search #searchexpando label,
html .res-nightmode .RESDropdownList li,
html .res-nightmode .RESDropdownList li a,
html .res-nightmode .comments-page .side .linkinfo .score,
html .res-nightmode .content .thing .title:visited,
html .res-nightmode .content .thing.visited .title,
html .res-nightmode .gold-accent.comment-visits-box,
html .res-nightmode .hover-bubble,
html .res-nightmode .hover-bubble.multi-selector strong,
html .res-nightmode .link .entry .tagline a,
html .res-nightmode .linkflairlabel,
html .res-nightmode .md,
html .res-nightmode .md h1,
html .res-nightmode .md h3,
html .res-nightmode .md strong,
html .res-nightmode .mod-toolbox .removal-reason-title,
html .res-nightmode .pretty-form,
html .res-nightmode .reason-popup .reason-popup-content,
html .res-nightmode .reason-popup-header,
html .res-nightmode .search-page #previoussearch label,
html .res-nightmode .search-page #search input,
html .res-nightmode .search-result-body,
html .res-nightmode .side *,
html .res-nightmode .side .md .-blocks,
html .res-nightmode .side .md .-lists,
html .res-nightmode .side .md blockquote,
html .res-nightmode .side .md ol,
html .res-nightmode .side .md p,
html .res-nightmode .side .md pre,
html .res-nightmode .side .md table,
html .res-nightmode .side .md ul,
html .res-nightmode .sidebox.create .morelink a,
html .res-nightmode .submit-page #newlink.submit.content .btn,
html
  .res-nightmode
  .submit-page
  #newlink.submit.content
  .tabmenu.formtab
  .selected
  a,
html .res-nightmode .submit-page #url-field button,
html .res-nightmode .submit-page .roundfield .title,
html .res-nightmode .submit_text.enabled.roundfield .md,
html .res-nightmode .titlebox,
html .res-nightmode .titlebox:before,
html .res-nightmode .wiki-page .wikititle strong,
html .res-nightmode body .content input[type="text"]:hover,
html .res-nightmode body .content textarea:focus,
html .res-nightmode dd,
html .res-nightmode dt {
  color: #d7dadc !important;
}
html .res-nightmode #header-bottom-right,
html .res-nightmode #progressIndicator,
html .res-nightmode #userbarToggle,
html .res-nightmode .flair,
html .res-nightmode .icon-menu a,
html .res-nightmode .linkflairlabel,
html .res-nightmode .side,
html .res-nightmode .side .md ul,
html .res-nightmode .side .sidecontentbox .content,
html .res-nightmode .side .usertext-body .md ol,
html .res-nightmode .side .usertext-body .md ol ol,
html .res-nightmode .side .usertext-body .md ol ol li,
html .res-nightmode .tabmenu li a,
html .res-nightmode .voteWeight,
html .res-nightmode body .content {
  background-color: transparent !important;
}

// .res-nightmode html .guider_button,
// html .res-nightmode .sidebox.create .morelink,
// html .res-nightmode .submit-page #newlink.submit.content .btn,
// html .res-nightmode .submit-page #url-field button {
//   background-color: #d7dadc !important;
// }

// html .res-nightmode #newlink-with-image-upload .image-upload-drop-target,
// html .res-nightmode body .content .text,
// html .res-nightmode body .content textarea {
//   background-color: #1a1a1b !important;
//   border: 1px solid #343536 !important;
//   color: #d7dadc !important;
// }

// html .res-nightmode body .content input[type="password"],
// html .res-nightmode body .content input[type="text"],
// html .res-nightmode body .content input[type="url"] {
//   background-color: #272729 !important;
//   border: 1px solid #343536 !important;
//   color: #d7dadc !important;
// }

// html .res-nightmode .commentarea > .usertext,
// html .res-nightmode .side .spacer input,
// html .res-nightmode .side .titlebox h1.redditname:before {
//   background-color: #1a1a1b !important;
//   border-color: #343536 !important;
//   color: #d7dadc !important;
// }

// html .res-nightmode #search input[type="text"] {
//   padding: 0 55px 0 16px;
//   width: 100%;
//   height: 40px;
//   line-height: 30px;
//   background-color: rgba(0, 0, 0, 0.7);
// }

// html .res-nightmode #search #searchexpando {
//   height: 40px;
//   line-height: 30px;
//   border: 0 solid #edeff1;
// }

// html .res-nightmode #search #searchexpando label {
//   padding: 10px 8px;
// }

// html .res-nightmode .expando-button,
// html .res-nightmode .nav-buttons .nextprev a,
// html .res-nightmode .side .md pre {
//   border-color: #343536;
// }

// html .res-nightmode ul.res-search-tabs li a {
//   color: #828282;
// }

// .res-nightmode html #RESMainGearOverlay,
// html .res-nightmode .listing.search-result-listing,
// html .res-nightmode .res-searchHelper-searchPageTabs ul.res-search-tabs,
// html .res-nightmode body {
//   background-color: #030303 !important;
// }
