@use '../abstracts/mixins' as v;

table {
  margin: v.$padding 0;
  border-radius: v.$radius;
  > * {
    border-radius: 0px;
  }
  thead {
    background-color: v.getColor("table", "header-background");
    color: v.getColor("table", "header-background");
    tr {
      th {
        color: v.getColor("table", "header-color") !important;
        border: 1px solid v.getColor("table", "header-background") !important;
        label {
          color: v.getColor("table", "header-color") !important;
        }
      }
    }
  }
  tbody {
    tr {
      background-color: v.getColor("table", "even-row");
      &:nth-child(odd) {
        background-color: v.getColor("table", "odd-row");
      }
      td,
      th {
        color: #000;
        * {
          color: #000 !important;
        }
        border: 1px solid v.getColor("table", "border") !important;
        a {
          color: v.getColor("table", "link") !important;
        }
        span,
        label {
          color: #000;
        }
      }
    }
  }
}
