@use '../abstracts/mixins' as v;

.entry .tagline {
  margin-top: 3px;
  @include v.theme("color", v.$secondary-text);
  font: 12px Lato, Arial, sans-serif;
}

.link .entry .tagline {
  a {
    @include v.theme("color", v.$bodyText);
  }

  &:first-letter {
    text-transform: capitalize;
  }

  time {
    cursor: help;
  }

  a {
    &:hover {
      @include v.theme("color", v.$active);
      text-decoration: none;
    }

    &.author {
      margin-right: inherit;
    }
  }
}

.link .entry .tagline {
  .userattrs > a,
  .flair {
    // min-width: 16px;
    height: auto;
    border-radius: v.$radius;
    margin: 0 5px;
    padding: 2px 5px;
    font-size: 10px;
    background: transparent;
    @include v.theme("color", v.$lightText);
    border: none;
    &:hover {
      text-decoration: none;
      @include v.theme("color", v.$highlight);
    }
  }

  .userattrs {
    font-size: 0;
    > a {
      cursor: help;
    }
    .moderator {
      background: v.getColor("role", "moderator");
    }

    .admin {
      background: v.getColor("role", "admin");
    }

    .submitter {
      background: v.getColor("role", "submitter");
    }

    .friend {
      background: v.getColor("role", "friend");
    }
  }
}

.RESUserTagImage {
  &::after {
    display: none;
  }

  vertical-align: top;
  height: 10px;
  width: 16px;
  background-image: v.getImage("spritesheet");
  background-position: -32px -101px;
  opacity: 0.25;
  margin-left: 2px;
  transition: opacity 0.15s ease;
  margin-top: 2px;

  &:hover {
    opacity: 1;
  }
}
