@use '../abstracts/mixins' as v;

.res .thing .tagline,
.thing .tagline,
.link .entry .tagline {
  .score {
    @include v.theme("color", v.$bodyText);
  }
  .author {
    margin-top: 3px;
    @include v.theme("color", v.$bodyText);
    padding: 1px 4px;
    border-radius: v.$radius;
    font-size: 12px;
  }

  .userattrs {
    font-size: 0;
    > a {
      cursor: help;
    }
  }
  .moderator {
    @include v.theme("color", v.$lightText, $important: true);
    background: v.getColor("role", "moderator") !important;
  }

  .admin {
    @include v.theme("color", v.$lightText, $important: true);
    background: v.getColor("role", "admin");
  }

  .submitter,
  .submitter:hover {
    @include v.theme("color", v.$lightText, $important: true);
    background: v.getColor("role", "submitter");
  }

  .friend {
    @include v.theme("color", v.$lightText, $important: true);
    background: v.getColor("role", "friend");
  }
}

.flair {
  @include v.theme("background", v.$field);
}

.sidecontentbox,
.link .entry .tagline {
  .userattrs > a,
  .flair {
    // min-width: 16px;
    height: auto;
    border-radius: v.$radius;
    margin: 0 5px;
    padding: 2px 5px;
    font-size: 10px;
    @include v.theme("color", v.$lightText);
    border: none;
    &:hover {
      text-decoration: none;
    }
  }
}
