@use '../abstracts/mixins' as v;

.res .thing .tagline,
.thing .tagline,
.link .entry .tagline {
  a {
    margin-top: 3px;
    @include v.theme("color", v.$secondary-text);
    padding: 1px 4px;
    border-radius: v.$radius;
  }

  .userattrs {
    font-size: 0;
    > a {
      cursor: help;
    }
  }
  .moderator {
    background: v.getColor("role", "moderator") !important;
  }

  .admin {
    background: v.getColor("role", "admin");
  }

  .submitter,
  .submitter:hover {
    background: v.getColor("role", "submitter");
  }

  .friend {
    background: v.getColor("role", "friend");
  }
}

.author.submitter .thing .tagline .author.moderator {
  background-color: v.$moderator !important;
  @include v.theme("color", v.$lightText);
}
.link .entry .tagline {
  a {
    @include v.theme("color", v.$bodyText);
  }

  &:first-letter {
    text-transform: capitalize;
  }

  time {
    cursor: help;
  }
}

.sidecontentbox,
.link .entry .tagline {
  .userattrs > a,
  .flair {
    // min-width: 16px;
    height: auto;
    border-radius: v.$radius;
    margin: 0 5px;
    padding: 2px 5px;
    font-size: 10px;
    @include v.theme("color", v.$lightText);
    border: none;
    &:hover {
      text-decoration: none;
    }
  }
}
