@use '../abstracts/mixins' as v;

// resets for mod toolbox extension - /r/toolbox/
html {
  #tb-footer-block {
    display: none !important;
  }

  .tb-popup,
  .tb-jsapi-container,
  .tb-page-overlay,
  #tb-context-menu {
    * {
      border-radius: 0;
      color: #696969 !important;
    }
  }

  .tb-general-button,
  .tb-bracket-button,
  .tb-jsapi-container .tb-action-details,
  .tb-jsapi-author-container {
    border-radius: 0;
    @include v.theme("color", v.$bodyText, $important: true);
  }

  .tb-jsapi-container {
    th,
    td {
      color: #696969 !important;
    }
  }
  .tb-config-usernote-types thead th {
    @include v.theme("color", v.$lightText);
  }

  .mod-toolbox-rd #tb-feedback-window .tb-feedback-text {
    @include v.theme("background-color", v.$body);
  }
}
