// Video Player

// TODO: fix control offsets

.pinnable-content.pinned {
  .link {
    display: flex;

    .midcol {
      align-self: center;
    }

    .entry {
      display: flex;
      max-width: initial;
    }
  }

  .midcol,
  .top-matter,
  .reddit-video-player-root {
    position: initial;
  }

  .top-matter {
    order: 1;
    width: initial;
    align-self: center;
  }

  .expando {
    margin: 0 20px 0 0;
  }

  .invisible-when-pinned {
    display: none;
  }
}

#newlink-with-image-upload #new-link-video-preview {
  box-shadow: none !important;
}
