@use '../abstracts/mixins' as v;

$_css-class: "points";
$_desc: "ClippyPoints Awarded:  ";

/*Clippy Point Flair styling - Comments*/
.commentarea {
  .entry {
    padding-left: 40px;
  }
  .flair-,
  .side .tagline .flair- {
    &#{$_css-class} {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 0.4) 100%
        ),
        v.getImage("clippyflair");
      position: absolute;
      width: 50px;
      height: 50px;
      left: 35px;
      border-radius: v.$radius;
      @include v.stroke(v.$primary);
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      line-height: 50px;
      z-index: 1;

      &:hover:after {
        content: $_desc attr(title);
        position: absolute;
        left: -1px;
        font-size: 90%;
        line-height: 15px;
        margin-top: -2px;
        padding: 6px 6px;
        text-indent: 0;
        transform: translateY(-50%);
        @include v.theme("background-color", v.$banner-backgroundColor);
        @include v.stroke(v.$lightText);
        border-radius: v.$radius;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        transition: all 0.25s ease;
        white-space: nowrap;
        text-shadow: none;
        letter-spacing: 0px;
      }
    }
  }
}

.commentarea .thing,
.res .commentarea .thing,
html.res-commentBoxes.res-commentBoxes-rounded .comment {
  position: relative;
}

/*End Clippy Point Flair styling - Comments*/

/* Clippy Point Flair styling - Link Flair*/

.flair-,
.linkflair .res-nightmode .flair-,
.linkflair .flair- {
  &#{$_css-class} {
    font-weight: bold;
    @include v.theme("background-color", v.$lightText);
    border-width: 1px;
    @include v.theme("border-color", v.$bodyText);
    @include v.theme("background", v.$primary);
    @include v.theme("color", v.$lightText);
    border-style: none;

    &:hover:before {
      content: $_desc;
      position: relative;
      margin: 0em 0 0;
      @include v.theme("background-color", v.$banner-backgroundColor);
      border: 0px solid;
      padding: 0px 0px;
      transition: ease-in-out;
    }
  }
}

/* End Clippy Point Flair styling - Link Flair*/
