@use '../abstracts/mixins' as v;

$_css-class: "points";
$_desc: "ClippyPoints Awarded:  ";
$_margin: 80px;
$_offset: 25px;
$_left-pad: 5px;

//Clippy Point Flair styling - Comments

$_clippy-size: 50px;

.commentarea {
  .entry {
    margin-left: $_margin;
  }

  .flair- {
    &#{$_css-class} {
      background-color: transparent;
      border: none;
      background-image: v.getImage("clippyflair");
      position: absolute;
      width: $_clippy-size;
      height: $_clippy-size;
      left: ($_offset + $_left-pad);
      border-radius: v.$radius;
      @include v.theme("color", v.$primary);
      text-shadow: 0px 1px 0px #333333;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      line-height: $_clippy-size;
      &::after {
        content: $_desc attr(title);
        position: absolute;
        left: $_clippy-size;
        font-size: 90%;
        line-height: 15px;
        margin-top: -2px;
        padding: 6px 6px;
        @include v.theme("background-color", v.$banner-backgroundColor);
        @include v.theme("color", v.$lightText);
        border-radius: v.$radius;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        white-space: nowrap;
        transform: scaleX(0);
        transition: transform v.$transition ease;
        transform-origin: left center;
      }
      &:hover::after {
        transform: scaleX(1);
      }
      &::before {
        display: none;
      }
    }
  }

  form.usertext.cloneable.warn-on-unload {
    margin-left: $_margin - 24px;
  }
}

.commentarea .thing,
.res .commentarea .thing,
html.res-commentBoxes.res-commentBoxes-rounded .comment {
  position: relative;
}

//End Clippy Point Flair styling - Comments

// Clippy Point Flair styling - Link Flair
.link .entry .tagline,
.sidecontentbox,
.linkflair {
  .flair- {
    &#{$_css-class} {
      display: inline-flex;
      font-weight: bold;
      @include v.theme("background-color", v.$lightText);
      border-width: 1px;
      @include v.theme("border-color", v.$bodyText);
      @include v.theme("background", v.$primary);
      @include v.theme("color", v.$lightText);
      border-style: none;

      &::before {
        content: $_desc;
        // display: inline;
        @include v.theme("background-color", v.$banner-backgroundColor);
        white-space: nowrap;
        overflow: hidden;
        border: 0px solid;
        position: relative;
        width: 0 !important;
        transform: scaleX(0);
        transform-origin: left;
        transition-property: transform, width;
        transition-duration: v.$transition;
        transition-timing-function: ease;
      }
      &:hover {
        @include v.theme("color", v.$lightText);
        &::before {
          width: 130px !important;
          transform: scaleX(1);
        }
      }
    }
  }
}

// End Clippy Point Flair styling - Link Flair
