@use '../abstracts/mixins' as v;

// This is the one in the header
$_hdr-img-width: 263px;
$_img-pad: 5px;
$_hdr-img-height: v.$header-inner-height - ($_img-pad * 2);
$_img-margin-top: (v.$header-inner-height - $_hdr-img-height) / 2;

#header {
  #header-img {
    position: relative;
    z-index: 2;
  }
  .pagename {
    position: absolute;
    width: 100vw;
    left: 0;
    visibility: hidden;
    a {
      visibility: visible;
      margin-top: $_img-margin-top;
      height: $_hdr-img-height;
      width: $_hdr-img-width;
      position: relative;
      left: calc(50% - #{$_hdr-img-width / 2});
      background-image: v.getImage("title");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
    }
  }
}
