@use '../abstracts/mixins' as v;

$_search-height: 58px;
$_element-count: 3;
$_breakpoint: "extra-large";

// IE11 doesnt support nested calcs.
// sass interpolation strips meaningful whitespace
// hence awful lack of reuse here

$_internal-padding: v.$padding * ($_element_count + 2);
$_content-width-small: calc(100vw - #{(v.$container-margin-hor * 3)});
$_content-width-large: calc(
  100vw - #{v.$sidebar-width + (v.$container-margin-hor * 4)}
);

$_element-width-small: calc(
  ((100vw - #{(v.$container-margin-hor * 3)}) - #{$_internal-padding}) / #{$_element-count}
);
$_element-width-large: calc(
  (
      (100vw - #{v.$sidebar-width + (v.$container-margin-hor * 4)}) - #{$_internal-padding}
    ) / #{$_element-count}
);

$_submit-link-left-small: calc(
  (((100vw - #{(v.$container-margin-hor * 3)})) / #{$_element-count}) +
    (#{v.$padding} + 32px)
);

$_submit-link-left-large: calc(
  (
      ((100vw - #{v.$sidebar-width + (v.$container-margin-hor * 4)})) / #{$_element-count}
    ) + (#{v.$padding} + 32px)
);

$_submit-text-left-small: calc(
  (((100vw - #{(v.$container-margin-hor * 3)})) / #{$_element-count}) * 2 +
    (#{v.$padding} * #{$_element-count})
);

$_submit-text-left-large: calc(
  (
      ((100vw - #{v.$sidebar-width + (v.$container-margin-hor * 4)})) / #{$_element-count}
    ) * 2 + (#{v.$padding} * #{$_element-count})
);

body div.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $_content-width-small;
  overflow: hidden;
  // @include v.container;
  margin-top: $_search-height + v.$container-margin-vert * 2;
  @include v.respond-to($_breakpoint) {
    max-width: $_content-width-large;
  }
}

body .side {
  visibility: hidden;
  width: 0;
  border: none;
  @include v.pargin(0);
  @include v.respond-to($_breakpoint) {
    visibility: visible;
    width: v.$sidebar-width;
    margin: v.$container-margin-vert v.$container-margin-hor 108px 0;
    // @include v.container;
    // padding: 1rem;
  }

  #search {
    visibility: visible;
    position: absolute;
    left: v.$container-margin-hor;
    top: v.$header-height + v.$container-margin-vert;
    height: $_search-height;
    @include v.thing(true);
    @include v.container;
    width: $_content-width-small;
    padding: 8px 16px;
    z-index: 1;
    @include v.respond-to($_breakpoint) {
      width: $_content-width-large;
    }

    input {
      width: $_element-width-small;
      @include v.respond-to($_breakpoint) {
        width: $_element-width-large;
      }

      &[type="submit"] {
        height: 32px;
        width: 32px;
        margin-left: -38px;
        background: v.getImage("spritesheet") -64px -97px no-repeat;
        border: none !important;
        border-radius: 16px;
        transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background: rgba(158, 158, 158, 0.2) v.getImage("spritesheet") -64px -97px
            no-repeat;
        }
      }
    }

    #searchexpando {
      width: $_element-width-small;
      border: none;
      margin: 0;
      padding: 4px;
      height: auto;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      @include v.respond-to($_breakpoint) {
        width: $_element-width-large;
      }
      label {
        cursor: pointer;
        transition: all 0.1s ease;

        &:active {
          background: rgba(0, 0, 0, 0.06);
        }
        input {
          width: auto;
        }
      }

      p {
        display: none !important;
      }
    }
  }

  .submit {
    visibility: visible;
    position: absolute;
    top: v.$header-height + v.$container-margin-vert;
    z-index: 2;
    height: 1px;
    min-height: $_search-height;
    width: $_element-width-small;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    @include v.respond-to($_breakpoint) {
      width: $_element-width-large;
    }
    &-link {
      left: $_submit-link-left-small;
      @include v.respond-to($_breakpoint) {
        left: $_submit-link-left-large;
      }
    }
    &-text {
      left: $_submit-text-left-small;
      @include v.respond-to($_breakpoint) {
        left: $_submit-text-left-large;
      }
    }
  }
}
