@use '../abstracts/mixins' as v;

// This is the one in the sidebar

.side .titlebox h1.redditname a {
  display: block;
  height: 50px;
  width: 100%;
  background-image: v.getImage("sidebar-img");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
}

// End Addon
