/* Reddit Name */

#header .pagename {
  font-size: 0;

  a {
    display: inline-block;
    line-height: 42px;
    @include v.theme("color", v.$bodyText);
    font: normal 700 42px/42px Lato, Arial, sans-serif;
    @include v.stroke(v.$body);
    text-transform: v.$title-case;
  }
}
