// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use '../abstracts/mixins' as v;

//  Set up a decent box model on the root element

html {
  box-sizing: border-box;
  // border-radius: v.$radius;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: inherit;
}

// Apply top level theme properties

* {
  font-family: v.$base-font;
  // @include theme("background", $body);
}

body {
  overflow-x: hidden;
  @include v.theme("background", v.$canvas);
}

// Basic styles for links
a {
  @include v.theme("color", v.$linkText);
  transition: color 0.15s ease;
}

// selection styles

::-moz-selection,
::selection {
  background: v.getColor("selection", "background");
  text-shadow: none;
  color: v.getColor("selection", "color");
}

:focus {
  outline: none !important;
}

.gray {
  @include v.theme("color", v.$secondary-text);
}

.separator {
  border-radius: 0px;
}

.md,
.md p,
.md .-headers,
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  @include v.theme("color", v.$bodyText);
}
