@use '../abstracts/mixins' as v;

.footer-parent {
  position: relative;
  margin-top: 60px;
  height: 180px;
  @include v.theme("border-top", v.$body, false, true, "50px solid");
  background: v.getImage("footer") 50% (0 / cover) no-repeat;
  padding: 65px 200px 40px;
}

.footer.rounded {
  position: absolute;
  top: -51px;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  max-width: none;
  height: 51px;
  @include v.theme("border", v.$line, false, true, "1px solid");
  border-radius: 0;
  padding: 0;
  text-align: center;
  .col {
    position: relative;
    margin: 0;
    width: auto;
    border: 0;
    padding: 0 20px;
    -webkit-flex: none;
    flex: none;
    @include v.theme("color", v.$bodyText);
    &:before {
      height: 60px;
      line-height: 50px;
      font-size: 14px;
    }
    &:nth-of-type(1):before {
      content: "About ";
    }
    &:nth-of-type(2):before {
      content: "Help ";
    }
    &:nth-of-type(3):before {
      content: "Apps & Tools ";
    }
    &:nth-of-type(4):before {
      content: "❤️ ";
    }
    &:after {
      display: inline-block;
      content: "▾";
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    ul.flat-vert.hover {
      position: absolute;
      left: 0;
      bottom: 50px;
      overflow: hidden;
      min-width: 100%;
      max-height: 0;
      @include v.theme("background", v.$body);
      text-transform: capitalize;
      transition: v.$transition;
      .flat-vert.title {
        display: none;
      }
      li {
        height: 20px;
        @include v.theme("border-bottom", v.$line, false, true, "1px solid");
        line-height: 20px;
        white-space: nowrap;
        font-size: 14px;
        transition: 0.5s;
        a {
          display: block;
          height: 100%;
          padding: 0 30px;
          @include v.theme("color", v.$bodyText, false, true, "1px solid");
          &:hover {
            @include v.theme("color", v.$linkText, false, true, "1px solid");
          }
        }
      }
    }
    &:hover {
      @include v.thing;
    }
    &:hover ul.flat-vert.hover,
    ul.flat-vert.hover:hover {
      max-height: 280px;
      li {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.debuginfo,
#hsts_pixel {
  background-color: transparent;
  position: absolute;
  margin-top: -30px;
}
