@use '../abstracts/mixins' as v;

// Body Content - Frontpage

body {
  div.content {
    @include v.thing(true);
    @include v.container(true);
    margin-right: (v.$container-margin-vert * 2) + v.$sidebar-width;

    .usertext-edit {
      width: 100%;
      .md {
        max-width: 100%;
      }
    }
  }
}

body:not(.subscriber) .content {
  margin-top: v.$container-margin-vert + v.$subscription-prompt-height;
}
