@use '../abstracts/mixins' as v;

// Footer
.footer-parent {
  height: 800px;
  margin-top: 192px;
  padding: 528px 0 64px;
  @if v.$themed-hdr-footer-img {
    // use if different images for light and dark
    @include v.colorSchemeQuery(
      "background-image",
      v.getImage("footer"),
      v.getImage("footer-dark")
    );
  } @else {
    // use if single header image for light and dark
    background-image: v.getImage("footer");
  }
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  @include v.thing(true);
  @include v.container(true);
  @include v.push--auto;
  max-width: 640px;

  .col {
    padding: 0 24px;
    border: none;
  }
}

.flat-vert.title {
  color: rgba(255, 255, 255, 0.7);
}

.bottommenu {
  a {
    color: rgba(255, 255, 255, 0.7);
  }

  color: rgba(255, 255, 255, 0.42);
}

.debuginfo,
#hsts_pixel {
  display: none;
}
