@use '../abstracts/mixins' as v;

// Footer
.footer-parent {
  height: 800px;
  margin-top: 192px;
  padding: 528px 0 64px;
  background: v.getImage("footer") 50% (0 / cover) no-repeat;
}

.footer {
  @include v.thing(true);
  @include v.container(true);
  @include v.push--auto;
  max-width: 640px;

  .col {
    padding: 0 24px;
    border: none;
  }
}

.flat-vert.title {
  color: rgba(255, 255, 255, 0.7);
}

.bottommenu {
  a {
    color: rgba(255, 255, 255, 0.7);
  }

  color: rgba(255, 255, 255, 0.42);
}

.debuginfo,
#hsts_pixel {
  display: none;
}
