@use '../abstracts/mixins' as v;

@use 'header-components/all';

// Header

#header {
  margin: 0;
  height: v.$header-height;
  border: none;
  border-radius: 0px;
  @include v.theme("background-color", v.$banner-backgroundColor);
  @if v.$themed-hdr-footer-img {
    // use if different images for light and dark
    @include v.colorSchemeQuery(
      "background-image",
      v.getImage("headerimg"),
      v.getImage("headerimg-dark")
    );
  } @else {
    // use if single header image for light and dark
    background-image: v.getImage("headerimg");
  }

  background-size: cover;
  background-repeat: no-repeat;

  z-index: 1;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);

  .pagename {
    height: v.$header-inner-height;
    font-size: 2rem;

    a {
      display: inline-block;
      line-height: v.$header-inner-height;
      @include v.theme("color", v.$bodyText);
      @include v.theme-stroke(v.$canvas);

      text-transform: v.$title-case;
    }
  }
}
