@use '../abstracts/mixins' as v;

@use 'header-components/all';

// Header

$_inner-height: v.$header-height - v.$subreddits-bar-height - v.$tabmenu-height;
$_snoo-height: 40px;
$_snoo-width: 42px;
$_snoo-margin-top: ($_inner-height - $_snoo-height) / 2;

#header {
  margin: 0;
  height: v.$header-height;
  border: none;
  border-radius: 0px;
  background: v.getImage("headerimg") 50% (50% / cover) no-repeat;
  z-index: 1;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);

  .pagename {
    height: $_inner-height;
    font-size: 2rem;

    a {
      display: inline-block;
      line-height: $_inner-height;
      @include v.theme("color", v.$bodyText);
      @include v.theme-stroke(v.$canvas);

      text-transform: v.$title-case;
    }
  }
}

#header-img.default-header {
  margin-top: $_snoo-margin-top;
  margin-left: v.$container-margin-hor;
  z-index: 99;
  width: 42px;
  height: 40px;
  background-image: v.getImage("snoo-sprite");
  background-position: -0 -0;
  vertical-align: top;
  font-size: 0;

  &:hover {
    background-position: -42px -0;
  }
}
