@use '../abstracts/mixins' as v;

@use 'header-components/all';

// Header

#header {
  margin: 0;
  height: v.$header-height;
  border: none;
  border-radius: 0px;
  background: v.getImage("headerimg") 50% (50% / cover) no-repeat;
  z-index: 1;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}
