@use '../abstracts/mixins' as v;

// fetch sidebar components
@use 'sidebar-components/all';

$_linkinfo-height: 98px;

// Sidebar
body {
  .side {
    margin: v.$container-margin-vert v.$container-margin-hor 108px 0;
    padding: 0;
    background: none;
    width: v.$sidebar-width;

    .flair:before {
      margin-left: 0;
    }

    .spacer {
      margin: 0 0 16px;
    }
  }
  &:not(.subscriber) {
    &.comments-page,
    &.other-discussions-page {
      .side {
        margin-top: (v.$container-margin-vert * 2) + $_linkinfo-height +
          v.$subscription-prompt-height;
        .linkinfo {
          top: v.$container-margin-vert + v.$header-height +
            v.$subscription-prompt-height;
        }
      }
    }
    .side {
      margin-top: v.$container-margin-vert + v.$subscription-prompt-height;
    }
  }
}

// Sidebar

// comments page has linkinfo box to add

.comments-page,
.other-discussions-page {
  .side {
    margin-top: (v.$container-margin-vert * 2) + $_linkinfo-height;
    .linkinfo {
      position: absolute;
      top: v.$container-margin-vert + v.$header-height;
      padding: v.$padding;
      width: v.$sidebar-width;
      height: $_linkinfo-height;
      @include v.theme("background", v.$body);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
      border: none;
      @include v.theme("color", v.$secondary-text);
      .date {
        @include v.theme("color", v.$secondary-text);
        &:first-letter {
          text-transform: capitalize;
        }
      }
      .score {
        @include v.theme("color", v.$bodyText);
        margin-top: 8px;
      }
      .score .word,
      .score .number,
      .views .unit,
      .views .view-count {
        font-size: 14px;
      }
      .shortlink {
        font-size: 90%;
        margin-top: -2px;
        visibility: hidden;
        input {
          @include v.theme("background-color", v.$field);
          border: none;
          margin: 0 -16px;
          padding: 10px v.$padding;
          visibility: visible;
          width: v.$sidebar-width;
        }
        // input,
        // .res.comments-page .side {
        //   margin-top: 414px;
        // }
      }
    }
  }
}
